Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

feat: v6.2.0 upgrade handler for Canon4
  app/upgrades.go
Due: app

adding miss counters grpc api
  proto/umee/oracle/v1/query.proto
  proto/umee/uibc/v1/query.proto
  x/oracle/keeper/grpc_query.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota/grpc_query.go
Due: modules

added cli queries
  x/uibc/client/cli/query.go
  x/uibc/quota/grpc_query.go
Due: modules

++
  x/uibc/client/cli/query.go
Due: modules

removed all-inflows and added quota expires grpc req
  proto/umee/uibc/v1/query.proto
  x/uibc/client/cli/query.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota/grpc_query.go
Due: modules

fix the build issue
  go.mod
  go.sum
Due: none

fix the build issue (#2353)
  go.mod
  go.sum
Due: none

address the review comments
  x/oracle/keeper/grpc_query.go
  x/uibc/client/cli/query.go
  x/uibc/quota/grpc_query.go
Due: modules

feat: add oracle miss counters and ibc inflows grpc api (#2352)
  proto/umee/oracle/v1/query.proto
  proto/umee/uibc/v1/query.proto
  x/oracle/keeper/grpc_query.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
  x/uibc/client/cli/query.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota/grpc_query.go
Due: modules

fix: metoken endblocker should be before oracle
  app/app.go
Due: app

fix: metoken endblocker should be before oracle (#2358)
  app/app.go
Due: app

adding dispatcher test
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_module_int_test.go
Due: modules

add tests
  tests/tsdk/codec.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_module_int_test.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: modules

add leverage keeper to uics20 module
  x/uibc/uics20/ibc_module.go
Due: modules

update module initializer
  app/app.go
  x/uibc/uics20/ibc_module.go
Due: app, modules

lint
  x/uibc/quota/ibc_middleware.go
  x/uibc/uics20/ibc_module.go
Due: modules

feat(uibc): adding ICS 20 memo handler (#2349)
  app/app.go
  proto/umee/uibc/v1/uibc.proto
  tests/tsdk/codec.go
  x/uibc/ics20.go
  x/uibc/quota/ibc_middleware.go
  x/uibc/quota/quota.go
  x/uibc/uibc.pb.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_module_int_test.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

remove the v6.2 upgrade handler
  app/upgrades.go
  x/uibc/quota/migrations.go
Due: app, modules

chore: bump cosmos sdk
  go.mod
  go.sum
Due: none

added fee to price and balances query
  proto/umee/metoken/v1/metoken.proto
  swagger/swagger.yaml
  util/coin/coin.go
  x/metoken/client/tests/cli_test.go
  x/metoken/client/tests/suite.go
  x/metoken/client/tests/tests.go
  x/metoken/keeper/fee.go
  x/metoken/keeper/fee_test.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/price.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/swap.go
  x/metoken/metoken.pb.go
Due: modules

rollback a change
  x/metoken/keeper/price.go
Due: modules

proto changes, except uibc
  proto/umee/leverage/v1/query.proto
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: none

test fixed
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/mocks/metoken.go
Due: modules

proto
  proto/umee/metoken/v1/metoken.proto
  swagger/swagger.yaml
  x/metoken/metoken.pb.go
Due: none

adding inflows to token
  x/uibc/quota/quota.go
Due: modules

feat(uibc): add missing params to MsgGovUpdateQuota
  proto/umee/uibc/v1/tx.proto
  proto/umee/uibc/v1/uibc.proto
  swagger/swagger.yaml
  x/uibc/tx.pb.go
  x/uibc/uibc.pb.go
Due: none

feat(uibc): update GovUpdateQuota
  x/uibc/quota/params.go
Due: modules

add new checkers helper methods
  util/checkers/number.go
  util/checkers/number_test.go
Due: none

update tests
  x/uibc/msg.go
  x/uibc/msg_test.go
  x/uibc/quota/intest/msg_server_test.go
  x/uibc/quota/msg_server.go
  x/uibc/quota/params.go
  x/uibc/quota/params_test.go
Due: modules

implement query
  x/leverage/keeper/grpc_query.go
Due: modules

--
  x/leverage/keeper/grpc_query.go
Due: modules

test
  x/leverage/keeper/grpc_query_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

lint
  x/uibc/msg.go
  x/uibc/msg_test.go
Due: modules

lint
  CHANGELOG.md
Due: none

lint
  proto/umee/leverage/v1/query.proto
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/types/query.pb.go
  x/uibc/uibc.pb.go
Due: modules

update the changelog
  CHANGELOG.md
Due: none

added tests for record ibc inflow
  x/uibc/quota/intest/quota_test.go
Due: modules

feat(uibc): ignore IBC memo handling
  x/uibc/uics20/ibc_module.go
Due: modules
