Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

remove title and description from leverage MsgGovUpdateRegistry
  proto/umee/leverage/v1/tx.proto
  x/leverage/types/tx.pb.go
Due: none

msg implementation update after removal deprecated fields
  util/checkers/proposal.go
  x/leverage/types/msgs.go
  x/leverage/types/proposal.go
  x/ugov/msg.go
  x/uibc/msg.go
Due: modules

update migrations
  app/upgradev3x3/migrate.go
Due: app

update ValidateBasic
  x/ugov/msg.go
  x/uibc/msg.go
Due: modules

update interface runtime check
  app/upgradev3x3/migrate.go
  x/leverage/types/codec.go
Due: app, modules

tests
  tests/grpc/gov.go
Due: none

fix import cycle
  util/checkers/proposal.go
Due: none

emergency UpdateQuotaParams
  x/leverage/keeper/msg_server.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/msg_server.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

emergency GovSetIBCStatus
  x/uibc/quota/keeper/msg_server.go
  x/uibc/quota/keeper/params.go
Due: modules

tests
  x/uibc/quota/ics4_wrapper_test.go
  x/uibc/quota/keeper/intest/suite_test.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

lint
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/params_test.go
Due: modules

feat: integrate emergency group with IBC Quota (#2191)
  app/app.go
  util/checkers/proposal.go
  x/leverage/keeper/msg_server.go
  x/uibc/quota/ics4_wrapper_test.go
  x/uibc/quota/keeper/intest/suite_test.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/msg_server.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/unit_test.go
Due: app, modules

add ProposalDescription
  util/checkers/proposal.go
Due: none

chore: regenerate proto
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
  x/leverage/types/events.pb.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/tx.pb.go
  x/metoken/events.pb.go
  x/metoken/genesis.pb.go
  x/metoken/metoken.pb.go
  x/metoken/query.pb.go
  x/metoken/tx.pb.go
  x/oracle/types/events.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/tx.pb.go
  x/ugov/ugov.pb.go
  x/uibc/events.pb.go
  x/uibc/genesis.pb.go
  x/uibc/query.pb.go
  x/uibc/quota.pb.go
  x/uibc/tx.pb.go
Due: none

completed swap unit tests
  x/metoken/keeper/swap_test.go
Due: modules

fix upgrade
  app/upgrades.go
Due: app

fix the lint and build issue
  x/leverage/keeper/position.go
  x/leverage/simulation/operations.go
Due: modules

fix the tests
  x/leverage/types/documented_test.go
  x/leverage/types/position_test.go
Due: modules

fix the markdown lint
  x/leverage/EXAMPLES.md
  x/leverage/README.md
Due: none

feat: special asset pairs full implementation (#2178)
  util/coin/coin.go
  util/coin/fixtures.go
  x/leverage/EXAMPLES.md
  x/leverage/README.md
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/position.go
  x/leverage/simulation/operations.go
  x/leverage/types/documented_test.go
  x/leverage/types/position.go
  x/leverage/types/position_change.go
  x/leverage/types/position_test.go
  x/leverage/types/weighted_coin.go
Due: modules

redeem tests
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/redeem_test.go
Due: modules

pr comments
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/metoken.go
  x/metoken/msgs.go
Due: modules

fix: metoken improvements and fixes (#2193)
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/metoken_test.go
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/price.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/swap.go
  x/metoken/mocks/metoken.go
  x/metoken/msgs.go
Due: modules

fix the amino-json sign on MsgLeveragedLiquidate
  x/leverage/types/codec.go
Due: modules

fix the amino-json sign on MsgLeveragedLiquidate (#2196)
  x/leverage/types/codec.go
Due: modules

test: adding unit test for x/metoken swap and redeem (#2194)
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/redeem_test.go
  x/metoken/keeper/swap_test.go
Due: modules

query change
  app/wasm/query/handle_metoken.go
  app/wasm/query/types.go
  app/wasm/query/whitelist.go
  proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/query.proto
  tests/e2e/setup/setup.go
  x/leverage/keeper/oracle.go
  x/leverage/types/errors.go
  x/metoken/client/cli/query.go
  x/metoken/keeper/fee.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/price.go
  x/metoken/keeper/price_test.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/swap.go
  x/metoken/metoken.pb.go
  x/metoken/price.go
  x/metoken/query.pb.go
  x/metoken/query.pb.gw.go
  x/uibc/mocks/keepers.go
Due: app, modules

rollback naming replacements
  tests/e2e/setup/setup.go
  x/leverage/keeper/oracle.go
  x/leverage/types/errors.go
  x/metoken/client/cli/query.go
  x/uibc/mocks/keepers.go
Due: modules

WIP: allow the duplicate symbols on leverage token registry
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/token.go
Due: modules

fix the miss counter for duplicate symbol denoms
  x/oracle/abci.go
Due: modules

tests fixed
  proto/umee/metoken/v1/query.proto
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/query.pb.go
Due: modules

test fixes after merge
  x/metoken/keeper/redeem_test.go
  x/metoken/keeper/swap_test.go
Due: modules

+
  x/leverage/keeper/msg_server_test.go
Due: modules

update the changelog and add comments about oracle votes on abci
  CHANGELOG.md
  x/oracle/abci.go
Due: modules

readme update
  util/checkers/proposal.go
  x/leverage/keeper/token.go
Due: modules

Update proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/metoken.proto
Due: none

update the changelog
  CHANGELOG.md
Due: none

pr comments
  x/metoken/genesis.go
  x/metoken/index.go
  x/metoken/index_test.go
  x/metoken/keeper/fee.go
  x/metoken/keeper/fee_test.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/price.go
  x/metoken/keeper/price_test.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/redeem_test.go
  x/metoken/keeper/reserves.go
  x/metoken/keeper/swap.go
  x/metoken/price.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
