Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

fix: changelog
  CHANGELOG.md
Due: none

fix: changelog (#1991)
  CHANGELOG.md
Due: none

fix: Makefile
  Makefile
Due: none

fix: Makefile (#1992)
  Makefile
Due: none

chore: bump Cosmos SDK to 0.46.12
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

chore: bump Cosmos SDK to 0.46.12 (#1993)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

chore: add comment for errMsg in outflow tests
  x/uibc/quota/keeper/grpc_query_test.go
Due: modules

chore: remove errMsg from outflow tests
  x/uibc/quota/keeper/grpc_query_test.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/msg_server_test.go
Due: modules

feat: use cli.PrintOrErr in x/incentive
  x/incentive/client/cli/query.go
Due: modules

suggestion++
  app/app.go
Due: app

suggestion++
  proto/umee/incentive/v1/genesis.proto
Due: none

suggestion++
  util/keys/keys_test.go
Due: none

tests: add more data to test grpc outflows on uibc (#1986)
  x/uibc/quota/keeper/genesis_test.go
  x/uibc/quota/keeper/grpc_query_test.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/msg_server_test.go
Due: modules

suggestion++
  util/keys/keys.go
Due: none

feat: use cli.PrintOrErr in x/incentive (#1994)
  x/incentive/client/cli/query.go
Due: modules

finished spec
  x/metoken/README.md
Due: none

lint fixes
  x/metoken/README.md
Due: none

more lint fixes
  x/metoken/README.md
Due: none

remove 404 links
  x/metoken/README.md
Due: none

do not override heeper when setting hooks
  app/app.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/suite_test.go
Due: app, modules

implement proto change suggestions
  proto/umee/incentive/v1/genesis.proto
  proto/umee/incentive/v1/incentive.proto
  x/incentive/genesis.go
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/keeper/store.go
  x/incentive/keeper/unbonding.go
  x/incentive/keeper/update.go
  x/incentive/program.go
Due: modules

addressing pr comments
  x/metoken/README.md
Due: none

suggestion++
  x/incentive/genesis.go
Due: modules

suggested whitespace (app)
  app/app.go
Due: app

implement all util/keys changes
  util/keys/keys.go
  util/keys/keys_test.go
  x/incentive/keeper/iter.go
Due: modules

fix merge
  x/incentive/client/cli/query.go
Due: modules

WIP: add the custom handlers for cosmwasm
  app/experimental_appconfig.go
  app/wasm/custom_plugins.go
  app/wasm/msg/handler_leverage.go
  app/wasm/msg/plugin.go
  app/wasm/msg/types.go
  app/wasm/query/handle_leverage.go
  app/wasm/query/handle_oracle.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
Due: app

suggestion++
  x/incentive/keeper/bond.go
Due: modules

validate functions for genesis subtypes
  x/incentive/genesis.go
  x/incentive/program.go
Due: modules

genesis test stub
  x/incentive/genesis_test.go
Due: modules

fix: fix the lint
  app/wasm/query/plugin.go
Due: app

add gov create programs test
  x/incentive/genesis.go
  x/incentive/keeper/internal_test.go
  x/incentive/keeper/leverage_test.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/program.go
  x/incentive/keeper/suite_test.go
  x/incentive/msgs.go
Due: modules

review: address the pr comments
  app/wasm/msg/handler_leverage.go
  app/wasm/msg/plugin.go
Due: app

emergency unbond test
  x/incentive/keeper/msg_server_test.go
Due: modules

msg sponsor tests
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/msg_server_test.go
Due: modules
