Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

feat(x/metoken) rewards auction integration (#2513)
  proto/umee/auction/v1/events.proto
  proto/umee/leverage/v1/events.proto
  proto/umee/metoken/v1/metoken.proto
  swagger/swagger.yaml
  util/bpmath/bp.go
  util/bpmath/bp_test.go
  util/bpmath/fixed_bp.go
  util/bpmath/fixed_bp_test.go
  x/auction/events.go
  x/auction/events.pb.go
  x/leverage/keeper/oracle.go
  x/leverage/types/events.pb.go
  x/metoken/expected_keepers.go
  x/metoken/genesis.go
  x/metoken/keeper/fee.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/redeem_test.go
  x/metoken/keeper/swap.go
  x/metoken/keeper/swap_test.go
  x/metoken/keeper/unit_test.go
  x/metoken/metoken.pb.go
  x/metoken/params.go
Due: modules

fix(auction): use correct account linking for x/leverage
  app/app.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/keeper.go
Due: app, modules

fix(auction): use correct account linking for x/metoken
  app/app.go
  x/auction/keeper/keeper.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/keeper.go
  x/metoken/keeper/unit_test.go
Due: app, modules

fix(auction) link rewards accounts (#2516)
  app/app.go
  x/auction/keeper/keeper.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/keeper.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/keeper.go
  x/metoken/keeper/unit_test.go
Due: app, modules

feat(store): LoadAllKV
  util/bytes.go
  util/store/iter.go
  util/store/number.go
  util/store/slice.go
  util/store/slice_test.go
  util/store/store.go
  util/store/store_test.go
  util/store/types.go
Due: none

chore(util)\!: move UintWithNullPrefix to oracle module
  util/bytes.go
  util/bytes_test.go
  x/oracle/types/keys.go
  x/oracle/types/keys_test.go
Due: modules

feature(auction) genesis
  proto/umee/auction/v1/genesis.proto
  x/auction/genesis.go
  x/auction/genesis.pb.go
  x/auction/keeper/genesis.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/rewards.go
  x/auction/module/module.go
Due: modules

lint
  x/auction/keeper/rewards.go
  x/auction/module/module.go
Due: modules

remove tmp files
  util/store/slice.go
  util/store/slice_test.go
Due: none

test genesis
  x/auction/keeper/genesis_test.go
  x/auction/keeper/init_test.go
Due: modules

chore: use tsdk.NewCodec
  x/ugov/keeper/intest/keeper.go
  x/uibc/quota/unit_test.go
Due: modules

tests
  x/auction/keeper/genesis_test.go
  x/auction/keeper/init_test.go
Due: modules

feature(auction) genesis (#2517)
  proto/umee/auction/v1/genesis.proto
  util/store/slice.go
  util/store/slice_test.go
  x/auction/genesis.go
  x/auction/genesis.pb.go
  x/auction/keeper/genesis.go
  x/auction/keeper/genesis_test.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/init_test.go
  x/auction/keeper/rewards.go
  x/auction/module/module.go
  x/ugov/keeper/intest/keeper.go
  x/uibc/quota/unit_test.go
Due: modules

Update README.md
  x/leverage/README.md
Due: none

docs(validator): add community snapshots
  docs/VALIDATOR.md
Due: none

params: set right auction default params
  x/auction/msgs.go
Due: modules

feat(auction): add cli
  x/auction/client/cli/query.go
  x/auction/client/cli/tx.go
  x/auction/module/module.go
  x/uibc/client/cli/query.go
  x/uibc/client/cli/tx.go
Due: modules

Update x/auction/client/cli/tx.go
  x/auction/client/cli/tx.go
Due: modules

feat(auction): add cli (#2521)
  x/auction/client/cli/query.go
  x/auction/client/cli/tx.go
  x/auction/module/module.go
  x/uibc/client/cli/query.go
  x/uibc/client/cli/tx.go
Due: modules

feat(auction): finalize events
  proto/umee/auction/v1/events.proto
  proto/umee/auction/v1/query.proto
  x/auction/events.pb.go
  x/auction/keeper/rewards.go
  x/auction/query.pb.go
Due: modules

feat(auction): upgrade handler and params
  app/upgrades.go
  x/leverage/types/params.go
  x/metoken/params.go
Due: app, modules

lint(sdkclient) use grpc.NewClient instead of Dial
  sdkclient/query/client.go
Due: none

feat(auction): finalize events (#2525)
  proto/umee/auction/v1/events.proto
  proto/umee/auction/v1/query.proto
  x/auction/events.pb.go
  x/auction/keeper/rewards.go
  x/auction/query.pb.go
Due: modules

fix
  app/upgrades.go
Due: app

update metoken params name and docs
  app/upgrades.go
  proto/umee/metoken/v1/metoken.proto
  swagger/swagger.yaml
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/swap.go
  x/metoken/keeper/swap_test.go
  x/metoken/metoken.pb.go
  x/metoken/params.go
Due: app, modules

update leverage params name and docs
  app/upgrades.go
  proto/umee/leverage/v1/leverage.proto
  proto/umee/metoken/v1/metoken.proto
  swagger/swagger.yaml
  x/leverage/fixtures/params.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/interest_test.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/params.go
  x/metoken/metoken.pb.go
Due: app, modules

lint
  x/leverage/fixtures/params.go
  x/leverage/types/params.go
  x/metoken/params.go
Due: modules

fix the build issue
  app/app.go
Due: app

update params value
  app/upgrades.go
Due: app

lint
  app/upgrades.go
Due: app

fix default params
  x/leverage/types/params.go
  x/metoken/params.go
Due: modules

feat(auction): upgrade handler and params (#2526)
  app/upgrades.go
  proto/umee/leverage/v1/leverage.proto
  proto/umee/metoken/v1/metoken.proto
  swagger/swagger.yaml
  x/leverage/fixtures/params.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/interest_test.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/params.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/swap.go
  x/metoken/keeper/swap_test.go
  x/metoken/metoken.pb.go
  x/metoken/params.go
Due: app, modules

WIP: add accounts_summary grpc query
  app/app.go
  proto/umee/leverage/v1/query.proto
  x/leverage/keeper/accounts_summary.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/keeper.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: app, modules

fix: fix the grpc client connection
  sdkclient/query/client.go
Due: none

add cli query for accounts summary
  x/leverage/client/cli/query.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/suite_test.go
Due: modules

fix the lint
  x/leverage/client/cli/query.go
Due: modules

fix the lint
  sdkclient/query/client.go
Due: none

fix the test issue
  x/leverage/keeper/accounts_summary.go
Due: modules

update the changelog
  CHANGELOG.md
Due: none

rename the account summaries
  proto/umee/leverage/v1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/keeper/accounts_summary.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: modules
