Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

chore: fix some comments (#2573)
  app/inflation/inflation_test.go
  app/wasm/query/types.go
  tests/e2e/e2e_ibc_test.go
  tests/qa/cw/cw_test.go
  util/ibc/ibc.go
Due: app

chore: upgrade handler for v6_6-rc1 for canon-4 network (#2574)
  app/upgrades.go
  x/auction/genesis.go
  x/auction/msgs.go
Due: app, modules

update release notes
  CHANGELOG.md
  RELEASE_NOTES.md
  x/auction/README.md
Due: none

update release notes (#2575)
  CHANGELOG.md
  RELEASE_NOTES.md
  x/auction/README.md
Due: none

chore: remove repeat words
  x/incentive/keeper/scenario_test.go
  x/leverage/types/keys.go
  x/leverage/types/token.go
  x/uibc/quota/quota_test.go
Due: modules

update the params for mainnet
  app/upgrades.go
  x/auction/genesis.go
  x/auction/msgs.go
Due: app, modules

update the params for mainnet (#2580)
  app/upgrades.go
  x/auction/genesis.go
  x/auction/msgs.go
Due: app, modules

fix: fix the goreleaser
  .github/workflows/release-umee.yml
  .goreleaser.yml
Due: none

fix: fix the goreleaser (#2581)
  .github/workflows/release-umee.yml
  .goreleaser.yml
Due: none

rebase main to release/v6.6 branch (#2582)
  .github/workflows/release-umee.yml
  .goreleaser.yml
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
  x/auction/README.md
  x/auction/genesis.go
  x/auction/msgs.go
Due: app, modules

fix: fix the block time in tests
  app/test_helpers.go
Due: app

fix: fix the block time in tests (#2592)
  app/test_helpers.go
Due: app

chore: remove repeat words (#2579)
  x/incentive/keeper/scenario_test.go
  x/leverage/types/keys.go
  x/leverage/types/token.go
  x/uibc/quota/quota_test.go
Due: modules

Merge branch 'main' into dependabot/go_modules/github.com/mgechev/revive-1.3.9
  go.sum
Due: none

update the go version
  .github/workflows/codeql-analysis.yml
  go.mod
Due: none

remove x/exp
  go.mod
  go.sum
Due: none

fix price issue
  tests/e2e/e2e_ibc_test.go
Due: none

fix: skip the gosec G115
  .golangci.yml
Due: none

fix: don't cancel jobs which are required
  .github/workflows/release-umee-docker.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
Due: none

fix the go mod tidy
  go.mod
Due: none

get the token price if token is blacklisted also
  x/leverage/keeper/oracle.go
Due: modules

get the token price if token is blacklisted also (#2615)
  x/leverage/keeper/oracle.go
Due: modules

adding upgrade handler v6.7 rc1 for canon-4
  app/upgrades.go
Due: app

adding upgrade handler v6.7 rc1 for canon-4 (#2616)
  app/upgrades.go
Due: app

downgrade comet-db
  go.mod
  go.sum
Due: none

downgrade comet-db (#2618)
  go.mod
  go.sum
Due: none

update the readme and changelog and relaese notes
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

update the release title in docs
  RELEASE_NOTES.md
Due: none

update the doc
  CHANGELOG.md
Due: none

docs: update the readme and changelog and release notes (#2619)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

change the upgrade name from v6.7-rc1 to v6.7.0-rc1
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

change the upgrade name from v6.7-rc1 to v6.7.0-rc1 (#2620)
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

changed upgrade name from rc1 to stable
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

changed upgrade name from rc1 to stable (#2622)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

fix: fix the query for max withdraw
  x/leverage/keeper/grpc_query.go
Due: modules

update the docker
  .github/workflows/codeql-analysis.yml
  .github/workflows/debug.yml
  .github/workflows/lint.yml
  .github/workflows/release-umee.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
Due: none

fix: fix the query for max withdraw (#2638)
  .github/workflows/codeql-analysis.yml
  .github/workflows/debug.yml
  .github/workflows/lint.yml
  .github/workflows/release-umee.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  x/leverage/keeper/grpc_query.go
Due: modules

update the release notes and changelog for v6.7.1
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

update the release notes and changelog for v6.7.1 (#2639)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Upgrade handler added v6.7.0-rc1 back
  app/upgrades.go
Due: app

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
