Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

only getting accounts which did supply
  x/leverage/keeper/accounts_summary.go
Due: modules

feat: adding new accounts summary query (#2527)
  CHANGELOG.md
  app/app.go
  proto/umee/leverage/v1/query.proto
  x/leverage/client/cli/query.go
  x/leverage/keeper/accounts_summary.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/suite_test.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: app, modules

fix the account summary grpc
  x/leverage/keeper/accounts_summary.go
Due: modules

fix the account summary grpc (#2528)
  x/leverage/keeper/accounts_summary.go
Due: modules

testing: set auction params for the feature testnet
  app/upgrades.go
  x/auction/genesis.go
Due: app, modules

feat(oracle): add slashing events
  proto/umee/oracle/v1/events.proto
  swagger/swagger.yaml
  x/oracle/types/events.pb.go
Due: none

add events
  x/oracle/keeper/slash.go
Due: modules

changelog
  CHANGELOG.md
Due: none

lint
  x/auction/keeper/rewards.go
Due: modules

feat(auction): enable endblocker
  x/auction/module/module.go
Due: modules

feat(oracle): add slashing events (#2532)
  CHANGELOG.md
  proto/umee/oracle/v1/events.proto
  swagger/swagger.yaml
  x/auction/keeper/rewards.go
  x/oracle/keeper/slash.go
  x/oracle/types/events.pb.go
Due: modules

fix FinalizeAuction and add tests
  x/auction/keeper/init_test.go
  x/auction/keeper/rewards.go
  x/auction/keeper/rewards_test.go
Due: modules

fix endblocker
  x/auction/keeper/rewards.go
Due: modules

feat(auction): enable endblocker (#2533)
  x/auction/keeper/init_test.go
  x/auction/keeper/rewards.go
  x/auction/keeper/rewards_test.go
  x/auction/module/module.go
Due: modules

fix: fix the auction creation in every block
  Makefile
  x/auction/keeper/rewards.go
Due: modules

++
  x/auction/keeper/rewards.go
Due: modules

set auction id 0 on query
  x/auction/keeper/rewards.go
Due: modules

fix: fix the auction creation in every end block (#2536)
  Makefile
  x/auction/keeper/rewards.go
Due: modules

chore: remove repeat word
  check_a_or_an.sh
  check_dup_word.sh
  check_html_tag.sh
  get_all_eth.sh
  get_all_go.sh
  get_all_rust.sh
  x/incentive/keeper/scenario_test.go
  x/leverage/types/keys.go
  x/leverage/types/token.go
  x/uibc/quota/quota_test.go
Due: modules

fix the amount collect to reward auction fee colletor
  x/auction/keeper/rewards.go
  x/leverage/keeper/oracle.go
Due: modules

update the mid bid to auction bid
  x/auction/keeper/rewards.go
Due: modules

fix the bidder address on genesis export
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/query.proto
  x/auction/auction.pb.go
  x/auction/keeper/genesis_test.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/rewards.go
  x/auction/module/genesis.go
  x/auction/query.pb.go
Due: modules

Add feeabs
  ante/ante.go
  app/app.go
  go.mod
  go.sum
Due: app

update the release notes for v6.5
  RELEASE_NOTES.md
Due: none

fix(auction): last bid
  x/auction/keeper/rewards.go
Due: modules

fix(auction): last bid (#2543)
  x/auction/keeper/rewards.go
Due: modules

refactor the bidder code
  x/auction/keeper/rewards.go
Due: modules

proto format
  proto/umee/auction/v1/query.proto
Due: none

fix the remaining rewards to next bid
  x/auction/keeper/rewards.go
Due: modules

address check
  x/auction/keeper/rewards.go
Due: modules

fix: fix the rewards collects for bid (#2539)
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/query.proto
  x/auction/auction.pb.go
  x/auction/keeper/genesis_test.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/rewards.go
  x/auction/module/genesis.go
  x/auction/query.pb.go
  x/leverage/keeper/oracle.go
Due: modules

docs(auction): x/auction protocol docs
  x/uibc/README.md
Due: none

update matrix
  README.md
Due: none

add intro to auction module
  RELEASE_NOTES.md
Due: none

docs(auction): x/auction protocol docs
  x/auction/README.md
Due: none

chore(auction): return error on Not Found auction ID
  x/auction/keeper/grpc_query.go
Due: modules

lint
  x/auction/keeper/grpc_query.go
  x/auction/keeper/rewards.go
Due: modules

chore(auction): return error on Not Found auction ID (#2544)
  x/auction/keeper/grpc_query.go
  x/auction/keeper/rewards.go
Due: modules
