Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

chore: update ibc-go
  go.mod
  go.sum
Due: none

WIP: improving the e2e tests with gorelayer
  tests/e2e/docker/gaia.Dockerfile
  tests/e2e/docker/gorelayer.Dockerfile
Due: none

WIP: improving the e2e tests with gorelayer
  Makefile
  tests/e2e/e2e_ibc_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/scripts/gorelayer.sh
  tests/e2e/setup/gorelayer.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
Due: none

fixed almost all e2e tests
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: none

fix
  tests/e2e/e2e_leverage_test.go
Due: none

using gorelayer for ibc channels creation and hermes for ibc txn b/w chains
  Makefile
  tests/e2e/e2e_ibc_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/scripts/gorelayer.sh
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/scripts/relayer/configs/gaia-test-1.json
  tests/e2e/scripts/relayer/configs/umee-test-1.json
  tests/e2e/scripts/relayer/paths/rly-path.json
  tests/e2e/setup/chain.go
  tests/e2e/setup/gaia.go
  tests/e2e/setup/gorelayer.go
  tests/e2e/setup/ibc.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
Due: none

decrease time to check ibc channel checking
  tests/e2e/setup/gorelayer.go
  x/oracle/simulations/operations.go
Due: modules

fix
  tests/e2e/setup/price-feeder.go
Due: none

another try
  tests/e2e/setup/price-feeder.go
Due: none

start adjusting timeouts
  tests/e2e/e2e_oracle_test.go
Due: none

start adjusting timeouts
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/e2e_metoken_test.go
  tests/e2e/e2e_oracle_test.go
  tests/e2e/setup/price-feeder.go
Due: none

try with the new image
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/e2e_metoken_test.go
  tests/e2e/e2e_oracle_test.go
  tests/e2e/setup/setup.go
Due: none

chore: update ibc-go (#2290)
  go.mod
  go.sum
Due: none

Update release-umee.yml
  .github/workflows/release-umee.yml
Due: none

update upgrade name
  app/upgrades.go
Due: app

Update tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_ibc_test.go
Due: none

WIP: adding quota v2
  proto/umee/uibc/v1/genesis.proto
  proto/umee/uibc/v1/quota.proto
  x/uibc/genesis.pb.go
  x/uibc/params.go
  x/uibc/quota.pb.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
Due: modules

added ibc upgrade, removed metoken from added list
  ante/ante.go
  app/upgrades.go
Due: app

small fixes
  app/upgradev3/min_commission_test.go
  app/wasm/query/handle_oracle.go
  app/wasm/query/plugin.go
  app/wasm/query/querier.go
  app/wasm/query/whitelist.go
  app/wasm/test/cw20_base_test.go
  client/client.go
  cmd/umeed/cmd/app_creator.go
  cmd/umeed/cmd/root.go
  cmd/umeed/main.go
Due: app, client

lint and re-add test
  app/wasm/query/plugin.go
  app/wasm/query/whitelist.go
  app/wasm/test/cw20_base_test.go
  cmd/umeed/cmd/app_creator.go
  sdkclient/client.go
  sdkclient/tx/client.go
  tests/cli/suite.go
  tests/e2e/e2e_leverage_test.go
Due: app

lint
  tests/e2e/e2e_oracle_test.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: none

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
