Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

rename fix
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/e2e_metoken_test.go
  tests/e2e/e2e_oracle_test.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
Due: none

account sequence: use expcted value on retry
  client/client.go
  tests/e2e/setup/utils.go
Due: client

fix delegation
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
Due: none

fix the storeupgrade for metoken on v6.1.0
  app/upgrades.go
Due: app

pf
  tests/e2e/setup/price-feeder.go
Due: none

fix
  tests/e2e/setup/gaia.go
Due: none

fix: fix the store upgrade for metoken on v6.1.0 (#2278)
  app/upgrades.go
Due: app

fix
  app/app.go
Due: app

switch account on meToken test
  tests/e2e/e2e_metoken_test.go
Due: none

log every ibc tx
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
Due: none

modify logs
  tests/e2e/setup/utils.go
Due: none

logs++
  tests/e2e/e2e_ibc_test.go
Due: none

revert one addr change in ibc
  tests/e2e/e2e_ibc_test.go
Due: none

++
  tests/e2e/e2e_ibc_test.go
Due: none

++
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
Due: none

why was this working before? x2 fixed
  tests/e2e/e2e_ibc_test.go
Due: none

diagnose
  tests/e2e/e2e_ibc_test.go
Due: none

is that the last of them?
  tests/e2e/e2e_ibc_test.go
  tests/grpc/gov.go
Due: none

feat(oracle): change max spot price age
  x/leverage/keeper/oracle.go
Due: modules

oracle tests
  tests/e2e/e2e_oracle_test.go
  tests/e2e/setup/utils.go
Due: none

Revert "build(deps): Bump github.com/spf13/viper from 1.16.0 to 1.17.0 (#2275)"
  go.mod
  go.sum
Due: none

tidy
  go.sum
Due: none

exceed quota more reliably
  tests/e2e/e2e_ibc_test.go
Due: none

rewrite ibc test to use reliable amounts (not > or < quota based on rounding)
  tests/e2e/e2e_ibc_test.go
Due: none

fix
  tests/e2e/e2e_ibc_test.go
Due: none

add log
  tests/e2e/e2e_ibc_test.go
Due: none

skip ibc e2e
  tests/e2e/e2e_ibc_test.go
Due: none

fix: e2e test reliability (#2276)
  Makefile
  client/client.go
  go.mod
  go.sum
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/e2e_metoken_test.go
  tests/e2e/e2e_oracle_test.go
  tests/e2e/e2e_test.go
  tests/e2e/setup/accounts.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/e2e/setup/validator.go
  tests/grpc/gov.go
Due: client

WIP: testing ibc txn on e2e tests
  tests/e2e/docker/gaia.Dockerfile
  tests/e2e/docker/hermes.Dockerfile
  tests/e2e/e2e_ibc_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/setup/gaia.go
  tests/e2e/setup/ibc.go
  tests/e2e/setup/price-feeder.go
  tests/e2e/setup/utils.go
Due: none

fix leveraged liquidate not working during low liquidity
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/liquidate_test.go
Due: modules

cl
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
