Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: x/metoken balances and prices query improvements (#2198)
  app/wasm/query/handle_metoken.go
  app/wasm/query/types.go
  app/wasm/query/whitelist.go
  proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/query.proto
  x/metoken/client/cli/query.go
  x/metoken/genesis.go
  x/metoken/index.go
  x/metoken/index_test.go
  x/metoken/keeper/fee.go
  x/metoken/keeper/fee_test.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/price.go
  x/metoken/keeper/price_test.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/redeem_test.go
  x/metoken/keeper/reserves.go
  x/metoken/keeper/swap.go
  x/metoken/keeper/swap_test.go
  x/metoken/metoken.pb.go
  x/metoken/price.go
  x/metoken/query.pb.go
  x/metoken/query.pb.gw.go
Due: app, modules

gov messages: re-add description for emergency group execution
  proto/umee/leverage/v1/tx.proto
  proto/umee/uibc/v1/tx.proto
Due: none

update the inflation rate change from 1 year to 6 months
  app/inflation/inflation.go
Due: app

fix: allow the duplicate symbols on leverage token registry (#2197)
  CHANGELOG.md
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/token.go
  x/oracle/abci.go
Due: modules

add tests for inflation rate change params
  app/inflation/inflation_test.go
Due: app

lint fix
  x/oracle/simulations/operations.go
Due: modules

regenerate
  swagger/swagger.yaml
  x/leverage/types/tx.pb.go
  x/metoken/metoken.pb.go
  x/uibc/tx.pb.go
Due: none

remove registered errors
  util/checkers/proposal.go
  x/leverage/types/errors.go
  x/leverage/types/msgs.go
  x/leverage/types/token.go
Due: modules

import fix
  util/checkers/proposal.go
Due: none

update uibc gov ValidateBasic
  x/uibc/msg.go
Due: modules

add tests
  util/checkers/proposal.go
  util/checkers/proposal_test.go
  x/leverage/types/msgs.go
  x/uibc/msg.go
Due: modules

address tests cases reviews
  app/inflation/inflation.go
  app/inflation/inflation_test.go
Due: app

leverage tests
  util/checkers/proposal.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/token_test.go
Due: modules

fix TestUpdateRegistry
  x/leverage/keeper/msg_server_test.go
Due: modules

use checkers.GovModuleAddr
  x/incentive/keeper/unit_test.go
  x/leverage/keeper/msg_server_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
Due: modules

fix leverage tests
  x/leverage/keeper/msg_server_test.go
Due: modules

simplify
  x/leverage/keeper/msg_server_test.go
Due: modules

linter
  app/upgradev3x3/migrate.go
  util/checkers/proposal.go
  x/leverage/types/msgs.go
Due: app, modules

more tests
  util/checkers/proposal.go
  x/ugov/msg_test.go
  x/uibc/msg_test.go
  x/uibc/quota/keeper/intest/msg_server_test.go
Due: modules

fix uibc tests
  tests/grpc/gov.go
  x/uibc/quota/keeper/intest/msg_server_test.go
Due: modules

fix
  x/metoken/keeper/intest/msg_server_test.go
Due: modules

add check for min inflation test
  app/inflation/inflation_test.go
Due: app

weighted coin sorting
  x/leverage/types/token_test.go
  x/leverage/types/weighted_coin_test.go
Due: modules

lint
  x/oracle/simulations/operations.go
Due: modules

++
  x/leverage/types/weighted_coin_test.go
Due: modules

test weightedDecCoins total
  x/leverage/types/weighted_coin_test.go
Due: modules

add edge case resilience to WeightedDecCoins.Add
  x/leverage/types/weighted_coin.go
Due: modules

++
  x/leverage/types/weighted_coin.go
  x/leverage/types/weighted_coin_test.go
Due: modules

++
  x/leverage/types/position_test.go
Due: modules

cli suite
  tests/e2e/setup/io.go
  tests/util/chain.go
  tests/util/gaia.go
  tests/util/genesis.go
  tests/util/keys.go
  tests/util/validator.go
Due: none

cli suite usages changed
  tests/cli/suite.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/util/chain.go
  tests/util/gaia.go
  tests/util/genesis.go
  tests/util/keys.go
  tests/util/utils.go
  tests/util/validator.go
  x/incentive/client/tests/cli_test.go
  x/incentive/client/tests/suite.go
  x/incentive/client/tests/tests.go
  x/leverage/client/tests/cli_test.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
  x/ugov/client/tests/cli_test.go
  x/ugov/client/tests/query_test.go
  x/ugov/client/tests/suite_test.go
  x/uibc/client/tests/cli_test.go
  x/uibc/client/tests/query_test.go
  x/uibc/client/tests/suite_test.go
Due: modules

lint
  tests/cli/suite.go
  x/leverage/client/tests/tests.go
Due: modules

lint2
  x/oracle/simulations/operations.go
Due: modules

string methods and WeightedDecCoins Add test
  x/leverage/types/documented_test.go
  x/leverage/types/position.go
  x/leverage/types/string.go
  x/leverage/types/weighted_coin_test.go
Due: modules

WeidhgtedDecCoins Sub test and edge case clarification
  x/leverage/types/weighted_coin.go
  x/leverage/types/weighted_coin_test.go
Due: modules

fix matching denom WeightedNormalPair sorting bug
  x/leverage/types/weighted_coin.go
  x/leverage/types/weighted_coin_test.go
Due: modules

test WeightedNormalPairs before()
  x/leverage/types/weighted_coin_test.go
Due: modules

test WeightedSpecialPairs before()
  x/leverage/types/weighted_coin_test.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
