Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

Apply suggestions from code review
  x/uibc/README.md
Due: none

docs: ics20 hooks (#2465)
  x/uibc/README.md
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

v6.4 Release Notes
  CHANGELOG.md
  RELEASE_NOTES.md
  x/uibc/README.md
Due: none

feat: reards auction proto
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/genesis.proto
  proto/umee/auction/v1/query.proto
  proto/umee/auction/v1/tx.proto
  proto/umee/ugov/v1/tx.proto
  x/auction/auction.pb.go
  x/auction/genesis.pb.go
  x/auction/query.pb.go
  x/auction/query.pb.gw.go
  x/auction/tx.pb.go
Due: none

lint
  proto/umee/auction/v1/query.proto
  proto/umee/auction/v1/tx.proto
  x/auction/query.pb.go
  x/auction/tx.pb.go
Due: none

update genesis
  proto/umee/auction/v1/genesis.proto
  x/auction/genesis.pb.go
Due: none

fix
  proto/umee/auction/v1/tx.proto
  x/auction/tx.pb.go
Due: none

add usd rewards
  proto/umee/auction/v1/query.proto
  x/auction/query.pb.go
Due: none

update params
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/genesis.proto
  x/auction/auction.pb.go
  x/auction/genesis.pb.go
Due: none

add events
  proto/umee/auction/v1/events.proto
  proto/umee/auction/v1/genesis.proto
  proto/umee/auction/v1/tx.proto
  x/auction/events.pb.go
  x/auction/genesis.pb.go
  x/auction/tx.pb.go
Due: none

update
  proto/umee/auction/v1/genesis.proto
  proto/umee/auction/v1/query.proto
  x/auction/genesis.pb.go
  x/auction/query.pb.go
Due: none

feat: auction module
  x/auction/codec.go
  x/auction/expected_keepers.go
  x/auction/genesis.go
  x/auction/keys.go
  x/auction/module/genesis.go
  x/auction/module/module.go
  x/auction/rewards/genesis.go
  x/auction/rewards/keeper.go
Due: modules

module wiring
  app/app.go
  x/auction/keeper/genesis.go
  x/auction/keeper/keeper.go
  x/auction/module/module.go
  x/auction/rewards/keeper.go
Due: app, modules

chore(unification): rename KeeperBuilder to Builder
  app/app.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/keeper.go
  x/metoken/keeper/unit_test.go
  x/ugov/keeper/intest/keeper.go
  x/ugov/keeper/keeper.go
  x/uibc/module/module.go
  x/uibc/quota/genesis.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/intest/suite_test.go
  x/uibc/quota/keeper.go
  x/uibc/quota/msg_server.go
  x/uibc/quota/unit_test.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ibc_module_test.go
  x/uibc/uics20/ics4_wrapper.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

un-wire crisis from umee app
  app/app.go
  app/export.go
  app/upgrades.go
Due: app

Apply suggestions from code review
  proto/umee/auction/v1/genesis.proto
  proto/umee/auction/v1/query.proto
Due: none

feat: reards auction proto (#2469)
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/events.proto
  proto/umee/auction/v1/genesis.proto
  proto/umee/auction/v1/query.proto
  proto/umee/auction/v1/tx.proto
  proto/umee/ugov/v1/tx.proto
  x/auction/auction.pb.go
  x/auction/events.pb.go
  x/auction/genesis.pb.go
  x/auction/query.pb.go
  x/auction/query.pb.gw.go
  x/auction/tx.pb.go
Due: none

fix: regenerate proto
  proto/umee/auction/v1/genesis.proto
  x/auction/genesis.pb.go
  x/auction/query.pb.go
  x/auction/query.pb.gw.go
Due: none

chore(unification): rename KeeperBuilder to Builder (#2471)
  app/app.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/keeper.go
  x/metoken/keeper/unit_test.go
  x/ugov/keeper/intest/keeper.go
  x/ugov/keeper/keeper.go
  x/uibc/module/module.go
  x/uibc/quota/genesis.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/intest/suite_test.go
  x/uibc/quota/keeper.go
  x/uibc/quota/msg_server.go
  x/uibc/quota/unit_test.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ibc_module_test.go
  x/uibc/uics20/ics4_wrapper.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

syntax
  app/app.go
Due: app

comment
  x/auction/codec.go
Due: modules

fix app keys
  app/app.go
Due: app

fix codec
  x/auction/codec.go
Due: modules

fix(ugov amino): don't use proto.MessageName
  x/ugov/codec.go
Due: modules

feat: auction module (#2470)
  app/app.go
  x/auction/codec.go
  x/auction/expected_keepers.go
  x/auction/genesis.go
  x/auction/keeper/genesis.go
  x/auction/keeper/keeper.go
  x/auction/keys.go
  x/auction/module/genesis.go
  x/auction/module/module.go
Due: app, modules

comments
  x/auction/codec.go
  x/ugov/codec.go
Due: modules

removed custom crisis module wrapper
  app/app.go
  app/modules.go
Due: app

update the changelog
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

fix(ugov amino): don't use proto.MessageName (#2473)
  CHANGELOG.md
  x/auction/codec.go
  x/ugov/codec.go
Due: modules

feat(proto): add messagename_all option to all messages
  proto/umee/auction/v1/tx.proto
  proto/umee/incentive/v1/tx.proto
  proto/umee/leverage/v1/tx.proto
  proto/umee/metoken/v1/tx.proto
  proto/umee/oracle/v1/tx.proto
  proto/umee/ugov/v1/tx.proto
  proto/umee/uibc/v1/tx.proto
  x/auction/tx.pb.go
  x/incentive/tx.pb.go
  x/metoken/tx.pb.go
  x/oracle/types/tx.pb.go
  x/ugov/tx.pb.go
Due: none

lint
  CHANGELOG.md
Due: none

feat(proto): add messagename_all option to all messages (#2474)
  CHANGELOG.md
  proto/umee/auction/v1/tx.proto
  proto/umee/incentive/v1/tx.proto
  proto/umee/leverage/v1/tx.proto
  proto/umee/metoken/v1/tx.proto
  proto/umee/oracle/v1/tx.proto
  proto/umee/ugov/v1/tx.proto
  proto/umee/uibc/v1/tx.proto
  x/auction/tx.pb.go
  x/incentive/tx.pb.go
  x/metoken/tx.pb.go
  x/oracle/types/tx.pb.go
  x/ugov/tx.pb.go
Due: none

fix the tests issue
  CHANGELOG.md
  app/app.go
Due: app

refactor: un-wire crisis module from umee app (#2472)
  CHANGELOG.md
  app/app.go
  app/export.go
  app/modules.go
  app/upgrades.go
Due: app

update auction proto
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/tx.proto
  x/auction/auction.pb.go
  x/auction/tx.pb.go
Due: none

checkers: number
  util/checkers/number.go
  util/checkers/number_test.go
Due: none

feat(checkers): coin checker functions
  util/checkers/coin.go
  util/checkers/coin_test.go
  util/checkers/helper_test.go
Due: none
