Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

chore: prepare v6.1 release
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  app/upgrades.go
  x/oracle/migrations/exg_rates_migrations.go
Due: app, modules

chore: Bump Cosmos SDK to v0.46.15
  go.mod
  go.sum
Due: none

add cosmos-sdk update
  CHANGELOG.md
Due: none

chore: Bump Cosmos SDK to v0.46.15 (#2287)
  go.mod
  go.sum
Due: none

lint
  CHANGELOG.md
Due: none

lint
  README.md
Due: none

chore: prepare v6.1 release (#2286)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  app/upgrades.go
  x/oracle/migrations/exg_rates_migrations.go
Due: app, modules

using testing docker images of gaia and hermes relayer
  tests/e2e/setup/gaia.go
  tests/e2e/setup/ibc.go
Due: none

fixing the tests
  tests/e2e/e2e_ibc_test.go
Due: none

fix the calculation on tests
  tests/e2e/e2e_ibc_test.go
Due: none

fix++
  tests/e2e/setup/ibc.go
Due: none

chore: change consensus.block.max_size to 10MB
  app/upgrades.go
Due: app

added more notes
  app/upgrades.go
Due: app

changelog
  CHANGELOG.md
Due: none

update release notes and changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

fix++
  tests/e2e/e2e_ibc_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
Due: none

++
  x/leverage/keeper/liquidate.go
Due: modules

fix govulncheck flow name
  .github/workflows/govulncheck.yml
Due: none

fix leveraged liquidate not working during low liquidity (#2285)
  .github/workflows/govulncheck.yml
  CHANGELOG.md
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/liquidate_test.go
Due: modules

release notes: validator notes
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

chore: change consensus.block.max_size to 4 MB (#2288)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

adding default hermes relayer image
  tests/e2e/setup/ibc.go
Due: none

using ghcr gaia
  tests/e2e/setup/gaia.go
Due: none

tests: testing ibc transactions on e2e tests (#2284)
  tests/e2e/docker/gaia.Dockerfile
  tests/e2e/docker/hermes.Dockerfile
  tests/e2e/e2e_ibc_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/setup/gaia.go
  tests/e2e/setup/ibc.go
  tests/e2e/setup/price-feeder.go
  tests/e2e/setup/utils.go
Due: none

fix conflicts
  go.mod
  go.sum
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
Due: none

fixing
  tests/e2e/docker/hermes.Dockerfile
  tests/e2e/scripts/hermes_bootstrap.sh
Due: none

fix more e2e tests
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: none
