Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

docs: update the release notes for v6.5 (#2542)
  README.md
  RELEASE_NOTES.md
Due: none

fix: missing gov router
  app/app.go
Due: app

refactor: Skipping the feeabstypes.ModuleName
  app/app.go
Due: app

chore: fix lint
  app/app.go
Due: app

added rewards info for toAuctionCheck
  x/leverage/keeper/interest.go
  x/leverage/keeper/oracle.go
Due: modules

fix the grpc of miss counter api
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
Due: modules

revert test params
  app/upgrades.go
  x/auction/genesis.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/oracle.go
Due: app, modules

update the changelog
  CHANGELOG.md
Due: none

fix: misscounters grpc-web get api (#2547)
  CHANGELOG.md
  x/leverage/keeper/interest.go
  x/leverage/keeper/oracle.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
Due: modules

fix: fix the ibc-transfer msg recv length check
  tests/e2e/e2e_ibc_test.go
  util/ibc/ibc.go
  util/ibc/ibc_test.go
  util/sdkutil/string.go
Due: none

fix: fix the ibc e2e tests
  tests/e2e/setup/utils.go
Due: none

fix: fix the lint
  util/ibc/ibc.go
  util/sdkutil/string.go
  x/oracle/keeper/historic_price.go
Due: modules

fix: fix the markdown lint
  docs/VALIDATOR.md
Due: none

fix: fix ibc transfer msg recv length check (#2550)
  CHANGELOG.md
  docs/VALIDATOR.md
  go.mod
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
  util/ibc/ibc.go
  util/ibc/ibc_test.go
  util/sdkutil/string.go
Due: none

update changelog,release notes and upgrade handler
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

update the release notes and tests pkg
  CHANGELOG.md
  RELEASE_NOTES.md
  tests/e2e/e2e_ibc_test.go
  tests/tsdk/string.go
  tests/tsdk/string_test.go
  util/ibc/ibc_test.go
  util/sdkutil/string.go
Due: none

fix: fix the tests
  tests/tsdk/string_test.go
Due: none

fix: ibc transfer memo and receiver length check (#2551)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
  tests/tsdk/string.go
  tests/tsdk/string_test.go
  util/ibc/ibc.go
  util/ibc/ibc_test.go
  x/oracle/keeper/historic_price.go
Due: app, modules

fix: ibc transfer memo and receiver length check (#2551)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  app/upgrades.go
  tests/e2e/e2e_ibc_test.go
  tests/tsdk/string.go
  tests/tsdk/string_test.go
  util/ibc/ibc_test.go
Due: app

fix
  CHANGELOG.md
  app/upgrades.go
Due: app

docs: update release notes
  RELEASE_NOTES.md
Due: none

matrix
  README.md
Due: none

lint
  RELEASE_NOTES.md
Due: none

docs: update release notes (#2554)
  README.md
  RELEASE_NOTES.md
Due: none

ibc-go
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

lint
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

fix: ibc transfer memo and receiver length check (#2551) (#2553)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  app/upgrades.go
  tests/e2e/e2e_ibc_test.go
  tests/tsdk/string.go
  tests/tsdk/string_test.go
  util/ibc/ibc_test.go
Due: app

fix: add grpc query router to ica keeper
  app/app.go
Due: app

fix the readme lint
  RELEASE_NOTES.md
Due: none

docs: bump ibc for v6.5 (#2555)
  README.md
  RELEASE_NOTES.md
  app/app.go
  go.mod
  go.sum
Due: app

chore: bump ibc
  README.md
  go.mod
  go.sum
Due: none

docs
  README.md
Due: none

chore: bump ibc
  README.md
  go.mod
Due: none

docs
  RELEASE_NOTES.md
Due: none

update the go.sum
  go.mod
  go.sum
Due: none

fix: fix the e2e tests
  tests/e2e/setup/utils.go
Due: none

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
