Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

fix
  x/oracle/abci.go
  x/oracle/keeper/historic_price.go
Due: modules

++fix
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

test and log
  x/oracle/keeper/historic_price.go
  x/oracle/keeper/historic_price_test.go
Due: modules

++
  x/leverage/types/position_test.go
Due: modules

++
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

ugov interface
  app/app.go
  x/leverage/types/expected_types.go
Due: app, modules

refactore(ugov): unify interfaces and mocks
  app/app.go
  app/inflation/expected_keepers.go
  app/inflation/inflation.go
  app/inflation/mocks/keepers.go
  contrib/scripts/mockgen.sh
  x/ugov/keeper/keeper.go
  x/ugov/keeper/keeper_interfaces.go
  x/ugov/keeper_interfaces.go
Due: app, modules

update inflation mocks
  app/inflation/inflation.go
  app/inflation/inflation_test.go
  contrib/scripts/mockgen.sh
  x/ugov/keeper/keeper.go
  x/ugov/keeper/unit_test.go
  x/ugov/keeper_interfaces.go
Due: app, modules

add ugov mocks
  x/ugov/mocks/constructors.go
  x/ugov/mocks/keepers.go
Due: modules

fix inflation tests
  app/inflation/inflation_test.go
  x/ugov/mocks/constructors.go
Due: app, modules

IKeeper -> Keeper
  x/ugov/keeper/keeper.go
  x/ugov/keeper/unit_test.go
  x/ugov/keeper_interfaces.go
  x/ugov/mocks/keepers.go
Due: modules

cleanup
  x/ugov/keeper/keeper.go
Due: modules

cosmetic
  x/ugov/keeper/keeper.go
Due: modules

refactore(ugov): unify interfaces and mocks (#2186)
  app/app.go
  app/inflation/expected_keepers.go
  app/inflation/inflation.go
  app/inflation/inflation_test.go
  app/inflation/mocks/keepers.go
  contrib/scripts/mockgen.sh
  x/ugov/keeper/keeper.go
  x/ugov/keeper/keeper_interfaces.go
  x/ugov/keeper/unit_test.go
  x/ugov/keeper_interfaces.go
  x/ugov/mocks/constructors.go
  x/ugov/mocks/keepers.go
Due: app, modules

++scenario
  x/leverage/types/documented_test.go
Due: modules

++ EXAMPLES.md
  x/leverage/EXAMPLES.md
  x/leverage/types/documented_test.go
Due: modules

reproduced testnet redeem edge case
  x/metoken/keeper/intest/msg_server_test.go
Due: modules

log improved
  x/oracle/keeper/historic_price.go
Due: modules

fix: x/oracle end_blocker panic (#2185)
  x/oracle/keeper/historic_price.go
  x/oracle/keeper/historic_price_test.go
Due: modules

fix merge
  x/leverage/keeper/position.go
Due: modules

sorting of pairs breaks ties using denom (alphabetical)
  x/leverage/types/documented_test.go
  x/leverage/types/weighted_coin.go
Due: modules

maxBorrow step 1: surplus collateral
  x/leverage/types/position.go
  x/leverage/types/position_change.go
  x/leverage/types/position_test.go
  x/leverage/types/weighted_coin.go
Due: modules

++
  x/leverage/types/position_change.go
Due: modules

++
  x/leverage/types/position.go
  x/leverage/types/position_change.go
Due: modules

merge
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/ugov.pb.go
Due: none

remove tm
  go.sum
  x/ugov/client/tests/query_test.go
Due: modules

fix build
  app/app.go
  app/inflation/expected_keepers.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/keeper.go
Due: app, modules

lint fix
  app/inflation/inflation.go
  app/inflation/inflation_test.go
  app/wasm/test/umee_cw_test.go
  util/bpmath/types.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/keeper.go
  x/metoken/module/module.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper_interfaces.go
Due: app, modules

make mocks
  app/inflation/mocks/keepers.go
Due: app

++
  x/leverage/types/documented_test.go
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

++validate
  x/leverage/types/errors.go
  x/leverage/types/position.go
Due: modules
