Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

tests in parallel
  util/checkers/number_test.go
Due: none

msgs implementation and tests
  x/auction/msgs.go
  x/auction/msgs_test.go
Due: modules

update checkers messages
  util/checkers/number.go
Due: none

comment
  proto/umee/auction/v1/tx.proto
  x/auction/tx.pb.go
Due: none

use coin for bid amount
  proto/umee/auction/v1/genesis.proto
  proto/umee/auction/v1/tx.proto
  x/auction/genesis.pb.go
  x/auction/tx.pb.go
Due: none

update msgs
  util/coin/fixtures.go
  x/auction/msgs.go
  x/auction/msgs_test.go
Due: modules

chore(coin): update u/umee sample coin names
  util/coin/fixtures.go
  x/incentive/genesis_test.go
  x/incentive/msgs_test.go
Due: modules

chore(coin): update u/umee sample coin names (#2478)
  util/coin/fixtures.go
  x/incentive/genesis_test.go
  x/incentive/msgs_test.go
Due: modules

update coin fixtures
  util/coin/fixtures.go
  x/auction/msgs_test.go
Due: modules

feat(auction) msgs interfaces and validation (#2475)
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/genesis.proto
  proto/umee/auction/v1/tx.proto
  util/checkers/number.go
  util/checkers/number_test.go
  util/coin/fixtures.go
  x/auction/auction.pb.go
  x/auction/genesis.pb.go
  x/auction/msgs.go
  x/auction/msgs_test.go
  x/auction/tx.pb.go
Due: modules

handle gmp message
  x/uibc/gmp/gmp_middleware.go
  x/uibc/gmp/gmp_middleware_test.go
  x/uibc/uics20/memo_handler.go
Due: modules

chore(setup): add editorconfig
  .editorconfig
Due: none

chore(setup): add editorconfig (#2480)
  .editorconfig
Due: none

debug ics20
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

++
  x/uibc/uics20/ibc_module.go
Due: modules

cosmetic
  x/uibc/gmp/gmp_middleware.go
Due: modules

address the review comments
  x/uibc/gmp/gmp_middleware.go
  x/uibc/gmp/gmp_middleware_test.go
  x/uibc/gmp/types.go
  x/uibc/uics20/memo_handler.go
Due: modules

remove the gmp handler
  x/uibc/gmp/gmp_middleware.go
  x/uibc/gmp/gmp_middleware_test.go
  x/uibc/uics20/memo_handler.go
Due: modules

++
  x/oracle/keeper/historic_price.go
  x/uibc/gmp/gmp_middleware.go
  x/uibc/gmp/gmp_middleware_test.go
  x/uibc/gmp/types.go
Due: modules

feat: handle gmp message for leverage messages (#2479)
  x/oracle/keeper/historic_price.go
  x/uibc/gmp/gmp_middleware.go
  x/uibc/gmp/gmp_middleware_test.go
  x/uibc/gmp/types.go
  x/uibc/uics20/memo_handler.go
Due: modules

build(deps): bump ibc-go
  go.mod
  go.sum
Due: none

fix(deps): remove golangci-lint
  Makefile
  go.mod
  go.sum
  tools/tools.go
Due: none

build(deps): bump google.golang.org/grpc
  go.mod
  go.sum
Due: none

docs: release matrix update
  README.md
Due: none

feat(auction): add bank interface
  app/app.go
  x/auction/expected_keepers.go
  x/auction/keeper/keeper.go
Due: app, modules

feat(auction): add noop query implementation
  x/auction/keeper/grpc_query.go
  x/auction/keeper/msg_server.go
  x/auction/keeper/params.go
  x/auction/keeper/rewards.go
  x/auction/module/module.go
Due: modules

feat(auction): add noop msg server implementation
  app/app.go
  x/auction/keeper/keeper.go
Due: app, modules

auction: update proto
  proto/umee/auction/v1/query.proto
  x/auction/query.pb.go
  x/auction/query.pb.gw.go
Due: none

decouple params into separate file
  app/app.go
  x/leverage/keeper/params.go
  x/leverage/keeper/store.go
Due: app, modules

finish querier
  x/auction/keeper/grpc_query.go
  x/auction/keeper/msg_server.go
  x/auction/keeper/rewards.go
Due: modules

decouple params into separate file (#2490)
  app/app.go
  x/leverage/keeper/params.go
  x/leverage/keeper/store.go
Due: app, modules

feat(auction): add noop msg server implementation (#2491)
  app/app.go
  proto/umee/auction/v1/query.proto
  x/auction/keeper/grpc_query.go
  x/auction/keeper/keeper.go
  x/auction/keeper/msg_server.go
  x/auction/keeper/params.go
  x/auction/keeper/rewards.go
  x/auction/module/module.go
  x/auction/query.pb.go
  x/auction/query.pb.gw.go
Due: app, modules

removed custom msgs and queries for cosmwasm
  app/app.go
  app/wasm/custom_plugins.go
  app/wasm/msg/handler_leverage.go
  app/wasm/msg/plugin.go
  app/wasm/msg/types.go
  app/wasm/query/handle_incentive.go
  app/wasm/query/handle_leverage.go
  app/wasm/query/handle_metoken.go
  app/wasm/query/handle_oracle.go
  app/wasm/query/plugin.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
Due: app

chore(setup): use go v1.22
  .github/workflows/debug.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/release-umee.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  contrib/scripts/go-mod-tidy-all.sh
  go.mod
Due: none

Apply suggestions from code review
  contrib/scripts/go-mod-tidy-all.sh
Due: none

changelog
  CHANGELOG.md
Due: none

formatting
  CHANGELOG.md
Due: none

chore(setup): use go v1.22 (#2494)
  .github/workflows/debug.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/release-umee.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  contrib/scripts/go-mod-tidy-all.sh
  go.mod
Due: none

chore(codec): use BinaryCodec rather than Codec
  util/store/store.go
  x/incentive/keeper/keeper.go
  x/leverage/keeper/keeper.go
  x/metoken/keeper/keeper.go
Due: modules

fix(auction): register missing Msgs with RegisterService
  x/auction/codec.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
