Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

move string funcs to util/sdkutil
  x/leverage/types/string.go
Due: modules

move string funcs to util/sdkutil
  util/sdkutil/string.go
Due: none

simplify position stringers
  x/leverage/types/documented_test.go
  x/leverage/types/string.go
Due: modules

stringer tests
  util/sdkutil/string_test.go
Due: none

fix cycle dependency
  x/ugov/keeper/genesis_test.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/unit_test.go
Due: modules

tests: add tests to check inflation rate speed change (#2189)
  app/inflation/inflation.go
  app/inflation/inflation_test.go
Due: app

swap e2e test
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/utils.go
Due: none

refactore(ugov): don't expose store internals (#2214)
  x/ugov/keeper/genesis_test.go
  x/ugov/keeper/intest/keeper.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/migrations.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/unit_test.go
  x/ugov/keys.go
  x/ugov/migrations/v2/store.go
  x/ugov/migrations/v2/store_test.go
Due: modules

fix test
  util/sdkutil/string.go
Due: none

fix metoken cli
  app/test_helpers.go
  x/metoken/client/tests/cli_test.go
Due: app, modules

fix metoken cli (#2225)
  app/test_helpers.go
  x/metoken/client/tests/cli_test.go
Due: app, modules

making metokens tests to experimental
  app/app.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/umee_cw_test.go
  x/metoken/client/tests/cli_test.go
  x/metoken/client/tests/suite.go
  x/metoken/client/tests/tests.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
Due: app, modules

fix txs
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/utils.go
Due: none

chore: making unit tests to experimental for metoken (#2226)
  app/app.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/umee_cw_test.go
  x/metoken/client/tests/cli_test.go
  x/metoken/client/tests/suite.go
  x/metoken/client/tests/tests.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
Due: app, modules

docs: umee inflation v2 design doc
  RELEASE_NOTES.md
  docs/design_docs/012-umee-inflation-v2.md
  x/ugov/inflation_params.go
  x/ugov/msg_test.go
Due: modules

update release notes
  README.md
  RELEASE_NOTES.md
Due: none

Apply suggestions from code review
  RELEASE_NOTES.md
  docs/design_docs/012-umee-inflation-v2.md
Due: none

typos
  RELEASE_NOTES.md
  docs/design_docs/012-umee-inflation-v2.md
Due: none

review
  docs/design_docs/012-umee-inflation-v2.md
  proto/umee/ugov/v1/ugov.proto
  swagger/swagger.yaml
  x/ugov/ugov.pb.go
Due: none

review
  docs/design_docs/012-umee-inflation-v2.md
Due: none

docs: umee inflation v2 design doc (#2227)
  README.md
  RELEASE_NOTES.md
  docs/design_docs/012-umee-inflation-v2.md
  proto/umee/ugov/v1/ugov.proto
  swagger/swagger.yaml
  x/ugov/inflation_params.go
  x/ugov/msg_test.go
  x/ugov/ugov.pb.go
Due: modules

docs: cosmwasm update to v1.4
  README.md
  RELEASE_NOTES.md
Due: none

suggestion++
  util/sdkutil/string.go
Due: none

typos
  app/app.go
Due: app

Revert "build(deps): Bump github.com/CosmWasm/wasmvm from 1.3.0 to 1.4.0 (#2222)"
  go.mod
  go.sum
Due: none

update docs
  README.md
  RELEASE_NOTES.md
Due: none

chore: cosmwasm revert v1.4 upgrade and update the docs (#2228)
  RELEASE_NOTES.md
  app/app.go
  go.mod
  go.sum
Due: app

improve efficiency using strings.Join
  x/leverage/types/documented_test.go
  x/leverage/types/string.go
Due: modules

provide examples
  util/sdkutil/string.go
Due: none

lint
  x/leverage/types/string.go
Due: modules

add negative examples to test
  util/sdkutil/string_test.go
Due: none

differing weight cases
  x/leverage/types/weighted_coin_test.go
Due: modules

reduce repeated verbose test cases
  x/leverage/types/weighted_coin_test.go
Due: modules

fix: special asset pairs bugfix and tests (#2205)
  util/sdkutil/string.go
  util/sdkutil/string_test.go
  x/leverage/types/documented_test.go
  x/leverage/types/position.go
  x/leverage/types/position_test.go
  x/leverage/types/string.go
  x/leverage/types/token_test.go
  x/leverage/types/weighted_coin.go
  x/leverage/types/weighted_coin_test.go
Due: modules

chore: set test emergency group in the upgrade handler
  app/upgrades.go
Due: app

chore: set test emergency group in the upgrade handler (#2229)
  app/upgrades.go
Due: app

file
  tests/e2e/e2e_leverage_test.go
Due: none

finished e2e tests
  app/stable_appconfig.go
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/keys.go
  tests/e2e/setup/utils.go
Due: app

mimic egor PR #2232
  tests/e2e/e2e_test.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: none
