Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

spacing
  x/incentive/keeper/scenario_test.go
Due: modules

suggestions implemented for TestZeroBonded
  x/incentive/keeper/scenario_test.go
Due: modules

adjust whitespace and shorted sdk.Coins vars
  util/coin/fixtures.go
  x/incentive/keeper/scenario_test.go
Due: modules

godoc all test scenarios
  x/incentive/keeper/scenario_test.go
Due: modules

Update util/coin/fixtures.go
  util/coin/fixtures.go
Due: none

comment++
  x/incentive/keeper/update.go
Due: modules

Update x/incentive/keeper/scenario_test.go
  x/incentive/keeper/scenario_test.go
Due: modules

chore: v5.1 release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

final scenario
  x/incentive/keeper/scenario_test.go
Due: modules

chore: v5.1 release notes (#2131)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

chore: v5.1 release notes (#2131) (#2133)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

readme++
  x/incentive/README.md
Due: none

tests working
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/setup/gaia.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: none

test
  Makefile
  tests/e2e/e2e_ibc_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/setup/setup.go
Due: none

test
  Makefile
Due: none

lint
  tests/e2e/e2e_ibc_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/setup/gaia.go
Due: none

more lint
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/grpc/historical.go
Due: none

fix
  Makefile
  tests/e2e/e2e_ibc_test.go
Due: none

Apply suggestions from code review
  proto/umee/ugov/v1/tx.proto
  tests/accs/accounts.go
Due: none

review
  tests/accs/accounts.go
Due: none

feat: emergency group ugov proto (#2129)
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  tests/accs/accounts.go
  x/ugov/codec.go
  x/ugov/genesis.pb.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
  x/ugov/msg.go
  x/ugov/msg_test.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
Due: modules

GB cleanup
  app/app.go
  app/upgrades.go
Due: app

chore: bump cometbft
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

more fix
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/setup/chain.go
  tests/e2e/setup/setup.go
Due: none

bump prometheus
  go.mod
  go.sum
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: bump cometbft (#2134)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

more fix
  Makefile
Due: none

test fix
  tests/e2e/setup/setup.go
  x/incentive/client/tests/cli_test.go
Due: modules

chore: No Gravity Bridge (#2135)
  Makefile
  ante/fee.go
  app/app.go
  app/modules.go
  app/upgrades.go
  cmd/umeed/cmd/root.go
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  go.mod
  go.sum
  price-feeder/README.md
  tests/e2e/setup/setup.go
  tests/e2e/setup/validator.go
  tests/simulation/state.go
  x/incentive/client/tests/cli_test.go
  x/leverage/README.md
  x/leverage/client/tests/cli_test.go
  x/oracle/client/tests/cli_test.go
  x/uibc/client/tests/cli_test.go
Due: app, modules

fix: makefile price-feeder
  Makefile
Due: none

chore: lint autofix
  app/upgrades.go
  app/wasm/test/cw20_base_test.go
  sdkclient/tx/wasm.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/setup.go
  tests/qa/cw/cw_group_types.go
  util/store/iter.go
  x/leverage/types/genesis_test.go
  x/ugov/keeper/keeper.go
  x/ugov/msg.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/mocks_test.go
Due: app, modules

increment retries
  tests/e2e/e2e_ibc_test.go
Due: none

chore: delete gravity bridge store
  app/upgrades.go
Due: app

feat: ugov EmergencyGroup implementation
  proto/umee/ugov/v1/events.proto
  util/store/store.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
