Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix the tests for abci BeignBlock of mint
  x/mint/abci.go
  x/mint/abci_test.go
Due: modules

gomod
  go.mod
  go.sum
Due: none

e2e working
  client/auth.go
  sdkclient/tx/gov.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: client

Update util/bpmath/bp.go
  util/bpmath/bp.go
Due: none

test sdk.Int & math.Int interoperability
  util/bpmath/bp_test.go
Due: none

add rounding tests
  util/bpmath/bp.go
  util/bpmath/bp_test.go
  util/bpmath/doc.go
  util/bpmath/fixed_bp.go
Due: none

feat: basis points math package (#2155)
  util/bpmath/bp.go
  util/bpmath/bp_test.go
  util/bpmath/doc.go
  util/bpmath/fixed_bp.go
  util/bpmath/fixed_bp_test.go
  util/bpmath/types.go
Due: none

incentive: use Get/SetValue instead of Get/SetObject
  x/incentive/keeper/store.go
Due: modules

remove deprecate comment
  util/store/store.go
Due: none

cosmetics
  x/incentive/keeper/keeper.go
  x/incentive/keeper/store.go
Due: modules

change inflation reduction rate to bpmath.FixedBP (uint32)
  proto/umee/ugov/v1/ugov.proto
  x/mint/abci.go
  x/ugov/inflation_params.go
  x/ugov/ugov.pb.go
Due: modules

fix the tests
  x/mint/abci_test.go
Due: modules

update oracle to use store.SetValue
  x/oracle/keeper/genesis.go
  x/oracle/keeper/historic_avg.go
Due: modules

update incentive
  x/incentive/keeper/keeper.go
  x/incentive/keeper/store.go
Due: modules

store docs
  util/store/store.go
Due: none

rename GetObject and SetObject
  util/store/store.go
  x/incentive/keeper/keeper.go
  x/incentive/keeper/store.go
Due: modules

fix: minor 5.2 message fixes (#2148)
  CHANGELOG.md
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/scenario_test.go
  x/leverage/types/tx.go
  x/leverage/types/tx_test.go
Due: modules

adding entry for changelog
  CHANGELOG.md
Due: none

changing back dependabot.yml
  .github/dependabot.yml
Due: none

changing back dependabot.yml_2
  .github/dependabot.yml
Due: none

changing back dependabot.yml_3
  .github/dependabot.yml
Due: none

line length lint
  x/leverage/types/msgs.go
Due: modules

rename mint to umint
  app/app.go
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  x/ugov/client/cli/query.go
  x/ugov/genesis.pb.go
  x/ugov/keeper/query_server.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/umint/abci.go
  x/umint/expected_keepers.go
  x/umint/module.go
Due: app, modules

update the changelog
  CHANGELOG.md
Due: none

Apply suggestions from code review
  util/store/store.go
  x/incentive/keeper/store.go
  x/oracle/keeper/historic_avg.go
Due: modules

refactore SetObject and GetObject usage (#2147)
  util/store/store.go
  x/incentive/keeper/keeper.go
  x/incentive/keeper/store.go
  x/oracle/keeper/genesis.go
  x/oracle/keeper/historic_avg.go
Due: modules

cleanup
  Makefile
  app/types.go
  sdkclient/tx/gov.go
  tests/e2e/docker/hermes.Dockerfile
  tests/e2e/setup/keys.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/qa/cw/cw_group_types.go
  x/incentive/keeper/update.go
  x/leverage/keeper/interest.go
  x/ugov/keeper/query_server.go
Due: app, modules

partial implementation
  x/leverage/keeper/borrows.go
  x/leverage/keeper/iter.go
Due: modules

conflicts
  x/metoken/keeper/keeper.go
  x/metoken/module/abci.go
  x/metoken/module/module.go
Due: modules

fix
  x/leverage/keeper/borrows.go
Due: modules

comment++
  x/leverage/keeper/borrows.go
Due: modules

fix protogen issues in metoken
  proto/umee/metoken/v1/events.proto
  proto/umee/metoken/v1/genesis.proto
  proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/query.proto
  proto/umee/metoken/v1/tx.proto
  x/metoken/README.md
  x/metoken/events.pb.go
  x/metoken/genesis.pb.go
  x/metoken/metoken.pb.go
  x/metoken/query.pb.go
  x/metoken/tx.pb.go
Due: none

feat: mint calculator
  app/app.go
Due: app

add inflation package
  app/inflation/expected_keepers.go
  app/inflation/inflatin.go
Due: app

remove not needed interface
  app/inflation/expected_keepers.go
Due: app

simplify mint keeper interface
  app/inflation/expected_keepers.go
Due: app

add cf function
  app/inflation/inflatin.go
Due: app

changelog
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
