Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix
  app/inflation/inflatin.go
Due: app

lint & fix
  app/inflation/inflatin.go
Due: app

fix: metoken Index receiver
  x/metoken/genesis.go
  x/metoken/index.go
Due: modules

Apply suggestions from code review
  CHANGELOG.md
Due: none

chore: auto lint
  tests/e2e/setup/utils.go
  tests/qa/cw/cw_group_types.go
  util/bpmath/types.go
  x/metoken/genesis.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/metoken_test.go
  x/metoken/keeper/price.go
  x/ugov/keeper/query_server.go
Due: modules

chore: auto lint (#2161)
  tests/e2e/setup/utils.go
  tests/qa/cw/cw_group_types.go
  util/bpmath/types.go
  x/metoken/genesis.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/metoken_test.go
  x/metoken/keeper/price.go
  x/ugov/keeper/query_server.go
Due: modules

address the review comments
  proto/umee/ugov/v1/events.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  x/ugov/events.pb.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
  x/ugov/msg.go
  x/ugov/query.pb.go
  x/ugov/tx.pb.go
  x/umint/abci.go
  x/umint/module.go
Due: modules

fix: metoken Index receiver (#2160)
  x/metoken/genesis.go
  x/metoken/index.go
Due: modules

feat: mint calculator (#2159)
  CHANGELOG.md
  app/app.go
  app/inflation/expected_keepers.go
  app/inflation/inflatin.go
Due: app

fix unit tests
  x/metoken/keeper/intest/keeper_test.go
Due: modules

chore(proto): deprecate title and description from MsgGov*
  proto/umee/leverage/v1/tx.proto
  proto/umee/metoken/v1/genesis.proto
  proto/umee/uibc/v1/tx.proto
  x/leverage/types/tx.pb.go
  x/uibc/tx.pb.go
Due: none

chore(proto): deprecate title and description from MsgGov* (#2162)
  proto/umee/leverage/v1/tx.proto
  proto/umee/metoken/v1/genesis.proto
  proto/umee/uibc/v1/tx.proto
  x/leverage/types/tx.pb.go
  x/uibc/tx.pb.go
Due: none

index price
  proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/query.proto
  x/metoken/client/cli/query.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/metoken.pb.go
  x/metoken/mocks/metoken.go
  x/metoken/price.go
  x/metoken/query.pb.go
  x/metoken/query.pb.gw.go
Due: modules

lint
  x/metoken/keeper/grpc_query.go
Due: modules

Update x/leverage/keeper/token.go
  x/leverage/keeper/token.go
Due: modules

Update proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/leverage.proto
Due: none

make proto-all
  swagger/swagger.yaml
  x/leverage/types/leverage.pb.go
Due: none

make proto-all
  swagger/swagger.yaml
  x/leverage/types/leverage.pb.go
  x/leverage/types/tx.pb.go
Due: none

fix
  x/leverage/keeper/token.go
Due: modules

assertBorrowerHealth changes
  x/leverage/keeper/borrows.go
Due: modules

pairs may not reduce cw
  x/leverage/keeper/borrows.go
Due: modules

Update proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/metoken.proto
Due: none

Update x/metoken/client/cli/query.go
  x/metoken/client/cli/query.go
Due: modules

remove the umint and using umee inflaiton calculator for mint BeginBlock
  app/inflation/expected_keepers.go
  app/inflation/inflatin.go
  app/inflation/inflation.go
  proto/umee/ugov/v1/events.proto
  x/ugov/events.pb.go
  x/ugov/inflation_params.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
  x/umint/abci.go
  x/umint/expected_keepers.go
  x/umint/module.go
Due: app, modules

delete the umint BeginBlock Test
  x/umint/abci_test.go
Due: modules

fix: grpc link format
  proto/umee/ugov/v1/query.proto
  proto/umee/uibc/v1/query.proto
  swagger/swagger.yaml
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
Due: none

changelog
  CHANGELOG.md
Due: none

fix: grpc link format (#2165)
  CHANGELOG.md
  proto/umee/ugov/v1/query.proto
  proto/umee/uibc/v1/query.proto
  swagger/swagger.yaml
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
Due: none

minor fixes
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/intest/grpc_query_test.go
Due: modules

feat: meToken index price (#2163)
  proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/query.proto
  x/metoken/client/cli/query.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/metoken.pb.go
  x/metoken/mocks/metoken.go
  x/metoken/price.go
  x/metoken/query.pb.go
  x/metoken/query.pb.gw.go
Due: modules

add unit tests for inflationCal
  app/inflation/expected_keepers.go
  app/inflation/inflation.go
  app/inflation/inflation_test.go
  app/inflation/mocks/keepers.go
  contrib/scripts/mockgen.sh
  x/ugov/keeper/keeper.go
  x/ugov/keeper/keeper_interfaces.go
  x/ugov/keeper/unit_test.go
Due: app, modules

reserves and interest refeactored
  x/metoken/expected_keepers.go
  x/metoken/keeper/balance.go
  x/metoken/keeper/interest.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/reserves.go
  x/metoken/mocks/keepers.go
  x/metoken/module/abci.go
Due: modules

tests adapted (not working yet)
  x/metoken/keeper/interest.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/metoken/keeper/reserves.go
Due: modules

update borrow limit steps
  x/leverage/README.md
Due: none

++
  x/leverage/README.md
Due: none

explain tx failures on missing price
  x/leverage/README.md
Due: none

borrow factor section
  x/leverage/README.md
Due: none

token-specific borrow limit
  x/leverage/README.md
Due: none

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
