Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

feat: min gas msg and proto update (#2026)
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  x/ugov/msg.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
Due: modules

review
  util/coin/fixtures.go
Due: none

feat: coin helpers update (#2027)
  util/coin/dec.go
  util/coin/fixtures.go
  x/leverage/types/token.go
  x/uibc/quota/keeper/msg_server.go
Due: modules

WIP: check e2e test on github actions with label
  .github/workflows/tests.yml
Due: none

add default pull request types with labeled
  .github/workflows/tests.yml
  app/export.go
Due: app

chore: add skip e2e test when skip-e2e-test label present
  .github/workflows/tests.yml
Due: none

remaining suggestions, fixes, and tests
  x/incentive/keeper/program.go
  x/incentive/keeper/reward.go
Due: modules

chore: add skip simulation tests when skip-e2e-test label present
  .github/workflows/simulations.yml
Due: none

chore: skip e2e test on github actions with label (#2028)
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
  app/export.go
Due: app

feat: add more params to the uibc quota status
  proto/umee/uibc/v1/quota.proto
Due: none

more comment
  proto/umee/uibc/v1/quota.proto
Due: none

test file
  x/incentive/keeper/grpc_query_test.go
Due: modules

feat: incentive APY query and rewards height query (#2025)
  proto/umee/incentive/v1/query.proto
  x/incentive/expected_keepers.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/grpc_query_test.go
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/program.go
  x/incentive/keeper/reward.go
  x/incentive/keeper/update.go
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
Due: modules

feat: ugov msg server implementation
  x/ugov/keeper/fees.go
  x/ugov/keeper/keeper.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
  x/ugov/msg_test.go
Due: modules

msg server and client implementation
  util/coin/dec.go
  util/coin/fixtures.go
  x/ugov/keeper/fees.go
  x/ugov/keeper/fees_test.go
  x/ugov/keeper/keeper.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
  x/ugov/keeper/unit_test.go
  x/ugov/keys.go
Due: modules

add events
  proto/umee/ugov/v1/events.proto
  x/incentive/query.pb.go
  x/ugov/events.pb.go
  x/ugov/keeper/msg_server.go
Due: modules

udpate comments
  util/coin/fixtures.go
Due: none

feat: simplify store generics
  util/store/store.go
  util/store/store_test.go
  x/incentive/keeper/keys.go
  x/incentive/keeper/store.go
Due: modules

remove negative checks on store Int and Dec
  util/store/store.go
  x/incentive/keeper/genesis.go
  x/incentive/keeper/hooks.go
Due: modules

lint
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
Due: modules

lint
  x/ugov/keeper/msg_server.go
Due: modules

feat: ugov msgserver (#2029)
  proto/umee/ugov/v1/events.proto
  util/coin/dec.go
  util/coin/fixtures.go
  x/incentive/query.pb.go
  x/ugov/events.pb.go
  x/ugov/keeper/fees.go
  x/ugov/keeper/fees_test.go
  x/ugov/keeper/keeper.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
  x/ugov/keeper/unit_test.go
  x/ugov/keys.go
  x/ugov/msg_test.go
Due: modules

fix
  util/store/store.go
  util/store/store_test.go
  util/store/types.go
  x/incentive/keeper/store.go
Due: modules

remove validatino from store.SetAddress
  util/store/store.go
  util/store/store_test.go
Due: none

update comments
  util/store/store.go
Due: none

query simplifications
  proto/umee/incentive/v1/query.proto
  x/incentive/client/cli/query.go
  x/incentive/keeper/grpc_query.go
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
Due: modules

Apply suggestions from code review
  util/store/store.go
Due: none

review updates
  util/store/store.go
Due: none

incentive CLI tests
  x/incentive/client/tests/cli_test.go
  x/incentive/client/tests/suite.go
  x/incentive/client/tests/tests.go
  x/incentive/keeper/reward.go
Due: modules

fix ugov test
  x/ugov/msg_test.go
Due: modules

remove unused
  x/incentive/keeper/iter.go
Due: modules

chore: remove the ics20 wrapper
  app/app.go
  app/experimental_appconfig.go
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/ibc_module_test.go
  x/uibc/ics20/keeper/expected_keepers.go
  x/uibc/ics20/keeper/keeper.go
  x/uibc/ics20/keeper/keeper_test.go
  x/uibc/ics20/keeper/util_test.go
Due: app, modules

set default unbonding period to instant
  x/incentive/params.go
Due: modules

WIP: update uibc status values
  proto/umee/uibc/v1/quota.proto
  x/uibc/quota.pb.go
Due: none

fix test
  x/ugov/msg_test.go
Due: modules

chore: use cli.PrintOrErr
  x/incentive/client/cli/query.go
  x/oracle/client/cli/query.go
Due: modules

feat: simplify store generics (#2030)
  util/store/store.go
  util/store/store_test.go
  util/store/types.go
  x/incentive/keeper/genesis.go
  x/incentive/keeper/hooks.go
  x/incentive/keeper/keys.go
  x/incentive/keeper/store.go
  x/ugov/msg_test.go
Due: modules

Update x/incentive/client/cli/query.go
  x/incentive/client/cli/query.go
Due: modules

lint
  x/incentive/client/cli/query.go
Due: modules
