Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

handle events
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

feat: adding axlear gmp handler (#2433)
  util/ibc/ibc.go
  x/uibc/gmp/gmp_middleware.go
  x/uibc/gmp/types.go
  x/uibc/uics20/ibc_module.go
Due: modules

cosmetic
  proto/umee/uibc/v1/uibc.proto
  x/uibc/uibc.pb.go
  x/uibc/uics20/ibc_module.go
Due: modules

docs: add comments assuring the ics20 hooks middleware is the last one in the middleware stack
  app/app.go
  x/uibc/uics20/ibc_module.go
Due: app, modules

feat(ibc): memo fallback address (#2442)
  app/app.go
  proto/umee/uibc/v1/uibc.proto
  x/uibc/ics20.go
  x/uibc/uibc.pb.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: app, modules

chore: refactore ibc memo handling
  x/uibc/gmp/gmp_middleware.go
  x/uibc/gmp/types.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

adjust operated coins
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

check fallback receiver
  x/uibc/uics20/memo_handler.go
Due: modules

fix compilation
  x/uibc/uics20/memo_handler.go
Due: modules

update tests
  x/uibc/uics20/memo_handler_test.go
Due: modules

lint
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

fix
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

feat: handle fallback address with memo execution and adjust message coins (#2443)
  x/uibc/gmp/gmp_middleware.go
  x/uibc/gmp/types.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

add integration tests for IBC OnRecvPacket
  x/uibc/gmp/gmp_middleware_test.go
  x/uibc/uics20/ibc_module_mocks_test.go
  x/uibc/uics20/ibc_module_test.go
Due: modules

address the coderait suggestions
  x/uibc/gmp/gmp_middleware_test.go
  x/uibc/uics20/ibc_module_mocks_test.go
  x/uibc/uics20/ibc_module_test.go
Due: modules

fix the test case
  x/uibc/uics20/ibc_module_test.go
Due: modules

Revert "build(deps): Bump google.golang.org/protobuf from 1.32.0 to 1.33.0 (#2448)"
  go.mod
  go.sum
Due: none

chore: bump packet-forward-middleware
  go.mod
  go.sum
Due: none

chore: bump packet-forward-middleware (#2449)
  go.mod
  go.sum
Due: none

feat(uics20 memo hook): add signer check
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

feat(uics20 memo hook): add signer check (#2452)
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

chore: better error checks in uibc/ics20 module
  x/uibc/uics20/error.go
  x/uibc/uics20/error_test.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

fix(uic20): error handling for memo validation
  x/uibc/uics20/ibc_module.go
Due: modules

update tests
  x/uibc/uics20/error_test.go
Due: modules

fix(uic20): error handling for memo validation (#2453)
  x/uibc/uics20/error.go
  x/uibc/uics20/error_test.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

docs: update validator docs
  README.md
  docs/VALIDATOR.md
Due: none

language
  docs/VALIDATOR.md
Due: none

docs: update validator docs (#2454)
  README.md
  docs/VALIDATOR.md
Due: none

v6.4.0-beta1 release notes
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  docs/VALIDATOR.md
  x/uibc/uics20/memo_handler.go
Due: modules

gramma
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  docs/VALIDATOR.md
Due: none

gramma
  RELEASE_NOTES.md
Due: none

fix the v6.4 upgrade handler
  app/upgrades.go
Due: app

planName changed as per beta release
  app/upgrades.go
Due: app

revert the upgrade plaeName
  app/upgrades.go
Due: app

lint
  README.md
  docs/VALIDATOR.md
Due: none

fix PF version
  RELEASE_NOTES.md
Due: none

gramma
  README.md
Due: none

lint
  docs/VALIDATOR.md
Due: none

fix: adding missing module to v6.4 store upgrade (#2456)
  app/upgrades.go
Due: app
