Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: add SupplyFromModule and WithdrawFromModule to leverage (#2170)
  CHANGELOG.md
  x/leverage/keeper/keeper.go
  x/metoken/expected_keepers.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/swap.go
  x/metoken/mocks/keepers.go
Due: modules

new integration with x/leverage
  x/metoken/keeper/reserves.go
  x/metoken/mocks/metoken.go
Due: modules

cosmetics
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/token.go
  x/leverage/types/msgs.go
Due: modules

reduce newlines
  x/leverage/README.md
Due: none

update section title
  x/leverage/README.md
Due: none

fix after merge from main
  x/metoken/keeper/interest.go
  x/metoken/keeper/reserves.go
Due: modules

unit mocks
  x/metoken/keeper/mocks_test.go
Due: modules

fix
  x/metoken/keeper/reserves.go
Due: modules

simple example
  x/leverage/README.md
Due: none

better logs
  x/metoken/keeper/reserves.go
Due: modules

fix the tests
  app/inflation/mocks/keepers.go
  x/ugov/keeper/keeper_interfaces.go
Due: app, modules

fix the import format
  x/ugov/msg_test.go
Due: modules

lint
  x/leverage/keeper/grpc_query.go
Due: modules

couple more comments
  x/metoken/keeper/interest.go
  x/metoken/keeper/intest/interest_test.go
Due: modules

feat: x/metoken end block functions (#2167)
  CHANGELOG.md
  x/leverage/keeper/keeper.go
  x/metoken/errors/errors.go
  x/metoken/expected_keepers.go
  x/metoken/index.go
  x/metoken/index_test.go
  x/metoken/keeper/balance.go
  x/metoken/keeper/interest.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/reserves.go
  x/metoken/keeper/swap.go
  x/metoken/mocks/keepers.go
  x/metoken/mocks/metoken.go
  x/metoken/module/abci.go
Due: modules

fix the tests for inflation
  app/inflation/inflation_test.go
Due: app

test: added tests for token emission (#2149)
  app/inflation/expected_keepers.go
  app/inflation/inflation.go
  app/inflation/inflation_test.go
  app/inflation/mocks/keepers.go
  contrib/scripts/mockgen.sh
  x/ugov/client/cli/query.go
  x/ugov/client/tests/cli_test.go
  x/ugov/client/tests/query_test.go
  x/ugov/client/tests/suite_test.go
  x/ugov/keeper/keeper.go
  x/ugov/keeper/keeper_interfaces.go
  x/ugov/keeper/unit_test.go
  x/ugov/msg_test.go
Due: app, modules

fixing proto pkg
  proto/umee/metoken/v1/events.proto
  proto/umee/metoken/v1/genesis.proto
  proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/query.proto
  proto/umee/metoken/v1/tx.proto
  x/metoken/events.pb.go
  x/metoken/genesis.pb.go
  x/metoken/metoken.pb.go
  x/metoken/query.pb.go
  x/metoken/tx.pb.go
Due: none

fixing proto pkg (#2174)
  proto/umee/metoken/v1/events.proto
  proto/umee/metoken/v1/genesis.proto
  proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/query.proto
  proto/umee/metoken/v1/tx.proto
  x/metoken/events.pb.go
  x/metoken/genesis.pb.go
  x/metoken/metoken.pb.go
  x/metoken/query.pb.go
  x/metoken/tx.pb.go
Due: none

progress
  x/leverage/keeper/iter.go
Due: modules

progress
  x/leverage/keeper/position.go
Due: modules

add psudo code doc for inflation logic
  app/inflation/README.md
Due: none

address the review comments
  app/inflation/README.md
Due: none

address the review comments++
  app/inflation/README.md
Due: none

docs: add docs for inflation (#2172)
  app/inflation/README.md
Due: none

Update proto/umee/leverage/v1/tx.proto
  proto/umee/leverage/v1/tx.proto
Due: none

fix link
  x/leverage/README.md
Due: none

docs: special asset pairs spec (#2143)
  x/leverage/README.md
Due: none

proto changes
  proto/umee/leverage/v1/leverage.proto
  x/leverage/types/leverage.pb.go
  x/leverage/types/tx.pb.go
Due: none

collateral weight zero deletes sets ad pairs
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/tx.proto
  swagger/swagger.yaml
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/token.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/token.go
  x/leverage/types/tx.pb.go
Due: modules

fix CLI
  x/leverage/client/cli/query.go
Due: modules

test++
  x/leverage/client/tests/tests.go
Due: modules

combine validate functions in genesis
  x/leverage/types/msgs.go
Due: modules

fix
  x/leverage/types/msgs.go
Due: modules

fix
  x/leverage/types/genesis.go
Due: modules

checkers and helpers
  tests/tsdk/numbers.go
  tests/tsdk/numbers_test.go
  util/checkers/number.go
  util/checkers/number_test.go
Due: none

proto changes
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/query.proto
  proto/umee/leverage/v1/tx.proto
  swagger/swagger.yaml
  x/leverage/keeper/msg_server.go
  x/leverage/types/errors.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/proposal.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/tx.pb.go
Due: modules

fix names
  x/leverage/client/tests/tests.go
Due: modules

fix names
  x/leverage/client/cli/query.go
  x/leverage/keeper/grpc_query.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
