Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

add facil go
  go.mod
  go.sum
  x/refileverage/aavefacilitator/ReFiFacilitator.abi
  x/refileverage/keeper/ReFiFacilitator.go
  x/refileverage/keeper/gmp_eth.go
Due: modules

call to optimism
  x/refileverage/keeper/ReFiFacilitator.go
  x/refileverage/keeper/gmp_eth.go
Due: modules

wire up refileverage
  app/app.go
Due: app

abigen: generate evm bindings
  x/refileverage/aavefacilitator/binding.gen.go
  x/refileverage/aavefacilitator/generate.sh
Due: modules

upate call function
  go.mod
  go.sum
  x/refileverage/keeper/gmp_eth.go
Due: modules

mock aave call
  x/refileverage/keeper/aave.go
Due: modules

aave call
  x/incentive/client/tests/cli_test.go
  x/refileverage/keeper/aave.go
  x/refileverage/keeper/gmp_eth.go
Due: modules

update collateral tokens
  contrib/registered_tokens.json
Due: none

readme updates
  README.md
Due: none

update msg_server
  proto/umee/refileverage/v1/tx.proto
  x/refileverage/client/cli/tx.go
  x/refileverage/keeper/collateral.go
  x/refileverage/keeper/msg_server.go
  x/refileverage/types/codec.go
  x/refileverage/types/tx.go
  x/refileverage/types/tx.pb.go
Due: modules

make refi lending Gho based
  contrib/registered_tokens.json
  proto/umee/refileverage/v1/events.proto
  proto/umee/refileverage/v1/query.proto
  proto/umee/refileverage/v1/tx.proto
  x/refileverage/client/cli/tx.go
  x/refileverage/keeper/aave.go
  x/refileverage/keeper/borrows.go
  x/refileverage/keeper/collateral.go
  x/refileverage/keeper/exchange_rate.go
  x/refileverage/keeper/genesis.go
  x/refileverage/keeper/grpc_query.go
  x/refileverage/keeper/interest.go
  x/refileverage/keeper/invariants.go
  x/refileverage/keeper/invariants_test.go
  x/refileverage/keeper/iter.go
  x/refileverage/keeper/keeper.go
  x/refileverage/keeper/limits.go
  x/refileverage/keeper/liquidate.go
  x/refileverage/keeper/msg_server.go
  x/refileverage/keeper/oracle.go
  x/refileverage/keeper/reserves.go
  x/refileverage/keeper/store.go
  x/refileverage/keeper/validate.go
  x/refileverage/module.go
  x/refileverage/types/codec.go
  x/refileverage/types/events.pb.go
  x/refileverage/types/keys.go
  x/refileverage/types/query.pb.go
  x/refileverage/types/token.go
  x/refileverage/types/tx.go
  x/refileverage/types/tx.pb.go
Due: modules

mock interest scalar
  x/refileverage/keeper/interest.go
Due: modules

prices
  x/refileverage/keeper/borrows.go
  x/refileverage/keeper/exchange_rate.go
  x/refileverage/keeper/interest.go
  x/refileverage/keeper/oracle.go
  x/refileverage/keeper/store.go
Due: modules

fix borrows
  contrib/load_hackathon_data.py
  contrib/registered_tokens.json
  contrib/single-node-no-gb.sh
  x/refileverage/client/cli/tx.go
  x/refileverage/keeper/aave.go
  x/refileverage/keeper/borrows.go
  x/refileverage/keeper/iter.go
  x/refileverage/keeper/keeper.go
  x/refileverage/types/tx.go
Due: modules

adding demo
  README.md
Due: none

readme update
  README.md
Due: none

hack single-node-no-gb.sh
  contrib/single-node-no-gb.sh
Due: none

move stargate helpers to client pkg
  app/wasm/stargate/querier.go
  client/stargate.go
Due: app, client

suggestion
  x/leverage/keeper/inspector.go
  x/leverage/keeper/inspector_sort.go
Due: modules

comment++
  x/leverage/keeper/inspector.go
Due: modules

simplify risk and inspector queries into one
  proto/umee/leverage/v1/inspector.proto
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/cli/inspector.go
  x/leverage/client/cli/query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/inspector_filter.go
  x/leverage/keeper/inspector_sort.go
  x/leverage/types/inspector.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: modules

tests for decimal neatify
  x/leverage/keeper/inspector.go
  x/leverage/keeper/inspector_test.go
Due: modules

edge case test
  x/leverage/keeper/inspector.go
  x/leverage/keeper/inspector_test.go
Due: modules

fix
  x/leverage/keeper/inspector.go
Due: modules

fix uToken display
  x/leverage/keeper/inspector.go
Due: modules

fix exponent display in DecBalances
  x/leverage/keeper/inspector.go
Due: modules

changelog
  CHANGELOG.md
Due: none

docs: add docker build instruction
  README.md
Due: none

chore: use latest debian in dockerfiles
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
Due: none

add test to trigger e2e tests
  util/genmap/genmap_test.go
Due: none

Apply suggestions from code review
  README.md
Due: none

chore: dockerfiles update base go image (#2097)
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  util/genmap/genmap_test.go
Due: none

docs: add docker build instruction (#2096)
  README.md
Due: none

disable dependabot.yml
  .github/dependabot.yml
Due: none

add link
  x/incentive/README.md
Due: none

lint
  x/incentive/README.md
Due: none

docs: incentive module spec (#1949)
  x/incentive/README.md
Due: none

suggestion++
  x/incentive/genesis.go
Due: modules
