Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix: gov special assets fix for 6.0 (#2247)
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/token.go
Due: modules

docs: v6.0.1 changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

docs: v6.0.1 changelog (#2248)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

feat(oracle): include timestamp into save exchange rates
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  x/oracle/abci.go
  x/oracle/keeper/keeper.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/keys.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/vote.go
Due: modules

update implementations
  proto/umee/oracle/v1/oracle.proto
  x/leverage/keeper/oracle.go
  x/leverage/types/expected_types.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/vote.go
Due: modules

tests
  x/oracle/keeper/keeper_test.go
Due: modules

add comment
  x/leverage/keeper/oracle.go
Due: modules

linter
  x/oracle/keeper/keeper.go
Due: modules

leverage test
  x/leverage/keeper/oracle_test.go
Due: modules

Update tests and String
  proto/umee/oracle/v1/oracle.proto
  x/oracle/types/msgs_test.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/vote.go
  x/oracle/types/vote_test.go
Due: modules

keys_tests
  x/oracle/types/keys_test.go
Due: modules

cosmetic
  x/oracle/types/keys_test.go
Due: modules

ExchangeRate stringer
  proto/umee/oracle/v1/oracle.proto
  x/oracle/types/oracle.pb.go
  x/oracle/types/vote.go
  x/oracle/types/vote_test.go
Due: modules

cli test
  x/oracle/abci_test.go
Due: modules

abci test
  x/oracle/abci_test.go
Due: modules

feat(oracle): include timestamp into save exchange rates (#2249)
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  x/leverage/keeper/oracle.go
  x/leverage/keeper/oracle_test.go
  x/leverage/types/expected_types.go
  x/oracle/abci.go
  x/oracle/abci_test.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/keys.go
  x/oracle/types/keys_test.go
  x/oracle/types/msgs_test.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/vote.go
  x/oracle/types/vote_test.go
Due: modules

chore: enforce experimental in e2e tests
  .github/workflows/tests.yml
  Makefile
Due: none

trigger e2e tests
  Makefile
  tests/e2e/e2e_metoken_test.go
Due: none

makefile update
  Makefile
  contrib/images/umee.e2e.dockerfile
Due: none

skip redeem_50meUSD_success test
  tests/e2e/e2e_metoken_test.go
Due: none

chore: enforce experimental in e2e tests (#2253)
  .github/workflows/tests.yml
  Makefile
  contrib/images/umee.e2e.dockerfile
  tests/e2e/e2e_metoken_test.go
Due: none

add timestamp to denom price
  app/test_helpers.go
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  x/leverage/simulation/operations_test.go
  x/oracle/abci.go
  x/oracle/abci_test.go
  x/oracle/genesis.go
  x/oracle/genesis_test.go
  x/oracle/keeper/ballot_test.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/msg_server_test.go
  x/oracle/types/asset.go
  x/oracle/types/denom_test.go
  x/oracle/types/genesis.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/genesis_test.go
  x/oracle/types/oracle.pb.go
Due: app, modules

test1
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/metoken.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/price.go
  x/metoken/price.go
Due: modules

fix build
  x/oracle/types/oracle.pb.go
Due: none

fix some tests
  app/test_helpers.go
Due: app

add metoken client
  client/metoken.go
Due: client

address the first review comments
  app/test_helpers.go
  x/oracle/abci.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/exchange_rates.go
Due: app, modules

refactore tx client
  sdkclient/client.go
  sdkclient/query/client.go
  sdkclient/tx/bank.go
  sdkclient/tx/client.go
  sdkclient/tx/gov.go
  sdkclient/tx/key.go
  sdkclient/tx/sign.go
  sdkclient/tx/wasm.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
  tests/util/cw_util.go
Due: none

metoken queries
  client/metoken.go
Due: client

add proto.Message validator
  client/metoken.go
  util/sdkutil/msg.go
Due: client

use umee client in e2e tests
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/metoken.go
Due: none

nil check
  client/metoken.go
Due: client

add SetExchangeRateWithTimestamp func
  x/leverage/simulation/operations_test.go
  x/oracle/genesis.go
  x/oracle/keeper/ballot_test.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
Due: modules

fix(oracle): avg params
  x/oracle/keeper/historic_avg.go
Due: modules

fix(oracle): avg params (#2257)
  x/oracle/keeper/historic_avg.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
