Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

using codec in client.go
  client/auth.go
  client/client.go
Due: client

fix web urls
  proto/umee/leverage/v1/inspector.proto
  swagger/swagger.yaml
  x/leverage/client/cli/inspector.go
  x/leverage/keeper/inspector.go
  x/leverage/types/inspector.pb.go
Due: modules

disble depguard linter to golangci-lint
  .golangci.yml
Due: none

++
  .depguard.yaml
Due: none

++
  proto/umee/leverage/v1/inspector.proto
  swagger/swagger.yaml
  x/leverage/keeper/inspector.go
  x/leverage/types/inspector.pb.go
Due: modules

suggestion++
  x/leverage/keeper/inspector.go
Due: modules

address the review comments
  .depguard.yaml
  tests/tsdk/doc.go
Due: none

chore: disable the depguard linter temporarily (#2087)
  .depguard.yaml
  .golangci.yml
Due: none

tests: add qa tests to cosmwasm (#2057)
  .gitignore
  Makefile
  client/auth.go
  client/client.go
  client/wasm.go
  sdkclient/query/gov.go
  sdkclient/tx/client.go
  sdkclient/tx/wasm.go
  tests/artifacts/cw4_group-aarch64.wasm
  tests/e2e/cw_test.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/suite.go
  tests/qa/cw/config_example.yaml
  tests/qa/cw/cw_group_types.go
  tests/qa/cw/cw_test.go
  tests/qa/cw/cw_utils.go
  tests/qa/cw/network_config.go
  tests/util/cw_util.go
Due: client

release notes update
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

chore: v5 final release notes (#2077)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

fix: fix the markdown lint
  README.md
Due: none

fix: MsgSupplyCollateral and MinCollateralLiquidity
  CHANGELOG.md
  x/leverage/keeper/msg_server.go
Due: modules

changelog
  CHANGELOG.md
Due: none

fix: MsgSupplyCollateral and MinCollateralLiquidity (#2089)
  CHANGELOG.md
  x/leverage/keeper/msg_server.go
Due: modules

chore: barberry patch
  CHANGELOG.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

changelog update
  CHANGELOG.md
  go.mod
  go.sum
Due: none

changelog update
  CHANGELOG.md
Due: none

chore: barberry patch
  CHANGELOG.md
  go.mod
  go.sum
Due: none

update goleveldb
  go.mod
  go.sum
Due: none

chore: barberry patch (#2090)
  CHANGELOG.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

chore: barberry patch (#2091)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

chore: v5.0.1 release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: v5.0.1 release notes (#2092)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

chore: updating the swagger docs (#2055)
  .github/workflows/release-umee-docker.yml
  .github/workflows/release-umee.yml
  .gitignore
  Makefile
  README.md
  contrib/scripts/protoc-swagger-gen.sh
  contrib/scripts/protoc-update-swagger-docs.sh
  swagger/proto-config-gen.json
  swagger/statik/init.go
  swagger/swagger.go
  swagger/swagger.yaml
  tools/tools.go
Due: none

refactor sdkclient to create keyring with names
  client/client.go
  sdkclient/client.go
  sdkclient/tx/client.go
  tests/e2e/e2e_setup_test.go
  tests/qa/cw/config_example.yaml
  tests/qa/cw/network_config.go
Due: client

adding helper script for running the chain
  contrib/single-node-no-gb.sh
Due: none

refactor sdkclient to create keyring with names (#2093)
  client/client.go
  sdkclient/client.go
  sdkclient/tx/client.go
  tests/e2e/e2e_setup_test.go
  tests/qa/cw/config_example.yaml
  tests/qa/cw/network_config.go
Due: client

patching genesis
  contrib/.gitignore
  contrib/load_hackathon_data.py
  contrib/registered_tokens.json
  contrib/single-node-no-gb.sh
Due: none

refileverage proto
  proto/umee/refileverage/v1/events.proto
  proto/umee/refileverage/v1/genesis.proto
  proto/umee/refileverage/v1/leverage.proto
  proto/umee/refileverage/v1/query.proto
  proto/umee/refileverage/v1/tx.proto
Due: none

aave facilitator dir
  x/refileverage/aavefacilitator/.gitkeep
Due: modules

regenerate refi proto
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
  x/leverage/types/events.pb.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/tx.pb.go
  x/oracle/types/events.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/refileverage/types/events.pb.go
  x/refileverage/types/genesis.pb.go
  x/refileverage/types/leverage.pb.go
  x/refileverage/types/query.pb.go
  x/refileverage/types/tx.pb.go
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/tx.pb.go
  x/uibc/events.pb.go
  x/uibc/genesis.pb.go
  x/uibc/query.pb.go
  x/uibc/quota.pb.go
  x/uibc/tx.pb.go
Due: none

add json for Gho
  x/refileverage/aavefacilitator/GhoToken.json
Due: none

add abi
  x/refileverage/aavefacilitator/GhoToken.abi
Due: modules
