Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

msg leveraged liquidate danger zone explained
  x/leverage/README.md
Due: none

lint++
  x/leverage/README.md
Due: none

feat(bpmath): MulDec
  util/bpmath/bp.go
  util/bpmath/bp_test.go
  util/bpmath/fixed_bp.go
  util/bpmath/fixed_bp_test.go
  util/bpmath/types.go
Due: none

changelog
  CHANGELOG.md
Due: none

feat(bpmath): MulDec (#2166)
  CHANGELOG.md
  util/bpmath/bp.go
  util/bpmath/bp_test.go
  util/bpmath/fixed_bp.go
  util/bpmath/fixed_bp_test.go
  util/bpmath/types.go
Due: none

++
  x/leverage/README.md
Due: none

remove title + description
  proto/umee/leverage/v1/tx.proto
  proto/umee/metoken/v1/query.proto
  x/leverage/types/tx.pb.go
  x/metoken/metoken.pb.go
Due: none

group legacy msg interface
  x/leverage/types/msgs.go
Due: modules

proposal.go
  x/leverage/types/proposal.go
Due: modules

legacy++
  x/leverage/types/msgs.go
Due: modules

move cycle start time to cycle end
  app/inflation/inflation.go
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  x/ugov/client/cli/query.go
  x/ugov/genesis.pb.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
Due: app, modules

update the tests
  app/inflation/inflation_test.go
  app/inflation/mocks/keepers.go
  x/ugov/keeper/keeper_interfaces.go
Due: app, modules

rename inflationReductionRate to factor
  app/inflation/inflation.go
Due: app

using bpmath.FixedBP for inflation rate change
  app/inflation/inflation.go
  x/ugov/inflation_params.go
Due: app, modules

fix the tests
  app/inflation/inflation_test.go
Due: app

address the review comments
  app/inflation/inflation.go
  proto/umee/ugov/v1/tx.proto
  x/ugov/inflation_params.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/msg.go
  x/ugov/tx.pb.go
Due: app, modules

fix the buf lint
  proto/umee/ugov/v1/ugov.proto
  x/ugov/ugov.pb.go
Due: none

max borrow scenario
  x/leverage/README.md
Due: none

bidirectional
  x/leverage/README.md
Due: none

table test
  x/leverage/README.md
Due: none

max borrow example
  x/leverage/README.md
Due: none

add section header
  x/leverage/README.md
Due: none

sp
  x/leverage/README.md
Due: none

endblock funcs
  x/metoken/index.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/metoken/keeper/redeem.go
  x/metoken/mocks/metoken.go
Due: modules

special asset sets in gov message
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/query.proto
  proto/umee/leverage/v1/tx.proto
  swagger/swagger.yaml
  x/leverage/keeper/msg_server.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/msgs.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/token.go
  x/leverage/types/tx.pb.go
Due: modules

pair deletion logic
  proto/umee/leverage/v1/tx.proto
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/token.go
  x/leverage/types/errors.go
  x/leverage/types/msgs.go
  x/leverage/types/token.go
Due: modules

can query for specific asset
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/iter.go
  x/leverage/types/keys.go
Due: modules

Update proto/umee/leverage/v1/tx.proto
  proto/umee/leverage/v1/tx.proto
Due: none

make proto-all
  x/leverage/types/tx.pb.go
Due: none

Update x/metoken/keeper/redeem.go
  x/metoken/keeper/redeem.go
Due: modules

adam comments
  x/metoken/keeper/interest.go
  x/metoken/keeper/redeem.go
Due: modules

fix mocks
  x/metoken/keeper/mocks_test.go
Due: modules

fix genesis
  x/ugov/genesis.go
Due: modules
