Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

chore: use go-1.21 (#2261)
  CHANGELOG.md
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  contrib/scripts/go-mod-tidy-all.sh
  go.mod
  go.sum
  tests/e2e/docker/gaia.Dockerfile
Due: none

incentive kick off
  app/app.go
  proto/umee/metoken/v1/genesis.proto
  proto/umee/metoken/v1/metoken.proto
  swagger/swagger.yaml
  x/incentive/keeper/bond.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/keeper.go
  x/incentive/keeper/reward.go
  x/incentive/keeper/unbonding.go
  x/metoken/expected_keepers.go
  x/metoken/genesis.go
  x/metoken/genesis.pb.go
  x/metoken/keeper/genesis.go
  x/metoken/keeper/incentive.go
  x/metoken/keeper/keeper.go
  x/metoken/keeper/keys.go
  x/metoken/keeper/metoken.go
  x/metoken/metoken.pb.go
  x/metoken/module/abci.go
Due: app, modules

address the review comments
  x/oracle/keeper/keeper.go
  x/oracle/types/asset.go
  x/oracle/types/denom_test.go
Due: modules

fix tests
  x/leverage/client/cli/query.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
Due: modules

go mod tidy
  go.sum
Due: none

feat(uibc): quota reset log
  x/uibc/module/abci.go
Due: modules

emit event
  x/uibc/module/abci.go
Due: modules

type update
  x/uibc/module/abci.go
Due: modules

bond
  app/app.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/reward.go
  x/metoken/expected_keepers.go
  x/metoken/keeper/incentive.go
Due: app, modules

feat(uibc): quota reset event (#2264)
  x/uibc/module/abci.go
Due: modules

added govulncheck and move go version from 1.20 to 1.21 on github actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/debug.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/release-umee.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
Due: none

suggestion++
  x/leverage/keeper/inspector.go
Due: modules

pr comments
  util/checkers/error.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/msg_server.go
Due: modules

fix
  x/metoken/keeper/metoken.go
Due: modules

lint
  x/metoken/keeper/metoken_test.go
Due: modules

lint
  x/metoken/keeper/msg_server.go
Due: modules

add some tests and cli query for getting timestamps of exgrates
  proto/umee/oracle/v1/query.proto
  x/oracle/client/cli/query.go
  x/oracle/keeper/grpc_query.go
  x/oracle/types/exchange_rates.go
  x/oracle/types/exchange_rates_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: modules

add tests to cli and grpc exg rates with timestamp req
  x/oracle/client/tests/cli_test.go
  x/oracle/client/tests/suite.go
  x/oracle/keeper/grpc_query_test.go
Due: modules

fix the tests on oracle
  x/oracle/genesis_test.go
  x/oracle/keeper/keeper_test.go
Due: modules

added git diff on govulncheck action
  .github/workflows/govulncheck.yml
Due: none

chore: adding govulncheck to github actions (#2266)
  .github/workflows/codeql-analysis.yml
  .github/workflows/debug.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/release-umee.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
Due: none

fix the tests
  x/leverage/simulation/operations_test.go
  x/oracle/abci_test.go
  x/oracle/client/tests/cli_test.go
Due: modules

feat(oracle): add timestamp to exchange rates (#2254)
  app/test_helpers.go
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  proto/umee/oracle/v1/query.proto
  x/leverage/simulation/operations_test.go
  x/oracle/abci.go
  x/oracle/abci_test.go
  x/oracle/client/cli/query.go
  x/oracle/client/tests/suite.go
  x/oracle/genesis.go
  x/oracle/genesis_test.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/msg_server_test.go
  x/oracle/types/asset.go
  x/oracle/types/exchange_rates.go
  x/oracle/types/exchange_rates_test.go
  x/oracle/types/genesis.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/genesis_test.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
  x/oracle/types/vote.go
  x/oracle/types/vote_test.go
Due: app, modules

price mode support
  CHANGELOG.md
  x/leverage/keeper/oracle.go
  x/leverage/types/errors.go
  x/leverage/types/oracle.go
Due: modules

fix suggestion
  x/leverage/keeper/inspector.go
Due: modules

pr comments2
  util/checkers/error.go
  x/metoken/keeper/metoken.go
Due: modules

pr comments3
  x/metoken/keeper/metoken.go
Due: modules

cl++
  CHANGELOG.md
Due: none

cl#
  CHANGELOG.md
Due: none

Update x/metoken/keeper/metoken.go
  x/metoken/keeper/metoken.go
Due: modules

feat: account summary to display both spot and leverage prices (#2263)
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/cli/query.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/inspector.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: modules

feat: emergency group index update (#2246)
  app/app.go
  util/checkers/error.go
  x/metoken/keeper/keeper.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/metoken_test.go
  x/metoken/keeper/msg_server.go
  x/metoken/keeper/unit_test.go
  x/metoken/msgs.go
Due: app, modules

fix tests
  x/leverage/keeper/oracle.go
  x/leverage/keeper/oracle_test.go
  x/leverage/simulation/operations_test.go
Due: modules

change query behavior
  x/leverage/keeper/grpc_query.go
Due: modules
