Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

sort function
  x/leverage/types/position.go
Due: modules

Add ibc-denom binary
  cmd/ibc_denom/cmd/ibc_denom.go
  cmd/ibc_denom/cmd/ibc_denom_test.go
  cmd/ibc_denom/cmd/root.go
  cmd/ibc_denom/main.go
  cmd/umeed/cmd/ibc_denom.go
  cmd/umeed/cmd/root.go
Due: none

++
  x/leverage/types/position_change.go
Due: modules

misc
  util/coin/coin.go
  util/coin/fixtures.go
  x/leverage/README.md
Due: none

finish implementing MaxWithdraw
  x/leverage/types/position.go
  x/leverage/types/position_change.go
Due: modules

--
  x/leverage/simulation/operations.go
Due: modules

apply new borrow limit to assertBorrowerHealth
  x/leverage/keeper/borrows.go
Due: modules

duplicated asset validation
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/metoken_test.go
  x/metoken/keeper/mocks_test.go
  x/metoken/mocks/metoken.go
Due: modules

add emergency group address check
  x/leverage/keeper/msg_server.go
Due: modules

lint
  x/leverage/types/msgs.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/intest/suite_test.go
Due: modules

switch module to new functions
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/liquidate.go
Due: modules

add tests to check inflation rate speed change
  app/inflation/inflation_test.go
Due: app

move maxWithdraw and maxBorrow over
  x/leverage/keeper/limits.go
Due: modules

lint
  x/uibc/quota/keeper/intest/suite_test.go
Due: modules

clean expected types
  x/leverage/keeper/keeper.go
  x/leverage/types/expected_types.go
  x/leverage/types/msgs_test.go
Due: modules

checkers: add 0-1 range check
  util/checkers/number.go
  util/checkers/number_test.go
Due: none

fix tests
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/token.go
Due: modules

fix one price outage issue
  x/leverage/keeper/limits.go
  x/leverage/types/position.go
  x/leverage/types/position_change.go
  x/leverage/types/position_test.go
Due: modules

fix another price outage issue
  x/leverage/keeper/limits.go
Due: modules

fix client test
  x/leverage/types/position.go
Due: modules

++
  x/leverage/types/position_test.go
Due: modules

finish
  x/leverage/types/position_test.go
Due: modules

fix
  x/leverage/keeper/keeper.go
Due: modules

adding more tests to uibc (#2184)
  x/uibc/quota/ics4_wrapper_test.go
  x/uibc/quota/keeper/intest/grpc_query_test.go
Due: modules

genesis test
  x/leverage/keeper/genesis_test.go
Due: modules

update ValidateProposal
  util/checkers/proposal.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/uibc/msg.go
Due: modules

feat: emergency group leverage (#2188)
  app/app.go
  tests/tsdk/numbers.go
  tests/tsdk/numbers_test.go
  util/checkers/number.go
  util/checkers/number_test.go
  util/checkers/proposal.go
  util/checkers/proposal_test.go
  x/incentive/msgs.go
  x/leverage/keeper/genesis_test.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/token.go
  x/leverage/types/genesis.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/token.go
  x/metoken/msgs.go
  x/ugov/msg.go
  x/uibc/msg.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/intest/suite_test.go
Due: app, modules

tests(leverage): add simple emergency group integration test
  app/inflation/inflation_test.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/msg_server_test.go
  x/ugov/mocks/constructors.go
  x/ugov/mocks/simple_emergency_group.go
Due: app, modules

insufficient error
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/swap.go
Due: modules

delete root.go and move ibc_denom into cmd
  cmd/ibc_denom/cmd/root.go
  cmd/ibc_denom/ibc_denom.go
  cmd/ibc_denom/ibc_denom_test.go
  cmd/ibc_denom/main.go
Due: none

chore: add util cmd for create ibc denom by base denom and channel-id (#2187)
  cmd/ibc_denom/ibc_denom.go
  cmd/ibc_denom/ibc_denom_test.go
  cmd/ibc_denom/main.go
Due: none

feat: integrate emergency group with IBC Quota
  app/app.go
  x/uibc/quota/keeper/keeper.go
Due: app, modules

proto(ugov): remove title and description from ugov MsgGovSetIBCStatus and MsgGovUpdateQuota
  proto/umee/uibc/v1/tx.proto
  x/uibc/tx.pb.go
Due: none
