Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

revert
  x/leverage/types/token.go
Due: modules

revert
  x/leverage/keeper/oracle.go
Due: modules

tests: qa running with docker network (#2105)
  client/client.go
  sdkclient/client.go
  sdkclient/tx/client.go
  tests/e2e/setup/setup.go
  tests/qa/cw/config_example.yaml
  tests/qa/cw/cw_test.go
  tests/qa/cw/cw_utils.go
  tests/qa/cw/network_config.go
  tests/qa/cw/setup.go
Due: client

implement borrow factor in userMaxBorrow
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/liquidate.go
Due: modules

implement userMaxBorrow + cause failing wasm test
  x/leverage/keeper/limits.go
Due: modules

lint
  x/leverage/keeper/limits.go
Due: modules

fix cw query for leverage max borrow
  app/wasm/query/handle_leverage.go
Due: app

fix cw query for leverage max borrow (#2116)
  app/wasm/query/handle_leverage.go
Due: app

add denom to test suite registry
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/suite_test.go
Due: modules

max withdaw test
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/oracle_test.go
Due: modules

withdraw and max withdraw tests
  x/leverage/keeper/msg_server_test.go
Due: modules

borrow and maxborrow tests
  x/leverage/keeper/msg_server_test.go
Due: modules

WIP: moving avg period and shift to oracle genesis params
  proto/umee/oracle/v1/oracle.proto
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/migrations.go
  x/oracle/keeper/params.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/params.go
Due: modules

fix the simulation tests
  x/oracle/simulations/genesis.go
  x/oracle/types/params.go
Due: modules

fix the tests
  proto/umee/oracle/v1/oracle.proto
  x/oracle/types/oracle.pb.go
  x/oracle/types/params.go
  x/oracle/types/params_test.go
Due: modules

renaming suggestion
  x/leverage/keeper/borrows.go
  x/leverage/keeper/oracle.go
Due: modules

halfDec
  x/leverage/types/token.go
Due: modules

rename
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/oracle.go
Due: modules

README
  x/leverage/README.md
Due: none

Update x/leverage/README.md
  x/leverage/README.md
Due: none

readme suggestions
  x/leverage/README.md
Due: none

feat: add borrow factor (#2114)
  CHANGELOG.md
  x/leverage/README.md
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/inspector_test.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/types/token.go
Due: modules

added todo
  app/upgrades.go
Due: app

test: reduce waiting times
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_util_test.go
Due: none

tests: remove gb from e2e tests
  tests/e2e/doc.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_test.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/eth_abi.go
  tests/e2e/setup/ethereum.go
  tests/e2e/setup/orchestrator.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/e2e/suite.go
  tests/util/ethereum.go
Due: none

go.mod tidy
  go.mod
  go.sum
Due: none

tests: remove gb from e2e tests (#2119)
  go.mod
  go.sum
  tests/e2e/doc.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_test.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/eth_abi.go
  tests/e2e/setup/ethereum.go
  tests/e2e/setup/orchestrator.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/e2e/suite.go
  tests/util/ethereum.go
Due: none

Apply suggestions from code review
  x/incentive/keeper/iter.go
Due: modules

remove gravity begin and end blocker
  app/app.go
  app/upgrades.go
Due: app

remove gravity begin and end blocker
  app/upgrades.go
Due: app

lint
  app/upgrades.go
Due: app

perf: remove unnecessary null byte (#2110)
  util/keys/keys.go
  util/store/iter.go
  util/store/iter_test.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/keys.go
  x/leverage/keeper/iter.go
Due: modules

re-add gb in begin blocker end blocker
  app/app.go
Due: app

chore: upgrade GB
  go.mod
  go.sum
Due: none

upgrade gb to latest
  go.mod
  go.sum
Due: none

feat: add GB drain upgrade handler (#2107)
  app/upgrades.go
  go.mod
  go.sum
Due: app

add AvgCounterParams to oracle genesis params
  proto/umee/oracle/v1/oracle.proto
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/migrations.go
  x/oracle/keeper/params.go
  x/oracle/simulations/genesis.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/params.go
  x/oracle/types/params_test.go
Due: modules
