Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

rename atomToken to umeeToken in tests UndoUpdateQuota
  x/uibc/quota/intest/quota_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

patch sdk
  go.mod
  go.sum
Due: none

api suggestion
  proto/umee/leverage/v1/query.proto
Due: none

proto gen after suggestion
  proto/umee/leverage/v1/query.proto
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: modules

feat: add symbol name to the x/uibc QueryAllOutflowsResponse
  proto/umee/uibc/v1/query.proto
  proto/umee/uibc/v1/uibc.proto
  x/uibc/query.pb.go
  x/uibc/uibc.pb.go
Due: none

remove unnecessary Keeper reference
  x/leverage/keeper/grpc_query.go
Due: modules

feat: query RegisteredTokenMarkets (#2369)
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/uibc/uibc.pb.go
Due: modules

pr comments
  CHANGELOG.md
  x/metoken/keeper/fee.go
  x/metoken/keeper/price.go
Due: modules

update proto: not nullable outflows
  proto/umee/uibc/v1/query.proto
  x/uibc/query.pb.go
  x/uibc/uibc.pb.go
Due: none

update query implementation
  x/uibc/expected_keepers.go
  x/uibc/quota/grpc_query.go
Due: modules

fix proto
  proto/umee/uibc/v1/uibc.proto
  x/uibc/uibc.pb.go
Due: none

pr comments
  x/metoken/keeper/fee.go
Due: modules

re-generate mocks
  x/metoken/mocks/keepers.go
  x/uibc/mocks/keepers.go
Due: modules

fix tests
  x/uibc/quota/mocks_test.go
Due: modules

feat: added fee to price and balances query (#2365)
  CHANGELOG.md
  proto/umee/metoken/v1/metoken.proto
  swagger/swagger.yaml
  util/coin/coin.go
  x/metoken/client/tests/cli_test.go
  x/metoken/client/tests/suite.go
  x/metoken/client/tests/tests.go
  x/metoken/keeper/fee.go
  x/metoken/keeper/fee_test.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/price.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/swap.go
  x/metoken/metoken.pb.go
  x/metoken/mocks/metoken.go
Due: modules

MapToSlice
  util/genmap/genmap.go
  util/genmap/genmap_test.go
Due: none

update tests
  x/uibc/quota/mocks_test.go
Due: modules

fix: inflow amount of registered token (#2368)
  CHANGELOG.md
  x/uibc/quota/intest/quota_test.go
  x/uibc/quota/quota.go
Due: modules

fix tests
  util/checkers/number_test.go
Due: none

regenerate proto
  swagger/swagger.yaml
  x/uibc/uibc.pb.go
Due: none

update changelog
  CHANGELOG.md
Due: none

lint
  proto/umee/uibc/v1/query.proto
  proto/umee/uibc/v1/uibc.proto
Due: none

feat(uibc): add missing params to MsgGovUpdateQuota (#2370)
  CHANGELOG.md
  proto/umee/uibc/v1/tx.proto
  proto/umee/uibc/v1/uibc.proto
  swagger/swagger.yaml
  util/checkers/number.go
  util/checkers/number_test.go
  x/uibc/msg.go
  x/uibc/msg_test.go
  x/uibc/quota/intest/msg_server_test.go
  x/uibc/quota/msg_server.go
  x/uibc/quota/params.go
  x/uibc/quota/params_test.go
  x/uibc/tx.pb.go
  x/uibc/uibc.pb.go
Due: modules

docs and rename
  util/genmap/genmap.go
  util/genmap/genmap_test.go
  x/uibc/quota/mocks_test.go
Due: modules

regenerate proto
  proto/umee/uibc/v1/uibc.proto
  swagger/swagger.yaml
  x/uibc/uibc.pb.go
Due: none

feat: add symbol name to the x/uibc QueryAllOutflowsResponse (#2374)
  CHANGELOG.md
  proto/umee/uibc/v1/query.proto
  proto/umee/uibc/v1/uibc.proto
  swagger/swagger.yaml
  util/genmap/genmap.go
  util/genmap/genmap_test.go
  x/leverage/keeper/grpc_query.go
  x/metoken/mocks/keepers.go
  x/uibc/expected_keepers.go
  x/uibc/mocks/keepers.go
  x/uibc/query.pb.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/mocks_test.go
  x/uibc/uibc.pb.go
Due: modules

feat(uibc): ignore IBC memo handling (#2373)
  x/uibc/uics20/ibc_module.go
Due: modules

fix sdkclient keyring key selector
  sdkclient/tx/client.go
Due: none

simplify
  sdkclient/tx/client.go
Due: none

lint
  sdkclient/tx/client.go
Due: none

chore: bump cosmos sdk (#2363)
  CHANGELOG.md
  go.mod
  go.sum
  sdkclient/tx/client.go
Due: none

fix(sdkclient): acc sequence setting
  client/client.go
  sdkclient/tx/client.go
  sdkclient/tx/wasm.go
  tests/e2e/setup/utils.go
Due: client

v6.3 release handler
  app/upgrades.go
Due: app

release notes
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

fix(sdkclient): acc sequence setting (#2375)
  CHANGELOG.md
  client/client.go
  sdkclient/tx/client.go
  sdkclient/tx/wasm.go
  tests/e2e/setup/utils.go
Due: client

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
