Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Update util/store/iter.go
  util/store/iter.go
Due: none

chore: simplify and cleanup upgrades.go (#2324)
  app/upgrades.go
  app/upgradev3/migrations.go
  app/upgradev3x3/gov_legacy.pb.go
  app/upgradev3x3/migrate.go
  app/upgradev3x3/proposal_legacy.go
  app/wasm.go
  x/leverage/keeper/migrations.go
  x/oracle/keeper/keeper.go
  x/oracle/migrations/exg_rates_migrations.go
  x/oracle/migrations/migrations.go
Due: app, modules

fix the build issue
  app/upgrades.go
Due: app

refactor LoadAllDecCoins func
  util/store/iter.go
Due: none

feat: adding ibc quota v2 (#2296)
  app/upgrades.go
  proto/umee/uibc/v1/genesis.proto
  proto/umee/uibc/v1/quota.proto
  tests/e2e/e2e_ibc_test.go
  util/store/iter.go
  util/store/store.go
  x/uibc/README.md
  x/uibc/genesis.go
  x/uibc/genesis.pb.go
  x/uibc/params.go
  x/uibc/quota.pb.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/migrations.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/unit_test.go
Due: app, modules

chore: upgrade cosmos sdk to v0.47.6
  go.mod
  go.sum
Due: none

chore: upgrade cosmos sdk to v0.47.6 (#2326)
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

feat: simplify special asset pairs calculations (#2315)
  CHANGELOG.md
  x/leverage/EXAMPLES.md
  x/leverage/README.md
  x/leverage/keeper/collateral.go
  x/leverage/keeper/limits.go
  x/leverage/types/documented_test.go
  x/leverage/types/position.go
  x/leverage/types/position_change.go
  x/leverage/types/position_test.go
  x/leverage/types/string.go
  x/leverage/types/weighted_coin.go
  x/leverage/types/weighted_coin_test.go
Due: modules

docs: update readme badges
  README.md
Due: none

Update README.md
  README.md
Due: none

bank: rename UMEE token to UX
  app/modules.go
  app/params/app_settings.go
Due: app

migration
  app/modules.go
  app/upgrades.go
Due: app

use new token BaseName and introduce IBCBaseName
  app/inflation/inflation_test.go
  app/modules.go
  app/params/app_settings.go
  app/test_helpers.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
  sdkclient/tx/wasm.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/accounts.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  util/coin/fixtures.go
  x/incentive/client/tests/tests.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/exchange_rate_test.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/reserves_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/keys_test.go
  x/leverage/types/token.go
  x/oracle/abci_test.go
  x/oracle/keeper/hooks_test.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/asset.go
  x/oracle/types/keys_test.go
  x/ugov/inflation_params.go
  x/ugov/keeper/params_test.go
  x/uibc/quota/keeper/intest/suite_test.go
Due: app, modules

fix the markdown lint
  README.md
Due: none

docs: update readme badges (#2327)
  README.md
Due: none

Revert "use new token BaseName and introduce IBCBaseName"
  app/inflation/inflation_test.go
  app/modules.go
  app/params/app_settings.go
  app/test_helpers.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
  sdkclient/tx/wasm.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/accounts.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  util/coin/fixtures.go
  x/incentive/client/tests/tests.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/exchange_rate_test.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/reserves_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/keys_test.go
  x/leverage/types/token.go
  x/oracle/abci_test.go
  x/oracle/keeper/hooks_test.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/asset.go
  x/oracle/types/keys_test.go
  x/ugov/inflation_params.go
  x/ugov/keeper/params_test.go
  x/uibc/quota/keeper/intest/suite_test.go
Due: app, modules

rename
  app/modules.go
  app/params/app_settings.go
Due: app

typo
  app/params/app_settings.go
Due: app

update denom validation regexp
  app/params/app_settings.go
  app/params/app_settings_test.go
  app/params/prefix.go
Due: app

update the swagger docs for uibc
  swagger/swagger.yaml
Due: none

update the docs
  README.md
Due: none

docs: update the swagger docs for uibc (#2329)
  README.md
  swagger/swagger.yaml
Due: none

rollback UX symbol to UMEE
  app/modules.go
Due: app

chore: v6.2 release notes
  README.md
  RELEASE_NOTES.md
  x/uibc/README.md
Due: none

chore: v6.2 release notes (#2331)
  README.md
  RELEASE_NOTES.md
  x/uibc/README.md
Due: none

chore: rename uibc quota params
  proto/umee/uibc/v1/genesis.proto
  proto/umee/uibc/v1/quota.proto
  x/uibc/README.md
Due: none

update go files
  CHANGELOG.md
  app/upgrades.go
  swagger/swagger.yaml
  x/uibc/client/tests/cli_test.go
  x/uibc/genesis.go
  x/uibc/genesis.pb.go
  x/uibc/genesis_test.go
  x/uibc/params.go
  x/uibc/quota.pb.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/migrations.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
Due: app, modules

more updates
  x/uibc/quota/keeper/genesis.go
Due: modules

typo
  x/uibc/README.md
Due: none

lint
  x/uibc/genesis.go
  x/uibc/quota/keeper/genesis.go
Due: modules

readme
  x/uibc/README.md
Due: none

ai suggestions
  x/uibc/genesis.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
Due: modules

more rename
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

lint
  x/uibc/README.md
Due: none

fix tests
  x/uibc/genesis_test.go
Due: modules

rename
  x/uibc/quota/keeper/quota.go
Due: modules

rename
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/migrations.go
  x/uibc/quota/keeper/quota.go
Due: modules

chore: rename uibc quota params (#2332)
  CHANGELOG.md
  app/upgrades.go
  proto/umee/uibc/v1/genesis.proto
  proto/umee/uibc/v1/quota.proto
  swagger/swagger.yaml
  x/uibc/README.md
  x/uibc/client/tests/cli_test.go
  x/uibc/genesis.go
  x/uibc/genesis.pb.go
  x/uibc/genesis_test.go
  x/uibc/params.go
  x/uibc/quota.pb.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/migrations.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/unit_test.go
Due: app, modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
