Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

address the second review comments
  app/upgrades.go
  x/uibc/README.md
  x/uibc/params.go
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/unit_test.go
Due: app, modules

removed denom metadata tracker from docs
  x/uibc/README.md
Due: none

metoken wasm queries (#2311)
  app/wasm/query/handle_metoken.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/test/umee_cw_test.go
Due: app

empty fxns
  x/leverage/keeper/limits.go
  x/leverage/types/documented_test.go
  x/leverage/types/new_position.go
  x/leverage/types/position.go
  x/leverage/types/position_change.go
  x/leverage/types/position_test.go
  x/leverage/types/string.go
  x/leverage/types/weighted_coin.go
  x/leverage/types/weighted_coin_test.go
Due: modules

new validate logic
  x/leverage/types/position.go
  x/leverage/types/string.go
  x/leverage/types/weighted_coin.go
Due: modules

fix comment
  x/leverage/types/position.go
Due: modules

comment++
  x/leverage/types/position.go
Due: modules

support functions
  x/leverage/types/position.go
Due: modules

limit computation
  x/leverage/types/position.go
Due: modules

++
  x/leverage/types/position.go
Due: modules

limit logic
  x/leverage/types/position.go
Due: modules

refactor forEach
  x/leverage/types/position.go
Due: modules

maxBorrow logic
  x/leverage/types/position.go
Due: modules

maxWithdraw logic
  x/leverage/types/position.go
Due: modules

guard against zero div
  x/leverage/types/position.go
Due: modules

done
  x/metoken/expected_keepers.go
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/price.go
  x/metoken/keeper/price_test.go
  x/metoken/mocks/keepers.go
  x/metoken/module/abci.go
  x/oracle/keeper/hooks.go
Due: modules

mocks fixed
  contrib/scripts/mockgen.sh
  x/metoken/mocks/keepers.go
Due: modules

add check for token outflows with InflowOutflowQuotaTokenBase
  proto/umee/uibc/v1/quota.proto
  x/uibc/params.go
  x/uibc/quota.pb.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

e2e test added
  tests/e2e/e2e_metoken_test.go
Due: none

e2e frequency changed
  tests/e2e/e2e_metoken_test.go
Due: none

remove e2e test
  tests/e2e/e2e_metoken_test.go
Due: none

adding symbol denom
  x/metoken/keeper/price.go
Due: modules

stringer skips empty special assets
  x/leverage/types/string.go
Due: modules

maxWithdraw behavior
  x/leverage/keeper/limits.go
  x/leverage/types/documented_test.go
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

fix the ibc e2e tests
  tests/e2e/e2e_ibc_test.go
Due: none

going through tests
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

comment
  x/leverage/types/position.go
Due: modules

fixed all position_test.go
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

fix normal asset max borrow
  x/leverage/types/position.go
Due: modules

logic and TODOs
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

update Readme, example calculations, and documented_test.go
  x/leverage/EXAMPLES.md
  x/leverage/README.md
  x/leverage/types/documented_test.go
  x/leverage/types/position.go
Due: modules

TODO
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

fix comments, confirm safety of 1.0 assumed borrow factor for unused collateral when under limit
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

finalize maxWithdraw
  x/leverage/keeper/collateral.go
  x/leverage/keeper/limits.go
  x/leverage/types/position.go
Due: modules

lint
  x/leverage/EXAMPLES.md
Due: none

lint
  x/leverage/keeper/limits.go
  x/leverage/types/position.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
