Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

fix wasm keeper tests
  app/wasm/test/cw20_base_test.go
Due: app

docs(setup): validator instructions
  README.md
  VALIDATOR.md
Due: none

Apply suggestions from code review
  VALIDATOR.md
Due: none

update min gras prices notes
  VALIDATOR.md
Due: none

lint
  VALIDATOR.md
Due: none

endpoints
  VALIDATOR.md
Due: none

formatting
  VALIDATOR.md
Due: none

docs(setup): validator instructions (#2407)
  README.md
  VALIDATOR.md
Due: none

feat(cmd): new converter helper app
  cmd/converter/bech32.go
  cmd/converter/main.go
Due: none

support list
  cmd/converter/bech32.go
Due: none

changelog
  CHANGELOG.md
Due: none

docs: update incentive proto docs
  proto/umee/incentive/v1/tx.proto
  x/incentive/tx.pb.go
Due: none

feat(cmd): new converter helper app (#2408)
  CHANGELOG.md
  cmd/converter/bech32.go
  cmd/converter/main.go
Due: none

typo
  proto/umee/incentive/v1/tx.proto
  x/incentive/tx.pb.go
Due: none

docs: update incentive proto docs (#2410)
  proto/umee/incentive/v1/tx.proto
  x/incentive/tx.pb.go
Due: none

feat(ibc): add memo checks and fix receipient address
  x/uibc/uics20/ibc_module.go
Due: modules

add checks
  x/uibc/uics20/ibc_module.go
Due: modules

fix
  x/uibc/uics20/ibc_module.go
Due: modules

comment and fix
  x/uibc/uics20/ibc_module.go
Due: modules

more checks
  x/uibc/uics20/ibc_module.go
Due: modules

lint
  x/uibc/uics20/ibc_module.go
Due: modules

test
  x/uibc/uics20/ics4_module_memo_test.go
Due: modules

handle liquidate
  x/uibc/uics20/ibc_module.go
Due: modules

update tests
  x/uibc/uics20/ics4_module_memo_test.go
Due: modules

feat(ibc): add memo checks and fix receipient address (#2411)
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_module_memo_test.go
Due: modules

chore: refactore uibc/ics20 memo handler
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

update tests
  x/uibc/uics20/ics4_module_int_test.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

more tests
  x/uibc/uics20/memo_handler_test.go
Due: modules

fix the inflows sum adding when sender chain is source chain
  x/uibc/quota/quota.go
Due: modules

chore: ics20 memo refactore (#2416)
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_module_int_test.go
  x/uibc/uics20/ics4_module_memo_test.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

tests: more ibc memo tests
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

memo deserialization failure should log debug and gracefully continue
  x/uibc/uics20/memo_handler.go
Due: modules

update the changelog
  CHANGELOG.md
Due: none

fix the tests
  x/uibc/quota/intest/quota_test.go
Due: modules

review
  x/uibc/uics20/memo_handler.go
Due: modules

tests: more ibc memo tests (#2418)
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

update RecordIBCInflow
  x/uibc/quota/quota.go
Due: modules
