Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

inflation rate change condition updated
  proto/umee/ugov/v1/genesis.proto
  x/mint/module/abci.go
  x/ugov/genesis.pb.go
Due: modules

full example
  x/leverage/README.md
Due: none

fix: minor 5.2 fixes
  CHANGELOG.md
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/scenario_test.go
  x/leverage/types/tx.go
Due: modules

CL++
  CHANGELOG.md
Due: none

test++
  x/leverage/types/tx_test.go
Due: modules

lint++
  CHANGELOG.md
Due: none

WIP: add tests for mint BeginBlock
  x/mint/module/abci_test.go
Due: modules

feat: add special asset pairs
  proto/umee/leverage/v1/genesis.proto
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/query.proto
  proto/umee/leverage/v1/tx.proto
  swagger/swagger.yaml
  x/leverage/client/cli/query.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/token.go
  x/leverage/simulation/genesis.go
  x/leverage/types/errors.go
  x/leverage/types/genesis.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/genesis_test.go
  x/leverage/types/keys.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/token.go
  x/leverage/types/tx.pb.go
Due: modules

Update proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/leverage.proto
Due: none

upgrade to v0.47.4 and add upgrade handler for v6
  app/upgrades.go
  go.mod
  go.sum
Due: app

fix determinism test
  app/upgrades.go
  tests/simulation/sim_test.go
Due: app

chore: bump cosmos sdk
  go.mod
  go.sum
Due: none

rename the LiquidationParams to InflationParams
  app/app.go
  proto/umee/ugov/v1/events.proto
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  proto/umee/ugov/v1/ugov.proto
  x/mint/abci.go
  x/mint/expected_keepers.go
  x/mint/module.go
  x/ugov/client/cli/query.go
  x/ugov/codec.go
  x/ugov/events.pb.go
  x/ugov/genesis.go
  x/ugov/genesis.pb.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
  x/ugov/liquidation_params.go
  x/ugov/msg.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
  x/ugov/ugov.pb.go
Due: app, modules

fix the lint
  x/mint/abci.go
  x/mint/expected_keepers.go
Due: modules

Update x/leverage/README.md
  x/leverage/README.md
Due: none

Update x/leverage/types/tx.go
  x/leverage/types/tx.go
Due: modules

update the MaxSupply
  x/ugov/inflation_params.go
Due: modules

chore: bump cosmos sdk (#2152)
  go.mod
  go.sum
Due: none

add borrow factor note
  x/leverage/README.md
Due: none

readme++
  x/leverage/README.md
Due: none

docs: update libwasmvm notes
  README.md
  RELEASE_NOTES.md
Due: none

refactore: don't use pointer type for Price slice alias
  x/oracle/abci_test.go
  x/oracle/keeper/grpc_query.go
  x/oracle/types/price.go
Due: modules

lint
  x/oracle/keeper/grpc_query.go
Due: modules

test: reduce e2e duration (#2126)
  sdkclient/tx/gov.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: none

docs: update libwasmvm notes (#2153)
  README.md
  RELEASE_NOTES.md
Due: none

tests
  x/oracle/types/price_test.go
Due: modules

feat: adding basis points math package
  util/bpmath/bp.go
  util/bpmath/fixed_bp.go
  util/bpmath/types.go
Due: none

tests and docs
  util/bpmath/bp_test.go
  util/bpmath/doc.go
  util/bpmath/fixed_bp_test.go
Due: none

docs update
  util/bpmath/doc.go
Due: none

change types.NewPrice() to return object rather than pointer
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/historic_price.go
  x/oracle/keeper/historic_price_test.go
  x/oracle/types/price.go
  x/oracle/types/price_test.go
Due: modules

Apply suggestions from code review
  util/bpmath/bp.go
  util/bpmath/fixed_bp.go
  util/bpmath/types.go
Due: none

review
  util/bpmath/bp.go
  util/bpmath/bp_test.go
  util/bpmath/fixed_bp.go
  util/bpmath/fixed_bp_test.go
  util/bpmath/types.go
Due: none

fix test
  tests/simulation/sim_test.go
Due: none

remove dep on gogoproto
  go.mod
  proto/buf.lock
  proto/buf.yaml
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
  x/leverage/types/events.pb.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/tx.pb.go
  x/oracle/types/events.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/tx.pb.go
  x/uibc/events.pb.go
  x/uibc/genesis.pb.go
  x/uibc/query.pb.go
  x/uibc/quota.pb.go
  x/uibc/tx.pb.go
Due: none

rename inflation_cycle_start_time to inflation_cycle_start in params
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/ugov.proto
  x/mint/abci.go
  x/mint/expected_keepers.go
  x/ugov/genesis.pb.go
  x/ugov/inflation_params.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
  x/ugov/query.pb.go
  x/ugov/ugov.pb.go
Due: modules

improve(oracle): don't use pointer type for Price slice alias (#2154)
  x/oracle/abci_test.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/historic_price.go
  x/oracle/keeper/historic_price_test.go
  x/oracle/types/price.go
  x/oracle/types/price_test.go
Due: modules
