Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

Upgrade handler added v6.7.0-rc1 back (#2641)
  app/upgrades.go
Due: app

update cosmos-sdk to v0.47.15
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

update cosmos-sdk to v0.47.15 (#2646)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

fix: fix the msg liquidate tx
  x/leverage/keeper/collateral.go
Due: modules

update the changelog
  CHANGELOG.md
Due: none

update the release notes
  RELEASE_NOTES.md
Due: none

fix: fix the msg liquidate tx (#2647)
  CHANGELOG.md
  RELEASE_NOTES.md
  x/leverage/keeper/collateral.go
Due: modules

fix the upgrade handler for canon-4
  app/upgrades.go
Due: app

fix the upgrade handler for canon-4 (#2651)
  app/upgrades.go
Due: app

build(deps): replace nhooyr.io/websocket
  go.mod
  go.sum
Due: none

build(deps): replace nhooyr.io/websocket (#2653)
  go.mod
  go.sum
Due: none

check ack if only ack not async
  tests/e2e/e2e_ibc_memo_test.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

fix the tests
  tests/e2e/e2e_ibc_memo_test.go
Due: none

fix: check ack success if only ack is not async (#2662)
  tests/e2e/e2e_ibc_memo_test.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

adding canon-4 upgrade handler for v6.7.3-rc1
  app/upgrades.go
Due: app

fix the lint
  .golangci.yml
  app/upgrades.go
  x/oracle/client/tests/suite.go
Due: app, modules

adding canon-4 upgrade handler for v6.7.3-rc1 (#2670)
  .golangci.yml
  app/upgrades.go
  x/oracle/client/tests/suite.go
Due: app, modules

update release notes and changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

update release notes and changelog (#2671)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

adding release notes v6.7.3
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

adding release notes v6.7.3 (#2672)
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

fix the build issue
  app/app.go
Due: app

fix the lint issue
  .golangci.yml
Due: none

chore: fix some function names in comment
  x/uibc/gmp/gmp_middleware.go
  x/uibc/uics20/memo_handler.go
Due: modules

add upgrade handler for v6.7.4-rc1
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

add upgrade handler for v6.7.4-rc1 (#2696)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

chore: fix some comments
  util/bpmath/doc.go
  x/oracle/keeper/historic_avg_test.go
  x/oracle/types/params.go
  x/uibc/quota/quota_test.go
Due: modules

Fixed broken link
  x/uibc/gmp/README.md
Due: none

Fix broken link to Axelar Cosmos GMP documentation
  x/uibc/gmp/README.md
Due: none

update to cosmos-sdk to v0.50.14
  app/upgrades.go
  go.mod
  go.sum
Due: app
