Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

suggestion++
  x/incentive/genesis_test.go
Due: modules

update to v5
  tools/tools.go
  x/incentive/genesis_test.go
  x/incentive/keeper/bond_test.go
  x/incentive/keeper/grpc_query_test.go
  x/incentive/keeper/hooks_test.go
Due: modules

use coin fixtures
  x/incentive/genesis_test.go
  x/incentive/msgs_test.go
Due: modules

remove repeated string
  x/incentive/genesis_test.go
  x/incentive/msgs_test.go
Due: modules

remove experimental flag from incentive, thus fix tests
  app/app.go
  app/upgrades.go
  x/incentive/genesis_test.go
  x/incentive/keys_test.go
  x/incentive/msgs_test.go
  x/incentive/params_test.go
Due: app, modules

add parallel
  x/incentive/genesis_test.go
  x/incentive/keeper/bond_test.go
  x/incentive/keeper/genesis_test.go
  x/incentive/keeper/grpc_query_test.go
  x/incentive/keeper/hooks_test.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/scenario_test.go
  x/incentive/msgs_test.go
Due: modules

lint
  app/upgrades.go
  x/incentive/keeper/bond_test.go
  x/incentive/keeper/grpc_query_test.go
  x/incentive/keeper/hooks_test.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unit_test.go
Due: app, modules

test: remaining incentive module unit tests (#2061)
  app/app.go
  app/upgrades.go
  tools/tools.go
  x/incentive/genesis.go
  x/incentive/genesis_test.go
  x/incentive/keeper/bond_test.go
  x/incentive/keeper/genesis.go
  x/incentive/keeper/genesis_test.go
  x/incentive/keeper/grpc_query_test.go
  x/incentive/keeper/hooks_test.go
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unbonding.go
  x/incentive/keeper/unit_test.go
  x/incentive/keys_test.go
  x/incentive/msgs_test.go
  x/incentive/params_test.go
Due: app, modules

move stargate whitelist into wasm/query folder
  app/wasm/custom_plugins.go
  app/wasm/query/querier.go
  app/wasm/query/whitelist.go
  client/stargate.go
Due: app, client

chore: add stargate queries to cosmwasm (#2069)
  app/app.go
  app/wasm/custom_plugins.go
  app/wasm/query/querier.go
  app/wasm/query/whitelist.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
  client/stargate.go
  docs/cosmwasm.md
  tests/artifacts/umee_cosmwasm-aarch64.wasm
Due: app, client

filter on first iterate
  x/leverage/keeper/inspector.go
Due: modules

simplify sort
  x/leverage/keeper/inspector.go
Due: modules

simplify cli query construction
  x/leverage/client/cli/query.go
Due: modules

feat: use more store functions in incentive
  x/incentive/keeper/iter.go
  x/leverage/keeper/iter.go
Due: modules

proto update
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
  x/leverage/types/query.pb.go
  x/oracle/types/events.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/tx.pb.go
  x/uibc/events.pb.go
  x/uibc/genesis.pb.go
  x/uibc/query.pb.go
  x/uibc/quota.pb.go
  x/uibc/tx.pb.go
Due: none

Update x/incentive/keeper/iter.go
  x/incentive/keeper/iter.go
Due: modules

add SumCoins to store/iter
  util/store/iter.go
Due: none

better proto doc
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/types/query.pb.go
Due: none

struct suggestion++
  x/leverage/keeper/inspector.go
Due: modules

update mock keepers for unit test
  x/leverage/keeper/mock_test.go
  x/leverage/keeper/unit_test.go
Due: modules

move Cdc into E2ESuite cdc
  tests/e2e/cw_test.go
  tests/e2e/e2e_test.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/eth_abi.go
  tests/e2e/setup/ethereum.go
  tests/e2e/setup/gaia.go
  tests/e2e/setup/genesis.go
  tests/e2e/setup/io.go
  tests/e2e/setup/keys.go
  tests/e2e/setup/orchestrator.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/e2e/setup/validator.go
  tests/e2e/suite.go
Due: none

Revert "update mock keepers for unit test"
  x/leverage/keeper/mock_test.go
  x/leverage/keeper/unit_test.go
Due: modules

fix refactor and add unit test
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/inspector.go
Due: modules

feat: add inspector queries (#2085)
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
  x/leverage/client/cli/query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/inspector_test.go
  x/leverage/types/events.pb.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/tx.pb.go
  x/oracle/types/events.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/tx.pb.go
  x/uibc/events.pb.go
  x/uibc/genesis.pb.go
  x/uibc/query.pb.go
  x/uibc/quota.pb.go
  x/uibc/tx.pb.go
Due: modules

proto comment update
  proto/umee/leverage/v1/tx.proto
  x/leverage/types/tx.pb.go
Due: none

cleanup PR = empty function
  x/leverage/keeper/keeper.go
Due: modules

make proto-all
  x/leverage/types/tx.pb.go
Due: none

bump GravityBridge
  go.mod
  go.sum
Due: none

update dependency matrix
  README.md
Due: none

rename to FastLiquidate
  proto/umee/leverage/v1/tx.proto
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
  x/leverage/types/tx_test.go
Due: modules

reoute returns empty string
  x/leverage/types/tx.go
Due: modules

changelog
  CHANGELOG.md
Due: none

lint
  x/leverage/keeper/keeper.go
  x/leverage/types/tx.go
Due: modules

feat: flash liquidation proto (#2102)
  CHANGELOG.md
  proto/umee/leverage/v1/tx.proto
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
  x/leverage/types/tx_test.go
Due: modules

refactor: refactor the e2e setup suite (#2048)
  tests/e2e/cw_test.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_test.go
  tests/e2e/eth_abi.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/eth_abi.go
  tests/e2e/setup/ethereum.go
  tests/e2e/setup/gaia.go
  tests/e2e/setup/genesis.go
  tests/e2e/setup/io.go
  tests/e2e/setup/keys.go
  tests/e2e/setup/orchestrator.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/e2e/setup/validator.go
  tests/e2e/suite.go
  tests/e2e/util.go
Due: none

chore: bump GB (#2103)
  README.md
  go.mod
  go.sum
Due: none

add prefixStore method
  util/store/iter.go
  x/leverage/keeper/iter.go
Due: modules

use store.SumCoins
  util/store/iter.go
  x/leverage/keeper/iter.go
Due: modules

use store.SumCoins in incentive
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/keeper.go
  x/leverage/keeper/iter.go
Due: modules

add tests
  util/store/iter_test.go
Due: none
