Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

add sleep between leverage txs
  tests/e2e/e2e_leverage_test.go
Due: none

reduce the sleep time
  tests/e2e/e2e_leverage_test.go
Due: none

add disable supply to leverage scenario
  x/metoken/keeper/intest/reserves_test.go
Due: modules

fix imports
  x/metoken/keeper/intest/reserves_test.go
Due: modules

change to 1s
  tests/e2e/e2e_leverage_test.go
Due: none

fix(sdkclient): bring back the acc sequence setting fix 2 (#2384)
  client/client.go
  sdkclient/tx/client.go
  sdkclient/tx/client_test.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/utils.go
Due: client

fix the build issue
  go.mod
  sdkclient/tx/client.go
Due: none

Update x/metoken/keeper/intest/reserves_test.go
  x/metoken/keeper/intest/reserves_test.go
Due: modules

test: add disable supply to leverage for meToken index scenario (#2389)
  x/metoken/keeper/intest/reserves_test.go
Due: modules

feat: add packet forward middleware
  app/app.go
  go.mod
  go.sum
Due: app

fix linter error
  app/app.go
Due: app

tests and sims passing now
  app/app.go
Due: app

fix the golangci lint
  app/app.go
  app/export.go
  app/test_helpers.go
  app/upgradev3/migrations.go
  sdkclient/tx/client.go
  util/store/store.go
  x/incentive/codec.go
  x/incentive/keeper/keeper.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/oracle.go
  x/leverage/module.go
  x/leverage/simulation/operations.go
  x/leverage/types/codec.go
  x/metoken/codec.go
  x/metoken/keeper/fee.go
  x/metoken/mocks/metoken.go
  x/oracle/keeper/alias_functions.go
  x/oracle/keeper/slash.go
  x/oracle/module.go
  x/oracle/simulations/operations.go
  x/oracle/types/codec.go
  x/ugov/codec.go
  x/uibc/codec.go
Due: app, modules

feat: add packet forward middleware (#2381)
  app/app.go
  go.mod
  go.sum
Due: app

feat(ics20_module): check sender address
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_module_int_test.go
  x/uibc/uics20/ics4_module_memo_test.go
Due: modules

add tests
  x/uibc/mocks/leverage_noop.go
  x/uibc/uics20/ics4_module_int_test.go
  x/uibc/uics20/ics4_module_memo_test.go
Due: modules

add ftdata check
  x/uibc/uics20/ibc_module.go
Due: modules

lint
  .golangci.yml
  util/genmap/genmap_test.go
  x/oracle/keeper/grpc_query.go
  x/uibc/mocks/leverage_noop.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/params.go
  x/uibc/quota/quota.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_module_int_test.go
  x/uibc/uics20/ics4_module_memo_test.go
Due: modules

lint
  x/uibc/mocks/leverage_noop.go
  x/uibc/uics20/ics4_module_memo_test.go
Due: modules

Update x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query.go
Due: modules

fix lint
  x/oracle/keeper/grpc_query.go
Due: modules

feat(ics20_module): check sender address (#2396)
  .golangci.yml
  util/genmap/genmap_test.go
  x/oracle/keeper/grpc_query.go
  x/uibc/mocks/leverage_noop.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/params.go
  x/uibc/quota/quota.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_module_int_test.go
  x/uibc/uics20/ics4_module_memo_test.go
Due: modules

GetTxResponse refactore
  tests/e2e/e2e_oracle_test.go
  tests/grpc/gov.go
  tests/grpc/tx.go
  tests/util/cw_util.go
Due: none

simplify
  tests/grpc/gov.go
Due: none

refactore sdkclient
  sdkclient/auth.go
  sdkclient/bank.go
  sdkclient/client.go
  sdkclient/client_test.go
  sdkclient/gov.go
  sdkclient/key.go
  sdkclient/query/client.go
  sdkclient/sign.go
  sdkclient/tx/client.go
  sdkclient/wasm.go
Due: none

update umee client
  client/auth.go
  client/client.go
  client/gov.go
  client/metoken.go
  client/oracle.go
  client/uibc.go
  client/wasm.go
  sdkclient/client.go
  sdkclient/gov.go
  tests/grpc/gov.go
Due: client

update e2e setup
  sdkclient/gov.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
  tests/grpc/historical.go
  tests/grpc/tx.go
Due: none

rename
  client/metoken.go
  client/oracle.go
  client/uibc.go
  client/wasm.go
  sdkclient/client.go
  sdkclient/gov.go
  tests/grpc/historical.go
Due: client

LeverageRegistryUpdate to use new voting mechanism
  tests/e2e/e2e_leverage_test.go
  tests/e2e/e2e_metoken_test.go
  tests/grpc/gov.go
Due: none

fix cw_util
  tests/util/cw_util.go
Due: none

add missing file
  sdkclient/gov.go
  tests/e2e/setup/gov.go
Due: none

fix the msg deserilization
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_module_memo_test.go
Due: modules

fix the tests on oracle and leverage
  x/leverage/simulation/operations_test.go
  x/oracle/types/ballot_test.go
  x/oracle/types/utils_test.go
Due: modules

feat: adjust interest rate algorithm and associated token param rules (#2388)
  CHANGELOG.md
  app/upgrades.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/token.go
Due: app, modules

add upgrade handler from v0.47 to v0.50
  app/app.go
  app/upgrades.go
Due: app

move module init functions from app.go to modules.go
  app/app.go
  app/modules.go
Due: app

move keepers and keys init to keepers dir from app.go
  app/app.go
  app/export.go
  app/keepers/keepers.go
  app/keepers/keys.go
Due: app

add ibc-hooks middleware
  app/app.go
  go.mod
  go.sum
Due: app

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
