Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

allow setting max unbondings to unlimited
  proto/umee/incentive/v1/incentive.proto
  x/incentive/incentive.pb.go
  x/incentive/keeper/msg_server.go
  x/incentive/params.go
  x/incentive/params_test.go
Due: modules

fixing fees
  x/metoken/README.md
Due: none

replace panic with err in iterators
  x/incentive/keeper/genesis.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/reward.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unbonding.go
Due: modules

bump proto version
  go.mod
  go.sum
Due: none

bump proto version (#2006)
  go.mod
  go.sum
Due: none

remove communtiy fund param - use distribution module account
  proto/umee/incentive/v1/incentive.proto
  x/incentive/expected_keepers.go
  x/incentive/incentive.pb.go
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/program.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unit_test.go
  x/incentive/params.go
  x/incentive/params_test.go
Due: modules

proto doc max unbondings
  proto/umee/incentive/v1/tx.proto
  x/incentive/tx.pb.go
Due: none

emergency unbond CLI was missing
  x/incentive/client/cli/tx.go
Due: modules

typo
  x/incentive/client/cli/tx.go
Due: modules

comment
  x/incentive/keeper/grpc_query.go
Due: modules

max unbondings default to 10
  x/incentive/keeper/msg_server_test.go
  x/incentive/params.go
Due: modules

comment--
  x/incentive/keeper/msg_server_test.go
Due: modules

remove redundant empty string check
  x/incentive/keeper/grpc_query.go
Due: modules

refactor functions surrounding reduceBondTo
  x/incentive/keeper/bond.go
  x/incentive/keeper/hooks.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/unbonding.go
  x/leverage/keeper/hooks.go
  x/leverage/types/hooks.go
Due: modules

add example
  x/incentive/README.md
Due: none

add current rates query for frontend
  proto/umee/incentive/v1/query.proto
  x/incentive/client/cli/query.go
  x/incentive/keeper/grpc_query.go
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
Due: modules

tests: add cw20 testing on cosmwasm
  app/wasm/cw20_base_test.go
  tests/artifacts/cw20_base.wasm
Due: app

review: rename integrationTestSuite to E2ESuite
  tests/cli/suite.go
  x/leverage/client/tests/suite.go
  x/uibc/client/tests/suite_test.go
Due: modules

Apply suggestions from code review
  x/leverage/client/tests/cli_test.go
  x/uibc/client/tests/cli_test.go
Due: modules

fix: fix the tests
  x/uibc/client/tests/cli_test.go
Due: modules

chore: set upgrade name to alpha
  app/upgrades.go
Due: app

tests: refactoring integration test suite on cli (#2001)
  tests/cli/suite.go
  tests/cli/types.go
  x/leverage/client/tests/cli_test.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
  x/uibc/client/tests/cli_test.go
  x/uibc/client/tests/query_test.go
  x/uibc/client/tests/suite_test.go
Due: modules

chore: set upgrade name to alpha (#2008)
  app/upgrades.go
Due: app

chore(ci): use DavidAnson/markdownlint
  .github/workflows/lint.yml
Due: none

changelog and testing.md trigger
  CHANGELOG.md
  docs/testing.md
Due: none

update markdownlint config file
  .markdownlint.yml
Due: none

lint design_docs
  docs/design_docs/002-deposit-assets.md
  docs/design_docs/007-bad-debt.md
Due: none

lint x/**.md
  x/incentive/README.md
  x/leverage/LIQUIDATION.md
  x/leverage/README.md
Due: none

typos
  docs/testing.md
Due: none

fix links
  docs/design_docs/002-deposit-assets.md
Due: none

chore(ci): use DavidAnson/markdownlint (#2009)
  .github/workflows/lint.yml
  .markdownlint.yml
  CHANGELOG.md
  docs/design_docs/002-deposit-assets.md
  docs/design_docs/007-bad-debt.md
  docs/testing.md
  x/incentive/README.md
  x/leverage/LIQUIDATION.md
  x/leverage/README.md
Due: none

feat: use generics to load a collection from store
  util/store/iter.go
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/keeper.go
  x/uibc/quota/keeper/quota.go
Due: modules

update other places to use LoadAll
  x/leverage/keeper/iter.go
  x/oracle/keeper/historic_avg.go
Due: modules

changelog
  CHANGELOG.md
Due: none

chore: bump cosmwasm
  RELEASE_NOTES.md
Due: none

chore: use generics for set and get value in store util
  util/store/store.go
  util/store/unmarshal.go
Due: none

fix: fix the lint
  util/store/store.go
Due: none

chore: use generics for set and get value in store util (#2012)
  util/store/store.go
  util/store/unmarshal.go
Due: none

feat: use generics to load a collection from store (#2010)
  CHANGELOG.md
  util/store/iter.go
  x/leverage/keeper/iter.go
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/keeper.go
  x/uibc/quota/keeper/quota.go
Due: modules
