Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix module registration
  app/app.go
Due: app

fix some leverage api endpoints
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: none

upgrades
  app/upgrades.go
Due: app

changelog
  CHANGELOG.md
Due: none

feat: integrate ICA (#1963)
  CHANGELOG.md
  app/app.go
  app/upgrades.go
Due: app

chore: update cosmwasm wiring up
  app/app.go
Due: app

testing keeper/genesis.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/genesis_test.go
Due: modules

update wasm config
  app/app.go
  app/experimental_appconfig.go
  app/stable_appconfig.go
Due: app

feat: GB phase out phase2: disable cosmos -> ethereum transfers
  go.mod
  go.sum
Due: none

docs: liquidation manual (#1756)
  README.md
  x/leverage/LIQUIDATION.md
  x/leverage/README.md
Due: none

fix genesis type cast
  x/leverage/keeper/genesis.go
  x/leverage/keeper/genesis_test.go
Due: modules

remove duplicated maccperms
  app/app.go
Due: app

feat: GB phase out phase2: disable cosmos -> ethereum transfers (#1967)
  go.mod
  go.sum
Due: none

chore: update cosmwasm wiring (#1966)
  app/app.go
  app/experimental_appconfig.go
  app/stable_appconfig.go
Due: app

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: genesis type cast (#1968)
  CHANGELOG.md
  x/leverage/keeper/genesis.go
  x/leverage/keeper/genesis_test.go
Due: modules

test x/oracle/: types/params.go and genesis.go
  x/oracle/genesis_test.go
  x/oracle/types/params_test.go
Due: modules

test uibc/quota.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/quota_test.go
Due: modules

updating go 1.19 to 1.20
  .github/workflows/codeql-analysis.yml
  .github/workflows/debug.yml
  .github/workflows/lint.yml
  .github/workflows/release-umee.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  contrib/scripts/go-mod-tidy-all.sh
  go.mod
  tests/e2e/docker/gaia.Dockerfile
Due: none

chore: fix 1.20 to '1.20'
  .github/workflows/codeql-analysis.yml
  .github/workflows/debug.yml
  .github/workflows/lint.yml
  .github/workflows/release-umee.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
Due: none

chore: update price-feeder in release notes
  RELEASE_NOTES.md
Due: none

release notes update
  RELEASE_NOTES.md
Due: none

readme
  README.md
  RELEASE_NOTES.md
Due: none

chore: update price-feeder in release notes (#1970)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

more quota tests
  x/uibc/quota/keeper/quota_test.go
Due: modules

test tweak
  x/uibc/quota/keeper/quota_test.go
Due: modules

fix: add beta to releaser workflow
  .github/workflows/release-umee.yml
Due: none

Update .github/workflows/release-umee.yml
  .github/workflows/release-umee.yml
Due: none

CHANGELOG.md
  CHANGELOG.md
Due: none

fix: add beta to releaser workflow (#1971)
  .github/workflows/release-umee.yml
Due: none

fix tests without changing module init order
  x/leverage/keeper/suite_test.go
Due: modules

userMaxWithdraw now respects bonded collateral
  x/leverage/keeper/incentive.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/limits.go
Due: modules

chore: address the pr comment
  x/uibc/quota/keeper/relay.go
Due: modules

fix: ibc quota check enabled (#1913)
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/relay.go
Due: modules

docs: UIBC and IBC Quota
  RELEASE_NOTES.md
  x/uibc/README.md
  x/uibc/ics20/keeper/keeper.go
Due: modules

lint
  x/uibc/README.md
Due: none

feat: add params quota zero check for infinite quota
  x/uibc/quota/keeper/quota.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
