Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: new token emission (#2145)
  CHANGELOG.md
  app/inflation/expected_keepers.go
  app/inflation/inflatin.go
  app/inflation/inflation.go
  proto/umee/ugov/v1/events.proto
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  proto/umee/ugov/v1/ugov.proto
  x/ugov/client/cli/query.go
  x/ugov/codec.go
  x/ugov/events.pb.go
  x/ugov/genesis.go
  x/ugov/genesis.pb.go
  x/ugov/inflation_params.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
  x/ugov/module/module.go
  x/ugov/msg.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
  x/ugov/ugov.pb.go
Due: app, modules

rename LiquidationParams to InflationParams in ugov cli
  x/ugov/client/cli/query.go
Due: modules

safeguard for transferring dust
  x/metoken/keeper/reserves.go
Due: modules

Update x/leverage/README.md
  x/leverage/README.md
Due: none

add cli query integration tests
  x/ugov/client/tests/cli_test.go
  x/ugov/client/tests/query_test.go
  x/ugov/client/tests/suite_test.go
Due: modules

add unit tests to GovUpdateInflationParams msg
  x/ugov/msg_test.go
Due: modules

chore: proto lint
  proto/umee/metoken/v1/query.proto
  x/metoken/metoken.pb.go
Due: none

update GetTimeMs to return ok
  util/store/store.go
  util/store/store_test.go
  x/metoken/keeper/genesis.go
  x/metoken/keeper/metoken.go
Due: modules

update GetInteger
  util/store/store_test.go
  x/incentive/keeper/store.go
  x/incentive/keeper/update.go
Due: modules

update GetInt
  util/store/store.go
  util/store/store_test.go
  x/incentive/keeper/store.go
Due: modules

update GetDec
  util/store/store.go
  util/store/store_test.go
  x/uibc/quota/keeper/quota.go
Due: modules

update ugov InflationCycleEnd
  app/inflation/inflation.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
Due: app, modules

robert comments
  x/metoken/errors/errors.go
  x/metoken/index_test.go
  x/metoken/keeper/balance.go
  x/metoken/keeper/interest.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/reserves.go
  x/metoken/keeper/swap.go
  x/metoken/module/abci.go
Due: modules

fix
  x/metoken/keeper/interest.go
Due: modules

comment update
  util/store/store.go
Due: none

safer exit when asset not found
  x/metoken/keeper/reserves.go
Due: modules

imports
  x/metoken/keeper/reserves.go
Due: modules

obsolete comment
  x/incentive/keeper/store.go
Due: modules

add module-based supply and withdraw to leverage module
  CHANGELOG.md
  x/leverage/keeper/keeper.go
  x/metoken/expected_keepers.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/swap.go
Due: modules

cl++
  CHANGELOG.md
Due: none

chore: proto lint (#2168)
  proto/umee/metoken/v1/query.proto
  x/metoken/metoken.pb.go
Due: none

update the comments in inflation
  app/inflation/inflation.go
Due: app

add docs for inflation
  app/inflation/README.md
Due: none

fix the lint
  app/inflation/README.md
Due: none

update the proto swagger docs for ugov and metoken
  swagger/proto-config-gen.json
  swagger/swagger.yaml
Due: none

update the proto swagger docs for ugov and metoken (#2173)
  swagger/proto-config-gen.json
  swagger/swagger.yaml
Due: none

Apply suggestions from code review
  util/store/store.go
  x/incentive/keeper/update.go
Due: modules

Update numeric store getters to return bool if value is missing (#2169)
  app/inflation/inflation.go
  util/store/store.go
  util/store/store_test.go
  x/incentive/keeper/store.go
  x/metoken/keeper/genesis.go
  x/metoken/keeper/metoken.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
  x/uibc/quota/keeper/quota.go
Due: app, modules

change return order
  x/leverage/keeper/keeper.go
  x/metoken/expected_keepers.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/swap.go
Due: modules

godoc++ and function order
  x/leverage/keeper/keeper.go
Due: modules

mocks
  x/metoken/mocks/keepers.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
