Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

fix the permission problem
  Makefile
Due: none

chore: SDK 0.47 related cleanups
  RELEASE_NOTES.md
  x/leverage/types/tx.go
  x/oracle/module.go
Due: modules

update tests
  x/incentive/msgs_test.go
  x/leverage/types/tx_test.go
Due: modules

chore: SDK 0.47 related cleanups (#2334)
  RELEASE_NOTES.md
  x/incentive/msgs_test.go
  x/leverage/types/tx.go
  x/leverage/types/tx_test.go
  x/oracle/module.go
Due: modules

fix the permission problem (#2333)
  Makefile
Due: none

chore: some debugging print statements
  join_canon_4.sh
  x/oracle/abci.go
Due: modules

chore(oracle): update miss counter docs
  RELEASE_NOTES.md
  x/oracle/README.md
Due: none

Update x/oracle/README.md
  x/oracle/README.md
Due: none

chore(oracle): update miss counter docs (#2337)
  RELEASE_NOTES.md
  x/oracle/README.md
Due: none

feat: inspect query warns on failing addresses
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/keeper/inspector.go
  x/leverage/types/query.pb.go
Due: modules

changelog
  CHANGELOG.md
Due: none

fix lint
  CHANGELOG.md
Due: none

refactore x/uibc
  app/app.go
  x/uibc/module/abci.go
  x/uibc/quota/genesis.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/intest/genesis_test.go
  x/uibc/quota/intest/grpc_query_test.go
  x/uibc/quota/intest/msg_server_test.go
  x/uibc/quota/intest/quota_test.go
  x/uibc/quota/intest/suite_test.go
  x/uibc/quota/keeper.go
  x/uibc/quota/keys.go
  x/uibc/quota/migrations.go
  x/uibc/quota/mocks_test.go
  x/uibc/quota/msg_server.go
  x/uibc/quota/params.go
  x/uibc/quota/params_test.go
  x/uibc/quota/quota.go
  x/uibc/quota/quota_test.go
  x/uibc/quota/unit_test.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_wrapper.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

fix build
  app/app.go
  x/uibc/module/module.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_wrapper.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

rename
  app/app.go
  x/uibc/module/module.go
  x/uibc/quota/genesis.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/keeper.go
  x/uibc/quota/msg_server.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_wrapper.go
Due: app, modules

field comment
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/types/query.pb.go
Due: none

git diff file matching for go mod/sum
  .github/workflows/govulncheck.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
Due: none

git diff file matching for go mod/sum (#2342)
  .github/workflows/govulncheck.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
Due: none

move ibc quota logic to quota keeper
  x/uibc/quota/ibc_middleware.go
  x/uibc/quota/quota.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_wrapper.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: modules

update middleware implementation
  x/uibc/quota/ibc_middleware.go
  x/uibc/uics20/ibc_module.go
Due: modules

fix: go-schnorrkel and keyring dependencies
  go.mod
  go.sum
Due: none

fixes
  x/uibc/module/abci.go
  x/uibc/module/module.go
  x/uibc/uics20/ibc_module.go
Due: modules

lint
  x/uibc/quota/ibc_middleware.go
Due: modules

fix: go-schnorrkel and keyring dependencies (#2344)
  go.mod
  go.sum
Due: none

feat: inspect query warns on failing addresses (#2341)
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/keeper/inspector.go
  x/leverage/types/query.pb.go
Due: modules

docs: v6.2 release notes
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

lint
  RELEASE_NOTES.md
Due: none

docs: v6.2 release notes (#2345)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

fix: metoken medians
  x/oracle/abci.go
Due: modules

Update abci.go
  x/oracle/abci.go
Due: modules

add a log & changelog entry
  CHANGELOG.md
  x/oracle/abci.go
Due: modules

actually, remove this log and use the err scope fix
  x/oracle/abci.go
Due: modules

fix: metoken medians (#2346)
  CHANGELOG.md
  x/oracle/abci.go
Due: modules

review
  x/uibc/uics20/ibc_module.go
Due: modules

lint
  x/uibc/module/module.go
  x/uibc/uics20/ibc_module.go
Due: modules

fix test
  x/uibc/quota/intest/suite_test.go
Due: modules

chore(uibc): refactore to make the uibc stack more modular (#2343)
  app/app.go
  x/uibc/module/abci.go
  x/uibc/module/module.go
  x/uibc/quota/genesis.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/ibc_middleware.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/intest/genesis_test.go
  x/uibc/quota/intest/grpc_query_test.go
  x/uibc/quota/intest/msg_server_test.go
  x/uibc/quota/intest/quota_test.go
  x/uibc/quota/intest/suite_test.go
  x/uibc/quota/keeper.go
  x/uibc/quota/keys.go
  x/uibc/quota/migrations.go
  x/uibc/quota/mocks_test.go
  x/uibc/quota/msg_server.go
  x/uibc/quota/params.go
  x/uibc/quota/params_test.go
  x/uibc/quota/quota.go
  x/uibc/quota/quota_test.go
  x/uibc/quota/unit_test.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ics4_wrapper.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

feat(uibc): adding ICS 20 memo handler
  proto/umee/uibc/v1/uibc.proto
  x/uibc/ics20.go
  x/uibc/quota/ibc_middleware.go
  x/uibc/quota/quota.go
  x/uibc/uibc.pb.go
  x/uibc/uics20/ibc_module.go
Due: modules

update codec
  x/uibc/uics20/ibc_module.go
Due: modules
