Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

rename dependencies
  x/uibc/expected_keepers.go
  x/uibc/ics20/ibc_module.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

add binary store helpers
  util/store/store.go
  util/store/types.go
Due: none

msg util starter
  util/sdkutil/msg.go
Due: none

refactore uibc quota tests
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/genesis_test.go
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/intest/genesis_test.go
  x/uibc/quota/keeper/intest/grpc_query_test.go
  x/uibc/quota/keeper/intest/msg_server_test.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/intest/suite_test.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/msg_server.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/quota_unit_test.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

update wiring
  app/app.go
  x/uibc/module/abci.go
  x/uibc/module/module.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
Due: app, modules

fix: fix the supply collateral in wasm leverage tx
  app/wasm/msg/handler_leverage.go
Due: app

feat: disable inflow quota
  x/uibc/ics20/ibc_module.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/quota.go
Due: modules

lint
  x/uibc/client/tests/query_test.go
  x/uibc/module/module.go
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/mocks_test.go
Due: modules

rename KeeperBuilder
  app/app.go
  x/uibc/module/module.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/msg_server.go
Due: app, modules

changelog
  CHANGELOG.md
Due: none

lint
  x/uibc/ics20/ibc_module.go
Due: modules

update ibc e2e test
  tests/e2e/e2e_ibc_test.go
Due: none

feat: disable inflow quota (#2022)
  CHANGELOG.md
  tests/e2e/e2e_ibc_test.go
  x/uibc/ics20/ibc_module.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/quota.go
Due: modules

release notes
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

lint
  app/upgrades.go
Due: app

fix v4.3 section
  RELEASE_NOTES.md
Due: none

chore: v4.4 release notes (#2023)
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

fix: fix the leverage custom msg execute by wasm
  app/wasm/msg/handler_leverage.go
  app/wasm/msg/plugin.go
  app/wasm/msg/types.go
Due: app

feat: better upgrade registration
  app/upgrades.go
Due: app

feat: better upgrade registration (#2024)
  app/upgrades.go
Due: app

feat: Adding metoken Genesis Functions and persistence for the state (#10)
  util/coin/coin.go
  x/metoken/expected_keepers.go
  x/metoken/genesis.go
  x/metoken/genesis_test.go
  x/metoken/index.go
  x/metoken/index_test.go
  x/metoken/keeper/genesis.go
  x/metoken/keeper/genesis_test.go
  x/metoken/keeper/keeper.go
  x/metoken/keeper/keeper_test.go
  x/metoken/keeper/keys.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/params.go
  x/metoken/keys.go
  x/metoken/params.go
Due: modules

feat: uibc unit tests (#2021)
  CHANGELOG.md
  app/app.go
  util/sdkutil/msg.go
  util/store/store.go
  util/store/types.go
  x/uibc/client/tests/query_test.go
  x/uibc/expected_keepers.go
  x/uibc/ics20/ibc_module.go
  x/uibc/module/abci.go
  x/uibc/module/module.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/genesis_test.go
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/intest/genesis_test.go
  x/uibc/quota/keeper/intest/grpc_query_test.go
  x/uibc/quota/keeper/intest/msg_server_test.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/intest/suite_test.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/msg_server.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/quota_unit_test.go
  x/uibc/quota/keeper/unit_test.go
Due: app, modules

feat: incentive APY query and rewards height query
  proto/umee/incentive/v1/query.proto
  x/incentive/expected_keepers.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/update.go
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
Due: modules

turn duplicate code into function
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/reward.go
Due: modules

lint
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/mock_test.go
Due: modules

suggestion++
  x/incentive/keeper/mock_test.go
Due: modules

suggestion++
  proto/umee/incentive/v1/query.proto
Due: none

fix: LastRewardTime initialization in zero case
  x/incentive/keeper/update.go
Due: modules

ugov proto update
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
Due: none

add sdk.Msg implementation
  x/ugov/msg.go
Due: modules

feat: coin helpers update
  util/coin/dec.go
  util/coin/fixtures.go
  x/leverage/types/token.go
  x/uibc/quota/keeper/msg_server.go
Due: modules

Update util/coin/dec.go
  util/coin/dec.go
Due: none

review
  util/coin/dec.go
  util/coin/fixtures.go
Due: none

review
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  x/ugov/query.pb.go
  x/ugov/tx.pb.go
Due: none

review
  util/coin/fixtures.go
Due: none
