Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

tests: inflation rate change (#2236)
  app/inflation/inflation.go
  app/inflation/inflation_test.go
  util/checkers/number.go
Due: app

keeper tests with special pairs - AND A FIX
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/position.go
  x/leverage/keeper/suite_test.go
Due: modules

rename suite functions
  tests/e2e/e2e_leverage_test.go
Due: none

change eventually to 5sec
  tests/e2e/e2e_test.go
Due: none

suggestion++
  tests/e2e/e2e_test.go
Due: none

remove eventually
  tests/e2e/e2e_leverage_test.go
Due: none

modify gov proposal (sets don't loop assets)
  tests/e2e/e2e_leverage_test.go
Due: none

test: leverage e2e (#2233)
  tests/e2e/e2e_leverage_test.go
  tests/e2e/e2e_test.go
  tests/e2e/setup/keys.go
  tests/e2e/setup/metoken.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/outage_test.go
  x/leverage/keeper/position.go
  x/leverage/keeper/suite_test.go
  x/leverage/types/errors.go
Due: modules

docs: v6.0 changelog
  CHANGELOG.md
Due: none

release notes
  RELEASE_NOTES.md
Due: none

set tag in the changelog
  CHANGELOG.md
Due: none

proto and cli
  proto/umee/leverage/v1/tx.proto
  x/leverage/client/cli/tx.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
  x/leverage/types/tx_test.go
Due: modules

tx behavior
  x/leverage/client/cli/tx.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/tx.go
  x/leverage/types/tx_test.go
Due: modules

lint
  x/leverage/client/cli/tx.go
Due: modules

fix e2d
  tests/e2e/e2e_leverage_test.go
Due: none

WIP: adding timestamp to exchange rates of denoms
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  proto/umee/oracle/v1/query.proto
  x/oracle/genesis.go
  x/oracle/keeper/end_blocker.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/oracle/types/genesis.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/keys.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: modules

nonzero tests
  x/leverage/keeper/msg_server_test.go
Due: modules

feat: max repay on MsgLeveragedLiquidate (#2242)
  proto/umee/leverage/v1/tx.proto
  tests/e2e/e2e_leverage_test.go
  x/leverage/client/cli/tx.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
  x/leverage/types/tx_test.go
Due: modules

fix the tests
  app/test_helpers.go
  proto/umee/oracle/v1/query.proto
  x/leverage/simulation/operations_test.go
  x/oracle/abci_test.go
  x/oracle/client/tests/cli_test.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: app, modules

fix build
  app/app.go
  app/upgrades.go
  app/upgradev3x3/migrate.go
  x/leverage/simulation/params.go
Due: app, modules

changelog update
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

chore: set mainnet EG address
  app/upgrades.go
Due: app

chore: set mainnet EG address (#2244)
  app/upgrades.go
Due: app

lint
  CHANGELOG.md
Due: none

docs: v6 release notes (#2237)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

add emergency group ugov cli query
  x/ugov/client/cli/query.go
Due: modules

add emergency group ugov cli query (#2245)
  x/ugov/client/cli/query.go
Due: modules

eg for metoken
  app/app.go
  x/metoken/keeper/keeper.go
  x/metoken/keeper/metoken.go
  x/metoken/keeper/metoken_test.go
  x/metoken/keeper/msg_server.go
  x/metoken/keeper/unit_test.go
  x/metoken/msgs.go
Due: app, modules

fix 6.0
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
Due: modules

nil test cases
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/token.go
Due: modules

fix: gov special assets fix for 6.0 (#2247)
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/token.go
Due: modules
