Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

update test
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/suite_test.go
Due: modules

add emulated price outage to mock oracle
  x/leverage/keeper/errors.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/suite_test.go
Due: modules

test++
  x/leverage/keeper/grpc_query_test.go
Due: modules

move meToken out of experimental
  app/app.go
  app/wasm/test/cosmwasm_test.go
  tests/e2e/e2e_metoken_test.go
Due: app

adjust price behavior for account summary query
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/tests/tests.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/oracle.go
  x/leverage/types/oracle.go
  x/leverage/types/query.pb.go
Due: modules

pr comments
  app/app.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
Due: app, modules

message behavior tests
  x/leverage/keeper/msg_server_test.go
Due: modules

lint and test
  app/app.go
  x/metoken/keeper/intest/msg_server_test.go
Due: app, modules

chore: increase oracle gas limit from 140k to 200k
  ante/fee.go
Due: none

lint
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

chore: increase oracle gas limit from 140k to 200k (#2270)
  CHANGELOG.md
  ante/fee.go
Due: none

changelog and releasenotes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

typo
  RELEASE_NOTES.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

lint
  RELEASE_NOTES.md
Due: none

lint2
  RELEASE_NOTES.md
Due: none

t
  app/app.go
Due: app

doc: CHANGELOG.md and RELEASE_NOTES updated (#2271)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

comment
  x/leverage/keeper/oracle.go
Due: modules

market summary uses price mdoe query
  x/leverage/keeper/grpc_query.go
Due: modules

fix oracle behavior (stop clearing prices)
  x/oracle/abci.go
  x/oracle/abci_test.go
Due: modules

tests++
  x/leverage/types/oracle_test.go
Due: modules

migrating oracle old exg rate format to new exg rates format
  app/upgrades.go
  x/oracle/keeper/keeper.go
  x/oracle/migrations/exg_rates_migrations.go
  x/oracle/migrations/migrations.go
  x/oracle/module.go
Due: app, modules

warning++
  x/leverage/types/oracle.go
Due: modules

typo
  app/app.go
Due: app

feat: move meToken out of experimental (#2269)
  app/app.go
  app/wasm/test/cosmwasm_test.go
  tests/e2e/e2e_metoken_test.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
Due: app, modules

feat: recent price mode support (#2267)
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/tests/tests.go
  x/leverage/keeper/errors.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/simulation/operations_test.go
  x/leverage/types/errors.go
  x/leverage/types/oracle.go
  x/leverage/types/oracle_test.go
  x/leverage/types/query.pb.go
  x/oracle/abci.go
  x/oracle/abci_test.go
Due: modules

consistend file org
  tests/e2e/e2e_metoken_test.go
  tests/e2e/e2e_oracle_test.go
  tests/e2e/e2e_test.go
Due: none

move gaia setup functions
  tests/e2e/setup/chain.go
  tests/e2e/setup/gaia.go
Due: none

metoken utils out of setup
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/metoken.go
Due: none

chore: migrating oracle old exg rates to new exg rates format (include timestamp format) (#2272)
  app/upgrades.go
  x/oracle/keeper/keeper.go
  x/oracle/migrations/exg_rates_migrations.go
  x/oracle/migrations/migrations.go
  x/oracle/module.go
Due: app, modules
