Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

feat(auction): keeper implementation
  x/auction/keeper/keeper.go
  x/auction/keeper/keys.go
  x/auction/keeper/params.go
Due: modules

params
  util/store/store.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/msg_server.go
  x/auction/keeper/params.go
Due: modules

update proto
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/genesis.proto
  x/auction/auction.pb.go
  x/auction/genesis.pb.go
  x/auction/keeper/keys.go
  x/auction/keeper/params.go
  x/auction/keeper/rewards.go
Due: modules

rewardsBid function
  x/auction/keeper/rewards.go
  x/auction/msgs.go
  x/auction/msgs_test.go
Due: modules

update keeper
  util/coin/fixtures.go
  x/auction/expected_keepers.go
  x/auction/keeper/keeper.go
  x/auction/keeper/keys.go
  x/auction/keeper/rewards.go
  x/auction/module/module.go
Due: modules

feat(util): KeyWithUint64 and KeyWithUint32 helper functions for db keys
  util/bytes.go
  util/bytes_test.go
Due: none

changelog
  CHANGELOG.md
Due: none

lint
  util/store/store.go
Due: none

feat(util): KeyWithUint64 and KeyWithUint32 helper functions for db keys (#2495)
  CHANGELOG.md
  util/bytes.go
  util/bytes_test.go
  util/store/store.go
Due: none

query
  proto/umee/auction/v1/query.proto
  util/store/store.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/keys.go
  x/auction/keeper/rewards.go
Due: modules

add coins
  proto/umee/auction/v1/query.proto
  x/auction/keeper/keys.go
  x/auction/keeper/rewards.go
  x/auction/query.pb.go
Due: modules

chore(proto): set goproto_getters_all = false
  proto/umee/auction/v1/query.proto
  proto/umee/auction/v1/tx.proto
  proto/umee/incentive/v1/genesis.proto
  proto/umee/incentive/v1/incentive.proto
  proto/umee/incentive/v1/query.proto
  proto/umee/incentive/v1/tx.proto
  proto/umee/metoken/v1/genesis.proto
  proto/umee/metoken/v1/metoken.proto
  proto/umee/uibc/v1/quota.proto
  x/auction/query.pb.go
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
  x/metoken/genesis.pb.go
  x/metoken/metoken.pb.go
  x/uibc/quota.pb.go
Due: none

proto: store.Coins
  proto/umee/util/v1/proto.proto
  util/store/proto.pb.go
Due: none

finish query
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/query.proto
  x/auction/auction.pb.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/rewards.go
  x/auction/query.pb.go
Due: modules

fix wiring
  app/app.go
  x/auction/module/module.go
Due: app, modules

lint
  x/auction/keeper/keeper.go
  x/oracle/keeper/historic_price.go
Due: modules

coderabbit
  x/auction/keeper/keys.go
  x/auction/keeper/rewards.go
  x/auction/msgs.go
Due: modules

fix
  x/auction/msgs_test.go
Due: modules

feat(x/auction) revenues keeper implementation (#2496)
  app/app.go
  proto/umee/auction/v1/auction.proto
  proto/umee/auction/v1/genesis.proto
  proto/umee/auction/v1/query.proto
  proto/umee/util/v1/proto.proto
  util/coin/fixtures.go
  util/store/proto.pb.go
  util/store/store.go
  x/auction/auction.pb.go
  x/auction/expected_keepers.go
  x/auction/genesis.pb.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/keeper.go
  x/auction/keeper/keys.go
  x/auction/keeper/msg_server.go
  x/auction/keeper/params.go
  x/auction/keeper/rewards.go
  x/auction/module/module.go
  x/auction/msgs.go
  x/auction/msgs_test.go
  x/auction/query.pb.go
  x/oracle/keeper/historic_price.go
Due: app, modules

removed custom msgs and queries for cosmwasm (#2492)
  app/app.go
  app/wasm/custom_plugins.go
  app/wasm/msg/handler_leverage.go
  app/wasm/msg/plugin.go
  app/wasm/msg/types.go
  app/wasm/query/handle_incentive.go
  app/wasm/query/handle_leverage.go
  app/wasm/query/handle_metoken.go
  app/wasm/query/handle_oracle.go
  app/wasm/query/plugin.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
Due: app

feat(x/auction): implement auction finalization
  app/app.go
  x/auction/expected_keepers.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/keeper.go
  x/auction/keeper/rewards.go
  x/auction/module/module.go
Due: app, modules

convert rewards.Bidder from string to bytes
  proto/umee/auction/v1/auction.proto
  x/auction/auction.pb.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/rewards.go
Due: modules

use module account
  app/app.go
  x/auction/expected_keepers.go
  x/auction/keeper/keeper.go
  x/auction/keeper/rewards.go
  x/auction/module/module.go
Due: app, modules

fix
  x/auction/keeper/rewards.go
Due: modules

burn coins
  x/auction/keeper/rewards.go
Due: modules

fix
  app/app.go
Due: app

adding GMP examples code
  x/uibc/gmp/README.md
Due: none

review
  x/auction/module/module.go
Due: modules

lint
  x/auction/keeper/rewards.go
Due: modules

++
  x/uibc/gmp/README.md
Due: none

disable x/auction endblocker
  x/auction/module/module.go
Due: modules

feat(x/auction): implement auction finalization (#2498)
  app/app.go
  proto/umee/auction/v1/auction.proto
  x/auction/auction.pb.go
  x/auction/expected_keepers.go
  x/auction/keeper/grpc_query.go
  x/auction/keeper/keeper.go
  x/auction/keeper/rewards.go
  x/auction/module/module.go
Due: app, modules

feat: leverage fees
  proto/umee/leverage/v1/leverage.proto
  x/leverage/keeper/interest.go
  x/leverage/keeper/oracle.go
  x/leverage/types/leverage.pb.go
Due: modules

fund modules
  x/leverage/keeper/interest.go
  x/leverage/keeper/oracle.go
Due: modules

events
  proto/umee/leverage/v1/events.proto
  x/leverage/keeper/oracle.go
  x/leverage/types/events.pb.go
Due: modules

updated gmp docs
  x/uibc/gmp/README.md
Due: none

rename and leverage genesis
  proto/umee/leverage/v1/leverage.proto
  x/leverage/keeper/interest.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/params.go
Due: modules

changelog
  CHANGELOG.md
  swagger/swagger.yaml
Due: none

update tests
  x/leverage/client/tests/tests.go
  x/leverage/fixtures/params.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/interest_test.go
Due: modules
