Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

reset keeper.go
  x/uibc/ics20/keeper/keeper.go
Due: modules

add unit tests
  x/uibc/ics20/keeper/keeper.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/quota_unit_test.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

fix: avoid panics in uibc endblocker
  x/uibc/module/abci.go
Due: modules

changelog
  CHANGELOG.md
Due: none

fix: avoid panics in uibc endblocker (#1974)
  x/uibc/module/abci.go
Due: modules

renames and fix uibc status check
  app/app.go
  x/uibc/ics20/ibc_module.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/relay.go
Due: app, modules

rename
  x/uibc/quota/keeper/ics4_wrapper.go
Due: modules

update constructor
  app/app.go
  x/uibc/ics20/ibc_module.go
Due: app, modules

fix: quota status (#1976)
  CHANGELOG.md
  app/app.go
  x/uibc/ics20/ibc_module.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/ics4_wrapper.go
Due: app, modules

renames
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/quota_unit_test.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

feat: quota zero check (#1973)
  CHANGELOG.md
  x/uibc/ics20/keeper/keeper.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/grpc_query.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/quota_unit_test.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

wip
  x/parity-stability/README.md
Due: none

tweak changelog
  CHANGELOG.md
Due: none

No more tiers
  x/incentive/README.md
Due: none

--
  x/incentive/README.md
Due: none

typo
  x/incentive/README.md
Due: none

removing unusued code
  x/uibc/quota/keeper/keeper_test.go
Due: modules

chore: v4.3 release notes
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

chore: v4.3 release notes (#1979)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

++
  x/incentive/README.md
Due: none

fix: fix the timeout issue on checkMedians
  client/client.go
  sdkclient/query/client.go
  tests/grpc/chain_height.go
  tests/grpc/historical.go
  tests/grpc/price_listener.go
Due: client

wip README.md
  x/me-token/README.md
  x/parity-stability/README.md
Due: none

title change
  x/me-token/README.md
Due: none

feat: Client implementation (#1888)
  CHANGELOG.md
  app/app.go
  app/encoding.go
  app/params/encoding.go
  app/params/proto.go
  client/client.go
  client/oracle.go
  cmd/umeed/cmd/app_creator.go
  cmd/umeed/cmd/root.go
  sdkclient/chain_height.go
  sdkclient/client.go
  sdkclient/query/client.go
  sdkclient/query/gov.go
  sdkclient/tx/bank.go
  sdkclient/tx/client.go
  sdkclient/tx/gov.go
  sdkclient/tx/key.go
  sdkclient/tx/sign.go
  tests/e2e/chain.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/grpc/client/query/bank.go
  tests/grpc/client/query/client.go
  tests/grpc/client/query/gov.go
  tests/grpc/client/query/grpc.go
  tests/grpc/client/query/oracle.go
  tests/grpc/client/umee_client.go
  tests/grpc/gov.go
  tests/grpc/historical.go
  tests/grpc/price_listener.go
Due: app, client

mock leverage keeper tokens
  x/incentive/keeper/leverage_test.go
Due: modules

remove circular keeper reference and refactor hooks
  app/app.go
  x/incentive/keeper/hooks.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/hooks.go
  x/leverage/keeper/incentive.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/suite_test.go
  x/leverage/keeper/token.go
  x/leverage/types/expected_types.go
  x/leverage/types/hooks.go
  x/oracle/keeper/hooks.go
Due: app, modules

chore: add tests in flow 1. check the quota after ibc_transfer 2. send the tokens to umee to gaia and back 3. disable the quota check 4. check the prices effected or not
  client/client.go
  client/gov.go
  client/uibc.go
  sdkclient/client.go
  sdkclient/tx/client.go
  sdkclient/tx/gov.go
  sdkclient/tx/key.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/grpc/gov.go
  tests/grpc/historical.go
  tests/grpc/price_listener.go
Due: client

chore: fix the lint
  sdkclient/tx/client.go
  sdkclient/tx/key.go
Due: none

pr comments
  x/leverage/types/genesis_test.go
  x/leverage/types/params.go
  x/leverage/types/params_test.go
  x/uibc/quota/keeper/quota_test.go
Due: modules

test: increasing unit tests coverage (#1962)
  CHANGELOG.md
  x/leverage/keeper/genesis_test.go
  x/leverage/types/errors.go
  x/leverage/types/genesis_test.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/params.go
  x/leverage/types/params_test.go
  x/leverage/types/tx_test.go
  x/oracle/genesis_test.go
  x/oracle/types/params_test.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/quota_test.go
Due: modules

renaming package
  x/metoken/README.md
Due: none

Update x/incentive/README.md
  x/incentive/README.md
Due: none

msg bond tests
  x/incentive/keeper/leverage_test.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/suite_test.go
Due: modules

lint
  util/store/store.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/invariants.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/reward.go
  x/incentive/keeper/store.go
  x/incentive/keeper/unbonding.go
  x/incentive/module/module.go
  x/incentive/params.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/limits.go
  x/leverage/types/hooks.go
Due: modules

md lint
  x/incentive/README.md
Due: none

lint
  x/incentive/README.md
Due: none

fix: fix the build version
  Makefile
Due: none
