Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

add upgrade logic
  app/upgrades.go
Due: app

update tests
  app/upgrades.go
  x/uibc/ics20/keeper/keeper.go
  x/uibc/ics20/keeper/keeper_test.go
Due: app, modules

feat: adding v4.3-beta upgrade handler
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

lint
  app/upgrades.go
Due: app

use Transfer rpc
  x/uibc/ics20/keeper/keeper.go
Due: modules

update bech32-ibc
  go.mod
  go.sum
Due: none

bump gravity-bridge
  go.mod
  go.sum
Due: none

adding tests to x/leverage/types/*
  x/leverage/types/errors.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/tx_test.go
Due: modules

address the pr comments
  x/uibc/ics20/ibc_module_test.go
Due: modules

feat: ibc inflow only for registered tokens (#1953)
  app/app.go
  contrib/scripts/mockgen.sh
  tests/e2e/e2e_ibc_test.go
  util/ibc/ibc.go
  util/ibc/ibc_test.go
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/ibc_module_test.go
  x/uibc/ics20/keeper/expected_keepers.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/relay.go
Due: app, modules

bump wasmd
  go.mod
  go.sum
Due: none

update app wiring for new cosmwams
  app/app.go
Due: app

release notes update
  RELEASE_NOTES.md
Due: none

fix tests
  x/uibc/ics20/keeper/keeper_test.go
  x/uibc/quota/keeper/keeper_test.go
Due: modules

fix ics20 tests
  x/uibc/ics20/keeper/keeper_test.go
Due: modules

Apply suggestions from code review
  RELEASE_NOTES.md
Due: none

feat: adding v4.3-beta upgrade handler (#1958)
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

reset readme
  README.md
Due: none

back to truncate
  x/leverage/keeper/interest.go
Due: modules

fix: amount reserved per block rounds up (#1957)
  CHANGELOG.md
  x/leverage/keeper/interest.go
Due: modules

docs: update readme instructions
  README.md
Due: none

docs: update readme instructions (#1960)
  README.md
Due: none

update imports
  util/ibc/ibc_test.go
  x/uibc/ics20/ibc_module_test.go
Due: modules

lint
  x/uibc/ics20/keeper/keeper.go
Due: modules

make proto-all
  x/incentive/query.pb.go
Due: none

fix experimental build config
  app/experimental_appconfig.go
Due: app

more tests for x/leverage/types/*
  x/leverage/types/genesis_test.go
  x/leverage/types/msgs_test.go
  x/leverage/types/params.go
  x/leverage/types/params_test.go
Due: modules

msgs tests fix
  x/leverage/types/msgs_test.go
Due: modules

fix: adapt MaxBorrow to limit it considering MinCollateralLiquidity and MaxSupplyUtilization (#1954)
  CHANGELOG.md
  x/leverage/README.md
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
Due: modules

proto: remove unbonding tiers
  proto/umee/incentive/v1/genesis.proto
  proto/umee/incentive/v1/incentive.proto
  proto/umee/incentive/v1/query.proto
  proto/umee/incentive/v1/tx.proto
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
Due: none

remove unbonding tiers from code
  proto/umee/incentive/v1/tx.proto
  x/incentive/client/cli/tx.go
  x/incentive/errors.go
  x/incentive/genesis.go
  x/incentive/keeper/bond.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/keys.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/params.go
  x/incentive/keeper/reward.go
  x/incentive/keeper/store.go
  x/incentive/keeper/unbonding.go
  x/incentive/keeper/update.go
  x/incentive/keys.go
  x/incentive/keys_test.go
  x/incentive/msgs.go
  x/incentive/msgs_test.go
  x/incentive/params.go
  x/incentive/params_test.go
  x/incentive/tx.pb.go
Due: modules

--
  x/incentive/README.md
Due: none

allow unbonding duration zero
  x/incentive/params.go
  x/incentive/params_test.go
Due: modules

skip unbonding creation when duration is zero
  x/incentive/keeper/unbonding.go
Due: modules

Update x/leverage/LIQUIDATION.md
  x/leverage/LIQUIDATION.md
Due: none

fix new test
  x/uibc/ics20/ibc_module_test.go
Due: modules

fix util tests
  util/ibc/ibc_test.go
Due: none

chore: update ibc and related dependencies (#1959)
  RELEASE_NOTES.md
  ante/ante.go
  app/app.go
  app/experimental_appconfig.go
  go.mod
  go.sum
  tests/simulation/sim_test.go
  util/ibc/ibc.go
  util/ibc/ibc_test.go
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/ibc_module_test.go
  x/uibc/ics20/keeper/keeper.go
  x/uibc/ics20/keeper/keeper_test.go
  x/uibc/ics20/keeper/util_test.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/relay.go
Due: app, modules

feat: integrate ICA
  app/app.go
Due: app

update queries; unbonding time decrease affects ongoing unbondings
  proto/umee/incentive/v1/genesis.proto
  proto/umee/incentive/v1/query.proto
  x/incentive/client/cli/query.go
  x/incentive/genesis.go
  x/incentive/genesis.pb.go
  x/incentive/keeper/bond.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/unbonding.go
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
