Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

added metoken spec
  x/metoken/README.md
Due: none

rename MsgSupplyCollaterize to Collateral
  app/wasm/msg/handler_leverage.go
  app/wasm/msg/plugin.go
  app/wasm/msg/types.go
Due: app

Update x/metoken/README.md
  x/metoken/README.md
Due: none

addressing PR comments
  x/metoken/README.md
Due: none

small tweaks
  x/metoken/README.md
Due: none

lint
  x/metoken/README.md
Due: none

fix: do not use random eth addresses for sims
  tests/simulation/state.go
Due: none

fix: do not use random eth addresses for sims (#2000)
  tests/simulation/state.go
Due: none

early return in updateRewards
  x/incentive/keeper/update.go
Due: modules

suggestion++
  x/leverage/keeper/keeper.go
Due: modules

cosmetic update in updateRewards
  x/incentive/keeper/update.go
Due: modules

suggestion++
  x/incentive/params.go
Due: modules

refactoring test suite on cli
  tests/integration_suite/query.go
  tests/integration_suite/suite.go
  tests/integration_suite/tx.go
  x/leverage/client/tests/cli_test.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
  x/uibc/client/tests/cli_test.go
  x/uibc/client/tests/query_test.go
  x/uibc/client/tests/suite_test.go
Due: modules

update the changelog
  CHANGELOG.md
Due: none

removed testify suite
  x/leverage/client/tests/cli_test.go
  x/uibc/client/tests/cli_test.go
  x/uibc/client/tests/suite_test.go
Due: modules

partial scenario test
  x/incentive/keeper/internal_test.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/store.go
  x/incentive/keeper/suite_test.go
  x/incentive/keeper/update.go
Due: modules

review++
  tests/integration_suite/query.go
  tests/integration_suite/suite.go
  tests/integration_suite/tx.go
  x/leverage/client/tests/cli_test.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
  x/uibc/client/tests/cli_test.go
  x/uibc/client/tests/query_test.go
  x/uibc/client/tests/suite_test.go
Due: modules

chore: updating go version from 1.19 to 1.20 (#1969)
  .github/workflows/codeql-analysis.yml
  .github/workflows/debug.yml
  .github/workflows/lint.yml
  .github/workflows/release-umee.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  contrib/scripts/go-mod-tidy-all.sh
  go.mod
  tests/e2e/docker/gaia.Dockerfile
  tests/simulation/state.go
Due: none

rename integration_test to cli
  tests/cli/suite.go
  tests/cli/types.go
  tests/integration_suite/query.go
  tests/integration_suite/suite.go
  tests/integration_suite/tx.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
  x/uibc/client/tests/cli_test.go
  x/uibc/client/tests/query_test.go
  x/uibc/client/tests/suite_test.go
Due: modules

review++
  tests/cli/suite.go
  tests/cli/types.go
  x/leverage/client/tests/tests.go
  x/uibc/client/tests/query_test.go
Due: modules

refactored state
  x/metoken/README.md
Due: none

refactor all incentive tests to unit tests
  util/coin/coin.go
  x/incentive/expected_keepers.go
  x/incentive/keeper/internal_test.go
  x/incentive/keeper/leverage_test.go
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/suite_test.go
  x/incentive/keeper/unit_test.go
  x/incentive/keeper/update.go
  x/leverage/fixtures/token.go
Due: modules

cleanup
  x/incentive/keeper/msg_server_test.go
Due: modules

lint
  x/incentive/genesis.go
  x/incentive/keeper/mock_test.go
  x/leverage/keeper/keeper.go
Due: modules

cleanup incentive program add/modify/delete functions
  proto/umee/incentive/v1/tx.proto
  x/incentive/client/cli/tx.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/program.go
  x/incentive/keeper/store.go
  x/incentive/keeper/unit_test.go
  x/incentive/keeper/update.go
  x/incentive/keys.go
  x/incentive/msgs.go
  x/incentive/msgs_test.go
  x/incentive/tx.pb.go
Due: modules

fixed bug
  x/incentive/keeper/program.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/store.go
  x/incentive/keeper/unit_test.go
  x/incentive/keeper/update.go
Due: modules

finishUnbondings -> cleanupUnbondings
  x/incentive/keeper/unbonding.go
  x/incentive/keeper/update.go
Due: modules

break loop early
  x/incentive/keeper/unbonding.go
Due: modules

remove unnecessary gov.Content
  x/incentive/codec.go
  x/incentive/proposal.go
Due: modules

comment--
  x/incentive/keeper/msg_server.go
Due: modules

remove proto getters-all
  proto/umee/incentive/v1/tx.proto
  x/incentive/tx.pb.go
Due: none

remove proto messagename-all
  proto/umee/incentive/v1/tx.proto
  x/incentive/tx.pb.go
Due: none

rename to ForceUnbondTo
  x/incentive/keeper/hooks.go
  x/incentive/keeper/unbonding.go
  x/leverage/keeper/hooks.go
  x/leverage/types/hooks.go
Due: modules

initialize exponent on program create (gov)
  x/incentive/keeper/program.go
Due: modules

chore: update security patch to cosmwasm
  go.mod
  go.sum
Due: none

add v4.4 migrator
  app/upgrades.go
Due: app

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
