Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: LegacyMsg support
  x/ugov/msg.go
Due: modules

ugov module implementation
  proto/umee/ugov/v1/genesis.proto
  x/ugov/codec.go
  x/ugov/genesis.go
  x/ugov/genesis.pb.go
  x/ugov/genesis_test.go
  x/ugov/keeper/fees.go
  x/ugov/keeper/fees_test.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/genesis_test.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
  x/ugov/module/module.go
Due: modules

lint
  x/ugov/module/module.go
Due: modules

feat: ugov module (#2050)
  proto/umee/ugov/v1/genesis.proto
  x/ugov/codec.go
  x/ugov/genesis.go
  x/ugov/genesis.pb.go
  x/ugov/genesis_test.go
  x/ugov/keeper/fees.go
  x/ugov/keeper/fees_test.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/genesis_test.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
  x/ugov/module/module.go
  x/ugov/msg.go
Due: modules

lint
  x/ugov/README.md
Due: none

feat: ugov spec (#2049)
  x/ugov/README.md
Due: none

WIP: adding qa tests to cosmwasm
  app/experimental_appconfig.go
  contrib/images/umee.e2e.dockerfile
  sdkclient/query/wasm.go
  sdkclient/tx/wasm.go
  tests/e2e/cw_test.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/suite.go
Due: app

address the review comments
  x/uibc/keys.go
  x/uibc/msg.go
  x/uibc/params.go
  x/uibc/params_test.go
Due: modules

chore: adding inflow check for ibc-transfer
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/quota.go
Due: modules

chore: correct the comments
  proto/umee/uibc/v1/quota.proto
  x/uibc/quota.pb.go
Due: none

fix: allow collateral weight = liquidation threshold
  x/leverage/types/token.go
Due: modules

fix test
  x/leverage/types/token_test.go
Due: modules

suggestion++
  x/leverage/types/token.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

umee with updated notional wasm
  go.mod
  go.sum
Due: none

review++
  proto/umee/uibc/v1/tx.proto
  x/uibc/quota/keeper/quota.go
  x/uibc/tx.pb.go
Due: modules

refactor: refactor the ibc-transfer app (#2032)
  app/app.go
  app/experimental_appconfig.go
  proto/umee/uibc/v1/quota.proto
  proto/umee/uibc/v1/tx.proto
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/ibc_module_test.go
  x/uibc/ics20/keeper/expected_keepers.go
  x/uibc/ics20/keeper/keeper.go
  x/uibc/ics20/keeper/keeper_test.go
  x/uibc/ics20/keeper/util_test.go
  x/uibc/params.go
  x/uibc/params_test.go
  x/uibc/quota.pb.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/intest/msg_server_test.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/tx.pb.go
Due: app, modules

use the upstream update of the exact version of wasmd that umee was using, with the patch applied
  go.mod
  go.sum
Due: none

chore: remove duplicate gov client for tests
  client/wasm.go
  sdkclient/query/gov.go
  tests/e2e/cw_test.go
Due: client

lint
  x/leverage/types/token.go
Due: modules

fix: allow collateral weight = liquidation threshold (#2052)
  CHANGELOG.md
  x/leverage/types/token.go
  x/leverage/types/token_test.go
Due: modules

feat: ugov wiring
  app/app.go
  x/ugov/keeper/keeper.go
Due: app, modules

feat: move wasm out of experimental and incentive into experimental
  ante/ante.go
  app/app.go
  app/experimental_appconfig.go
  app/stable_appconfig.go
  app/wasm.go
Due: app

Update app/app.go
  app/app.go
Due: app

feat: move cosmwasm into stable and x/incentive into experiemntal (#2058)
  ante/ante.go
  app/app.go
  app/experimental_appconfig.go
  app/stable_appconfig.go
  app/wasm.go
  x/ugov/keeper/keeper.go
Due: app, modules

WIP: adding cw-plus-group contract
  .gitignore
  client/wasm.go
  sdkclient/tx/client.go
  sdkclient/tx/gov.go
  sdkclient/tx/wasm.go
  tests/artifacts/cw4_group-aarch64.wasm
  tests/e2e/cw_test.go
  tests/qa/cw/config_example.yaml
  tests/qa/cw/cw_group_types_test.go
  tests/qa/cw/cw_test.go
  tests/qa/cw/cw_utils.go
  tests/qa/cw/network_config.go
Due: client

chore: add update-swagger docs as per release
  .gitignore
  Makefile
  contrib/scripts/protoc-swagger-gen.sh
  contrib/scripts/protoc-update-swagger-docs.sh
  swagger/statik/init.go
  swagger/swagger.yaml
Due: none

chore: move uibc store keys to keeper
  x/uibc/keys.go
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/quota.go
Due: modules

key fix
  x/uibc/msg.go
  x/uibc/quota/keeper/quota.go
Due: modules

chore: move uibc store keys to keeper (#2059)
  x/uibc/keys.go
  x/uibc/msg.go
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/quota.go
Due: modules

chore: cleanup deprecated code
  x/incentive/keys.go
  x/incentive/module/module.go
  x/incentive/msgs.go
  x/leverage/module.go
  x/leverage/types/keys.go
  x/leverage/types/proposal.go
  x/oracle/module.go
  x/oracle/types/keys.go
  x/oracle/types/msgs.go
  x/ugov/module/module.go
  x/uibc/module/module.go
Due: modules

incentive msg test
  x/incentive/msgs_test.go
Due: modules

chore: cleanup deprecated code (#2060)
  x/incentive/keys.go
  x/incentive/module/module.go
  x/incentive/msgs.go
  x/incentive/msgs_test.go
  x/leverage/module.go
  x/leverage/types/keys.go
  x/leverage/types/proposal.go
  x/oracle/module.go
  x/oracle/types/keys.go
  x/oracle/types/msgs.go
  x/ugov/module/module.go
  x/uibc/module/module.go
Due: modules

genesis validate tests
  x/incentive/genesis.go
  x/incentive/genesis_test.go
Due: modules

++
  x/incentive/genesis_test.go
Due: modules

++
  x/incentive/genesis.go
  x/incentive/genesis_test.go
Due: modules

genesis struct tests
  x/incentive/genesis.go
  x/incentive/genesis_test.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
