Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

feat: use more store functions in incentive (#2101)
  util/store/iter.go
  util/store/iter_test.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/keeper.go
  x/leverage/keeper/iter.go
Due: modules

cosmwasm qa running with docker live network
  client/client.go
  sdkclient/client.go
  sdkclient/tx/client.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/setup.go
  tests/qa/cw/config_example.yaml
  tests/qa/cw/cw_test.go
  tests/qa/cw/cw_utils.go
  tests/qa/cw/network_config.go
  tests/qa/cw/setup.go
Due: client

add safety param to assertBorrowHealth
  x/leverage/keeper/borrows.go
  x/leverage/keeper/msg_server.go
Due: modules

comment++
  x/leverage/keeper/msg_server.go
Due: modules

++
  x/leverage/keeper/keeper.go
Due: modules

refactor: postLiquidate
  x/leverage/keeper/keeper.go
  x/leverage/keeper/liquidate.go
Due: modules

feat: add GB drain upgrade handler
  app/upgrades.go
Due: app

implement FastLiquidate msg and adjust rounding
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/liquidate_test.go
  x/leverage/keeper/msg_server_test.go
Due: modules

cli and lint
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/liquidate.go
Due: modules

fix
  app/upgrades.go
Due: app

fix dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
Due: none

test trigger
  util/store/iter_test.go
Due: none

fix format
  app/upgrades.go
Due: app

fix: docker build (#2109)
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  util/store/iter_test.go
Due: none

remove ths env variable check in e2e test suite setup
  sdkclient/tx/client.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/setup.go
  tests/qa/cw/cw_test.go
Due: none

tests
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server_test.go
Due: modules

cli doc++
  x/leverage/client/cli/tx.go
Due: modules

perf: remove unnecessary null byte
  util/keys/keys.go
  util/store/iter.go
  util/store/iter_test.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/keys.go
  x/leverage/keeper/iter.go
Due: modules

80% limit and doc
  x/leverage/client/cli/tx.go
  x/leverage/keeper/msg_server.go
Due: modules

rename to LeveragedLiquidate
  CHANGELOG.md
  proto/umee/leverage/v1/tx.proto
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
  x/leverage/types/tx_test.go
Due: modules

++
  proto/umee/leverage/v1/tx.proto
Due: none

Update proto/umee/leverage/v1/tx.proto
  proto/umee/leverage/v1/tx.proto
Due: none

rename++
  x/leverage/client/tests/tests.go
  x/leverage/types/tx.pb.go
Due: modules

rename++
  x/leverage/keeper/liquidate.go
Due: modules

lint and docs
  x/leverage/README.md
  x/leverage/types/tx.go
Due: modules

lint
  x/leverage/README.md
Due: none

cl++
  CHANGELOG.md
Due: none

rephrase test - sign changes based on cpu architecture so strict equal avoided
  x/leverage/keeper/inspector_test.go
Due: modules

Update x/leverage/README.md
  x/leverage/README.md
Due: none

Update x/leverage/client/cli/tx.go
  x/leverage/client/cli/tx.go
Due: modules

implement borrow factor restriction
  x/leverage/keeper/borrows.go
  x/leverage/keeper/oracle.go
  x/leverage/types/token.go
Due: modules

feat: implement fast-liquidation (#2106)
  CHANGELOG.md
  proto/umee/leverage/v1/tx.proto
  x/leverage/README.md
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/liquidate_test.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
  x/leverage/types/tx_test.go
Due: modules

fix new uToken calc
  x/leverage/keeper/borrows.go
  x/leverage/keeper/oracle.go
Due: modules

Update x/leverage/keeper/oracle.go
  x/leverage/keeper/oracle.go
Due: modules

Update x/leverage/types/token.go
  x/leverage/types/token.go
Due: modules
