Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

add inflows storing when we receive native token
  x/uibc/quota/intest/quota_test.go
  x/uibc/quota/quota.go
Due: modules

++
  x/uibc/quota/quota.go
Due: modules

fix: fix the inflows sum adding when sender chain is source chain (#2417)
  CHANGELOG.md
  x/uibc/quota/intest/quota_test.go
  x/uibc/quota/quota.go
Due: modules

chore: integration improvements
  app/app.go
  app/encoding.go
  app/params/proto.go
  app/test_helpers.go
  tests/e2e/setup/setup.go
  tests/simulation/sim_test.go
  tests/simulation/state.go
Due: app

use DeepEquals
  app/upgrades.go
  tests/cli/suite.go
Due: app

fix leverage tests
  app/modules.go
  app/params/app_settings.go
  app/test_helpers.go
  app/upgrades.go
  tests/e2e/setup/setup.go
  x/leverage/client/tests/tests.go
  x/leverage/types/token.go
  x/oracle/abci_test.go
Due: app, modules

fix oracle cli tests
  x/oracle/client/tests/suite.go
Due: modules

fix oracle tests
  x/oracle/keeper/keeper_test.go
Due: modules

lint
  x/oracle/keeper/keeper_test.go
Due: modules

lint
  app/test_helpers.go
Due: app

lint
  .revive.toml
  app/upgrades.go
  app/wasm/query/whitelist.go
  x/leverage/simulation/operations.go
  x/oracle/simulations/operations.go
Due: app, modules

chore: update golangci-lint
  go.mod
  go.sum
Due: none

chore: update deps
  go.mod
  go.sum
Due: none

update linter settings
  .golangci.yml
Due: none

test
  app/params/app_settings.go
Due: app

oracle tests: use LegacyDisplayDenom
  app/params/app_settings.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/hooks_test.go
  x/uibc/quota/intest/suite_test.go
Due: app, modules

chore: rename UMEE token to UX token part1 (#2328)
  .golangci.yml
  .revive.toml
  CHANGELOG.md
  app/modules.go
  app/params/app_settings.go
  app/params/app_settings_test.go
  app/params/prefix.go
  app/test_helpers.go
  app/upgrades.go
  app/wasm/query/whitelist.go
  tests/cli/suite.go
  tests/e2e/setup/setup.go
  x/leverage/client/tests/tests.go
  x/leverage/simulation/operations.go
  x/leverage/types/token.go
  x/oracle/abci_test.go
  x/oracle/client/tests/suite.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/keeper/hooks_test.go
  x/oracle/keeper/keeper_test.go
  x/oracle/simulations/operations.go
  x/uibc/quota/intest/suite_test.go
Due: app, modules

add TestUXMetadata
  app/params/app_settings_test.go
Due: app

fix the build issue
  app/upgrades.go
  go.mod
  go.sum
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: app, modules

fix the lint
  app/inflation/inflation_test.go
  util/bpmath/fixed_bp_test.go
  x/leverage/keeper/interest_test.go
  x/uibc/quota/quota_test.go
Due: app, modules

fix import
  app/app.go
  tests/e2e/setup/setup.go
Due: app

chore: integration improvements (#2425)
  app/app.go
  app/encoding.go
  app/params/app_settings_test.go
  app/params/proto.go
  app/test_helpers.go
  tests/e2e/setup/setup.go
  tests/simulation/sim_test.go
  tests/simulation/state.go
Due: app

added gmp handler
  util/ibc/ibc.go
  x/uibc/gmp/gmp_middleware.go
  x/uibc/gmp/types.go
  x/uibc/uics20/ibc_module.go
Due: modules

chore: return err at onrecvpacket
  x/uibc/gmp/gmp_middleware.go
Due: modules

++
  x/uibc/gmp/gmp_middleware.go
Due: modules

chore: remove go.mod cosmos-proto compatibility comment
  go.mod
Due: none

feat: update ibc memo handlers for v1
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

cleanup
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

feat(uics20 memo hook): add fallback address
  proto/umee/uibc/v1/uibc.proto
  x/uibc/ics20.go
  x/uibc/uibc.pb.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

split memo handler in pre and post
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

fix: ics20 memo handler denom
  x/uibc/ics20.go
  x/uibc/quota/quota.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

rename
  x/uibc/ics20.go
  x/uibc/quota/quota.go
  x/uibc/uics20/memo_handler.go
Due: modules

chore: remove go.mod cosmos-proto compatibility comment (#2434)
  go.mod
Due: none

lint
  x/uibc/ics20.go
  x/uibc/uics20/memo_handler.go
Due: modules

fix: ics20 memo handler denom (#2439)
  x/uibc/ics20.go
  x/uibc/quota/quota.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

cleanup
  x/uibc/uics20/memo_handler_test.go
Due: modules

removed ParseDenom func
  util/ibc/ibc.go
  x/uibc/gmp/gmp_middleware.go
Due: modules

feat: update ibc memo handlers for v1 (#2437)
  CHANGELOG.md
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

rework memo handler pre/post onRecvPacket
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules
