Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

add events
  swagger/swagger.yaml
  x/ugov/events.pb.go
  x/ugov/keeper/msg_server.go
  x/ugov/tx.pb.go
Due: modules

changelog
  CHANGELOG.md
Due: none

fix: rename ugov EventMinTxFees to EventMinGasPrice
  proto/umee/ugov/v1/events.proto
  swagger/swagger.yaml
  x/ugov/events.pb.go
  x/ugov/keeper/msg_server.go
  x/ugov/tx.pb.go
Due: modules

feat: ugov EmergencyGroup implementation (#2139)
  CHANGELOG.md
  proto/umee/ugov/v1/events.proto
  swagger/swagger.yaml
  util/store/store.go
  x/ugov/events.pb.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
  x/ugov/tx.pb.go
Due: modules

fix: Makefile price-feeder and autolint (#2137)
  Makefile
  app/upgrades.go
  app/wasm/test/cw20_base_test.go
  sdkclient/tx/wasm.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/setup.go
  tests/qa/cw/cw_group_types.go
  util/store/iter.go
  x/leverage/types/genesis_test.go
  x/ugov/keeper/keeper.go
  x/ugov/msg.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/mocks_test.go
Due: app, modules

fix: rename ugov EventMinTxFees to EventMinGasPrice (#2140)
  CHANGELOG.md
  proto/umee/ugov/v1/events.proto
  x/ugov/events.pb.go
  x/ugov/keeper/msg_server.go
Due: modules

zeroCoins
  x/incentive/keeper/scenario_test.go
Due: modules

readme
  x/incentive/README.md
Due: none

suggestions lines 283-344 and test fix
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unit_test.go
Due: modules

defaultSetup
  x/incentive/keeper/scenario_test.go
Due: modules

move function
  x/incentive/keeper/scenario_test.go
Due: modules

comment++
  x/incentive/keeper/scenario_test.go
Due: modules

Update x/incentive/keeper/scenario_test.go
  x/incentive/keeper/scenario_test.go
Due: modules

fix
  x/incentive/keeper/scenario_test.go
Due: modules

check bob rewards
  x/incentive/keeper/scenario_test.go
Due: modules

calculations
  x/incentive/keeper/scenario_test.go
Due: modules

squash PR 2124 due to unsigned commits
  util/coin/fixtures.go
  x/incentive/README.md
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unit_test.go
  x/incentive/keeper/update.go
Due: modules

squash PR 2124 due to unsigned commits (#2141)
  util/coin/fixtures.go
  x/incentive/README.md
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unit_test.go
  x/incentive/keeper/update.go
Due: modules

chore: delete gravity bridge store (#2138)
  app/upgrades.go
Due: app

progress
  Makefile
  app/app.go
  tests/e2e/docker/hermes.Dockerfile
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/setup/keys.go
  tests/e2e/setup/setup.go
Due: app

spec++
  x/leverage/README.md
Due: none

lint
  x/leverage/README.md
Due: none

progress
  Makefile
  tests/e2e/docker/gaia.Dockerfile
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
Due: none

WIP: add liquidation params for inflation rate changes
  proto/umee/ugov/v1/events.proto
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  proto/umee/ugov/v1/ugov.proto
  x/ugov/client/cli/query.go
  x/ugov/codec.go
  x/ugov/events.pb.go
  x/ugov/genesis.go
  x/ugov/genesis.pb.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
  x/ugov/liquidation_params.go
  x/ugov/module/module.go
  x/ugov/msg.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
  x/ugov/ugov.pb.go
Due: modules

fix unit test
  app/test_helpers.go
  tests/cli/suite.go
  x/oracle/types/ballot_test.go
Due: app, modules

updates to other sections and borrow limit steps
  x/leverage/README.md
Due: none

++
  x/leverage/README.md
Due: none

add new token emission implementation
  app/app.go
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  x/mint/module/abci.go
  x/mint/module/module.go
  x/ugov/client/cli/query.go
  x/ugov/genesis.pb.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
  x/ugov/liquidation_params.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/ugov.pb.go
Due: app, modules

feat: add store GetTimeMs and SetTimeMs
  util/store/store.go
  util/store/store_test.go
Due: none

feat: add store GetTimeMs and SetTimeMs (#2146)
  CHANGELOG.md
  util/store/store.go
  util/store/store_test.go
Due: none

deprecate: getobject and setobject
  util/store/store.go
Due: none

liquidation threshold logic
  x/leverage/README.md
Due: none

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
