Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

fix: fix the build version (#1982)
  Makefile
Due: none

review: address the pr comments
  client/client.go
  client/gov.go
  client/oracle.go
  client/uibc.go
  sdkclient/client.go
  sdkclient/tx/client.go
  sdkclient/tx/gov.go
  tests/e2e/e2e_setup_test.go
  tests/grpc/gov.go
  tests/grpc/historical.go
  tests/grpc/price_listener.go
Due: client

tests
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/suite_test.go
Due: modules

test max unbondings
  x/incentive/keeper/msg_server_test.go
Due: modules

unbonding completion test
  x/incentive/keeper/internal_test.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/suite_test.go
Due: modules

review
  x/uibc/README.md
Due: none

++
  x/incentive/keeper/suite_test.go
Due: modules

docs: UIBC and IBC Quota (#1972)
  RELEASE_NOTES.md
  x/uibc/README.md
Due: none

Apply suggestions from code review
  client/client.go
  sdkclient/client.go
Due: client

implement emergency unbond logic
  x/incentive/keeper/hooks.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/store.go
  x/incentive/keeper/unbonding.go
  x/leverage/keeper/hooks.go
Due: modules

remove ErrNotImplemented
  x/incentive/errors.go
  x/leverage/types/errors.go
  x/oracle/types/errors.go
Due: modules

proto field renames
  proto/umee/incentive/v1/genesis.proto
  proto/umee/incentive/v1/incentive.proto
  proto/umee/incentive/v1/tx.proto
  x/incentive/genesis.go
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/keeper/bond.go
  x/incentive/keeper/genesis.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/store.go
  x/incentive/keeper/suite_test.go
  x/incentive/keeper/unbonding.go
  x/incentive/keeper/update.go
  x/incentive/msgs.go
  x/incentive/program.go
  x/incentive/tx.pb.go
Due: modules

todon't
  x/incentive/keeper/invariants.go
  x/incentive/keeper/msg_server.go
Due: modules

extra incentiveprogram validate
  x/incentive/errors.go
  x/incentive/program.go
Due: modules

review: fix the lint
  client/client.go
  client/gov.go
  sdkclient/client.go
Due: client

tests: add e2e tests for ibc_status params (#1978)
  client/client.go
  client/gov.go
  client/oracle.go
  client/uibc.go
  sdkclient/client.go
  sdkclient/tx/client.go
  sdkclient/tx/gov.go
  sdkclient/tx/key.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/grpc/gov.go
Due: client

chore: use tar.gz for Github releases
  .goreleaser.yml
Due: none

update release notes
  RELEASE_NOTES.md
Due: none

chore: cleanup price-feeder from workflows
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/lint.yml
Due: none

chore: cleanup price-feeder from workflows (#1985)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/lint.yml
Due: none

remove not necessary jobs
  .github/workflows/tests.yml
Due: none

review
  RELEASE_NOTES.md
Due: none

chore: use tar.gz for Github releases (#1984)
  .github/workflows/tests.yml
  .goreleaser.yml
  RELEASE_NOTES.md
Due: none

tests: add more data to test grpc outflows
  x/uibc/quota/keeper/grpc_query_test.go
  x/uibc/quota/keeper/keeper_test.go
Due: modules

fix: fix the tests
  x/uibc/quota/keeper/genesis_test.go
  x/uibc/quota/keeper/keeper_test.go
Due: modules

chore: update linter workflow
  .github/workflows/lint.yml
Due: none

bad format
  CHANGELOG.md
Due: none

update linter
  .github/workflows/lint.yml
Due: none

don't fetch all
  .github/workflows/lint.yml
Due: none

bad code
  CHANGELOG.md
Due: none

add merge_queue type
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
Due: none

undo bad code
  CHANGELOG.md
Due: none

trigger linter
  CHANGELOG.md
Due: none

chore: add checks for duplicate symDenoms for new tokens
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/token.go
Due: modules

perf: linter merge queue workflow (#1988)
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/simulations.yml
  .github/workflows/tests.yml
  CHANGELOG.md
Due: none

chore: rename test case
  x/uibc/quota/keeper/grpc_query_test.go
Due: modules

chore: address the review comment
  x/leverage/keeper/token.go
Due: modules

chore: update the changelog
  CHANGELOG.md
Due: none

chore: add checks for duplicate symbol denoms for adding new tokens on leverage (#1989)
  CHANGELOG.md
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/token.go
Due: modules

more validation
  x/incentive/errors.go
  x/incentive/genesis.go
  x/incentive/program.go
Due: modules
