Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix(oracle): avg params (#2257)
  x/oracle/keeper/historic_avg.go
Due: modules

v6.0.2 changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

v6.0.2 changelog (#2258)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

small
  app/app.go
Due: app

metoken e2e stabillized
  tests/e2e/e2e_metoken_test.go
Due: none

rollback print
  x/metoken/price.go
Due: modules

test: fixing meToken e2e (#2255)
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/metoken.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/price.go
  x/metoken/price.go
Due: modules

storing rate and timestamp without denom into exg rates
  x/oracle/genesis.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/oracle/types/exchange_rates.go
Due: modules

add inspectAccount query
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/cli/query.go
  x/leverage/keeper/inspector.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: modules

add QueryMetokenIndexPrices
  client/metoken.go
  tests/e2e/e2e_metoken_test.go
Due: client

lint
  util/sdkutil/msg.go
  x/oracle/keeper/historic_avg.go
Due: modules

rollback change to 20s
  tests/e2e/e2e_metoken_test.go
Due: none

fix(oracle): v6.1 upgrade with setting missing oracle avg price params
  app/upgrades.go
Due: app

oracle: use avg params from the store
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/migrations.go
Due: modules

set correct AvgParams prefix key
  x/oracle/types/keys.go
  x/oracle/types/params.go
Due: modules

fix
  app/upgrades.go
  x/oracle/keeper/historic_avg.go
Due: app, modules

review
  x/oracle/keeper/migrations.go
  x/oracle/types/keys.go
Due: modules

changelog
  CHANGELOG.md
Due: none

chore: use go-1.21
  CHANGELOG.md
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  contrib/scripts/go-mod-tidy-all.sh
  go.mod
  tests/e2e/docker/gaia.Dockerfile
Due: none

go mod tidy
  go.sum
Due: none

progress
  app/app.go
  app/encoding.go
  app/inflation/expected_keepers.go
  app/test_helpers.go
  cmd/umeed/cmd/app_creator.go
  sdkclient/chain_height.go
  tests/e2e/setup/genesis.go
  tests/simulation/state.go
Due: app

reordering of imports
  ante/ante.go
  ante/ante_test.go
  app/app.go
Due: app

fix metoken e2e
  tests/e2e/e2e_metoken_test.go
Due: none

feat(client): unify and refactore client package (#2256)
  client/metoken.go
  sdkclient/client.go
  sdkclient/query/client.go
  sdkclient/tx/bank.go
  sdkclient/tx/client.go
  sdkclient/tx/gov.go
  sdkclient/tx/key.go
  sdkclient/tx/sign.go
  sdkclient/tx/wasm.go
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/metoken.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
  tests/util/cw_util.go
  util/sdkutil/msg.go
  x/oracle/keeper/historic_avg.go
Due: modules, client

fix(oracle): avg params storage. (#2260)
  CHANGELOG.md
  app/upgrades.go
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/migrations.go
  x/oracle/types/keys.go
  x/oracle/types/params.go
Due: app, modules

fix
  app/encoding.go
Due: app

renamed ExchangeRate to DenomExchangeRate on oracle genesis and using ExchangeRate for return types on oracle
  app/test_helpers.go
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  x/oracle/abci_test.go
  x/oracle/genesis.go
  x/oracle/genesis_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/exchange_rates.go
  x/oracle/types/exchange_rates_test.go
  x/oracle/types/genesis.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/genesis_test.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/vote.go
  x/oracle/types/vote_test.go
Due: app, modules

--
  x/leverage/keeper/inspector.go
Due: modules

unstable field note
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/types/query.pb.go
Due: none

new query fields and logic
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/keeper/grpc_query.go
  x/leverage/types/query.pb.go
Due: modules

chore: use go-1.21 (#2261)
  CHANGELOG.md
  contrib/images/umee.e2e-static.dockerfile
  contrib/images/umee.e2e.dockerfile
  contrib/images/umeed.dockerfile
  contrib/scripts/go-mod-tidy-all.sh
  go.mod
  go.sum
  tests/e2e/docker/gaia.Dockerfile
Due: none

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
