Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

add leverage and oracle and ugov module queries to stargate cosmwasm
  app/wasm/stargate/whitelist.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
  tests/artifacts/umee_cosmwasm-aarch64.wasm
Due: app

bump GB and set burn
  README.md
  RELEASE_NOTES.md
  app/app.go
  go.mod
  go.sum
Due: app

save progress pre-refactor
  proto/umee/leverage/v1/tx.proto
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server.go
  x/leverage/types/tx.go
  x/leverage/types/tx.pb.go
  x/leverage/types/tx_test.go
Due: modules

fix: int64 overflow in module liquidity
  CHANGELOG.md
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/limits.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: fix the version issue
  app/wasm/stargate/whitelist.go
Due: app

changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

docs: v5.0 release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

bump GB and set GB burn (#2071)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  app/app.go
  go.mod
  go.sum
Due: app

fix: fix the umee version issue
  sdkclient/tx/wasm.go
  tests/e2e/cw_test.go
  tests/e2e/suite.go
  tests/qa/cw/cw_test.go
  tests/util/cw_util.go
Due: none

test++
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/limits_test.go
Due: modules

fix: int64 overflow in module liquidity (#2072)
  CHANGELOG.md
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/limits_test.go
Due: modules

address the review comments
  client/wasm.go
  sdkclient/tx/client.go
  sdkclient/tx/wasm.go
  tests/qa/cw/cw_test.go
  tests/util/cw_util.go
Due: client

release notes updates
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

docs: v5.0 release notes (#2073)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

fix: fix the lint issue
  swagger/swagger.go
Due: none

add docs for cosmwasm
  app/app.go
  docs/cosmwasm.md
Due: app

fix: fix the lint issue
  docs/cosmwasm.md
Due: none

add example smart contract repo
  docs/cosmwasm.md
Due: none

lint
  docs/cosmwasm.md
Due: none

docs
  docs/cosmwasm.md
Due: none

docs: docs for cosmwasm native module queries and msgs (#2076)
  app/app.go
  docs/cosmwasm.md
Due: app

chore: v5 final release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

update: update the cosmwasm docs and address the review comments
  app/app.go
  app/wasm/stargate/querier.go
  app/wasm/stargate/whitelist.go
  docs/cosmwasm.md
Due: app

fix th readme lint issue
  docs/cosmwasm.md
Due: none

fix: fix the markdown lint
  docs/cosmwasm.md
Due: none

add base query path to all whitelisted module queries in wasm
  app/wasm/stargate/whitelist.go
Due: app

try to fix the golanglint issues
  go.mod
  go.sum
Due: none

++
  .depguard.yaml
  .golangci.yml
  tests/tsdk/doc.go
Due: none

godoc--
  x/leverage/keeper/keeper.go
Due: modules

bring query up to date
  proto/umee/leverage/v1/inspector.proto
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/cli/inspector.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/inspector_filter.go
  x/leverage/keeper/inspector_sort.go
  x/leverage/types/inspector.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: modules

finish riskdata query
  proto/umee/leverage/v1/inspector.proto
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/cli/inspector.go
  x/leverage/keeper/inspector.go
  x/leverage/types/inspector.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: modules

add inspector queries
  proto/umee/leverage/v1/inspector.proto
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/cli/inspector.go
  x/leverage/client/cli/query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/inspector_filter.go
  x/leverage/keeper/inspector_sort.go
  x/leverage/types/events.pb.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/inspector.pb.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/tx.pb.go
Due: modules

simplify query structure for web interaction
  proto/umee/leverage/v1/inspector.proto
  swagger/swagger.yaml
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
  x/leverage/client/cli/inspector.go
  x/leverage/keeper/inspector.go
  x/leverage/types/inspector.pb.go
  x/oracle/types/events.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/tx.pb.go
  x/uibc/events.pb.go
  x/uibc/genesis.pb.go
  x/uibc/query.pb.go
  x/uibc/quota.pb.go
  x/uibc/tx.pb.go
Due: modules

Revert "simplify query structure for web interaction"
  proto/umee/leverage/v1/inspector.proto
  swagger/swagger.yaml
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
  x/leverage/client/cli/inspector.go
  x/leverage/keeper/inspector.go
  x/leverage/types/inspector.pb.go
  x/oracle/types/events.pb.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/tx.pb.go
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/tx.pb.go
  x/uibc/events.pb.go
  x/uibc/genesis.pb.go
  x/uibc/query.pb.go
  x/uibc/quota.pb.go
  x/uibc/tx.pb.go
Due: modules

retry reverted commit
  proto/umee/leverage/v1/inspector.proto
  swagger/swagger.yaml
  x/leverage/client/cli/inspector.go
  x/leverage/keeper/inspector.go
  x/leverage/types/inspector.pb.go
Due: modules

lint
  x/leverage/keeper/inspector.go
Due: modules

depguard
  .golangci.yml
Due: none

previous work
  proto/umee/leverage/v1/inspector.proto
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/client/cli/inspector.go
  x/leverage/client/cli/query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/inspector_filter.go
  x/leverage/keeper/inspector_sort.go
  x/leverage/types/inspector.pb.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
Due: modules

fix web urls
  proto/umee/leverage/v1/inspector.proto
  swagger/swagger.yaml
  x/leverage/client/cli/inspector.go
  x/leverage/keeper/inspector.go
  x/leverage/types/inspector.pb.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
