Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

lint
  app/upgrades.go
Due: app

update release notes
  RELEASE_NOTES.md
Due: none

Apply suggestions from code review
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

test
  sdkclient/tx/client.go
  tests/e2e/setup/utils.go
Due: none

feat: v6.3 upgrade handler and release notes (#2376)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  app/upgrades.go
  sdkclient/tx/client.go
  tests/e2e/setup/utils.go
Due: app

feat: add symbol name to the x/uibc QueryInflowsResponse
  proto/umee/uibc/v1/query.proto
  swagger/swagger.yaml
  x/uibc/query.pb.go
  x/uibc/quota/grpc_query.go
Due: modules

add missing file
  x/uibc/quota/token.go
Due: modules

changelog
  CHANGELOG.md
Due: none

feat: add symbol name to the x/uibc QueryInflowsResponse (#2377)
  CHANGELOG.md
  proto/umee/uibc/v1/query.proto
  swagger/swagger.yaml
  x/uibc/query.pb.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/token.go
Due: modules

updates
  CHANGELOG.md
  app/params/app_settings.go
  app/upgrades.go
Due: app

lint
  CHANGELOG.md
Due: none

fix(sdkclient): bing back the acc sequence setting fix
  sdkclient/tx/client.go
Due: none

add tests
  sdkclient/tx/client.go
  sdkclient/tx/client_test.go
Due: none

feat(uibc): re-enable IBC memo handling
  x/uibc/uics20/ibc_module.go
Due: modules

feat(uibc): re-enable IBC memo handling (#2380)
  x/uibc/uics20/ibc_module.go
Due: modules

fix the acc seq setter
  sdkclient/tx/client.go
  sdkclient/tx/client_test.go
  sdkclient/tx/gov.go
  sdkclient/tx/wasm.go
  tests/e2e/setup/utils.go
Due: none

remove redundant validateBasic check
  x/leverage/client/cli/tx.go
  x/oracle/client/cli/tx.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

fix the leverage test
  sdkclient/tx/bank.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/utils.go
Due: none

try fix
  client/client.go
  sdkclient/tx/client.go
  tests/e2e/setup/utils.go
Due: client

leverage withdraw and borrow limited by meToken supply
  x/leverage/keeper/borrows.go
  x/leverage/keeper/keeper.go
Due: modules

remove v6.2 upgrade handler
  app/upgrades.go
Due: app

print sequence number
  sdkclient/tx/client.go
  tests/e2e/setup/utils.go
Due: none

fix
  sdkclient/tx/client.go
Due: none

tests
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/oracle_test.go
  x/leverage/keeper/suite_test.go
  x/metoken/expected_keepers.go
  x/metoken/keeper/keeper.go
  x/metoken/keeper/redeem.go
Due: modules

changelog, test fix and imports
  CHANGELOG.md
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/suite_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/keeper.go
Due: modules

fix mock
  x/metoken/keeper/mocks_test.go
Due: modules

Update x/metoken/expected_keepers.go
  x/metoken/expected_keepers.go
Due: modules

chore: remove the v6.2 upgrade handler (#2362)
  app/upgrades.go
  x/uibc/quota/migrations.go
Due: app, modules

refactor moduleMaxBorrow
  x/leverage/keeper/borrows.go
  x/leverage/keeper/msg_server.go
Due: modules

lint
  x/leverage/keeper/borrows.go
Due: modules

move meToken reserving to ModuleAvailableLiquidity
  x/leverage/keeper/borrows.go
  x/leverage/keeper/limits.go
Due: modules

Revert "move meToken reserving to ModuleAvailableLiquidity"
  x/leverage/keeper/borrows.go
  x/leverage/keeper/limits.go
Due: modules

adjust interest rate algorithm and associated token param rules
  x/leverage/keeper/interest.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/token.go
Due: modules

add migration for tokens
  app/upgrades.go
Due: app

update error messages
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
Due: none
