Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

chore: use cli.PrintOrErr (#2035)
  x/incentive/client/cli/query.go
  x/oracle/client/cli/query.go
Due: modules

chore: add outflow and inflow param status
  proto/umee/uibc/v1/events.proto
  proto/umee/uibc/v1/quota.proto
  proto/umee/uibc/v1/tx.proto
  tests/e2e/e2e_ibc_test.go
  tests/grpc/gov.go
  x/uibc/codec.go
  x/uibc/events.pb.go
  x/uibc/keys.go
  x/uibc/msg.go
  x/uibc/msg_test.go
  x/uibc/params.go
  x/uibc/params_test.go
  x/uibc/quota.pb.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/intest/genesis_test.go
  x/uibc/quota/keeper/intest/msg_server_test.go
  x/uibc/quota/keeper/msg_server.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/tx.pb.go
Due: modules

fix: fix the lint
  proto/umee/uibc/v1/quota.proto
  tests/e2e/e2e_ibc_test.go
  x/uibc/keys.go
  x/uibc/params.go
  x/uibc/quota.pb.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/intest/genesis_test.go
  x/uibc/quota/keeper/params_test.go
Due: modules

chore: update docker files
  Makefile
  contrib/images/umeed.dockerfile
Due: none

chore: speedup e2e by removing docker cache
  .github/workflows/tests.yml
Due: none

chore: speedup e2e by removing docker cache (#2037)
  .github/workflows/tests.yml
Due: none

chore: update docker files (#2036)
  Makefile
  contrib/images/umeed.dockerfile
Due: none

unify test util and tsdk packages
  tests/tsdk/codec.go
  tests/tsdk/store.go
  tests/util/store.go
  util/store/store_test.go
  x/oracle/keeper/historic_avg_test.go
Due: modules

rename NewKVStore
  tests/tsdk/codec.go
  tests/tsdk/store.go
  util/store/iter_test.go
  util/store/store_test.go
  x/oracle/keeper/historic_avg_test.go
Due: modules

Update tests/tsdk/store.go
  tests/tsdk/store.go
Due: none

unify util tsdk and store packages (#2038)
  tests/tsdk/codec.go
  tests/tsdk/store.go
  tests/util/store.go
  util/store/iter_test.go
  util/store/store_test.go
  x/oracle/keeper/historic_avg_test.go
Due: modules

fix: fix the middleware flow on ibc
  app/app.go
Due: app

fix ugov test
  x/ugov/msg_test.go
Due: modules

fix tests - including soem that were not running
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unit_test.go
Due: modules

suggestion++
  x/incentive/client/cli/query.go
Due: modules

expand scenario test
  x/incentive/keeper/scenario_test.go
Due: modules

chore: address the first review comments
  proto/umee/uibc/v1/events.proto
  proto/umee/uibc/v1/quota.proto
  proto/umee/uibc/v1/tx.proto
  tests/e2e/e2e_ibc_test.go
  tests/grpc/gov.go
  x/uibc/codec.go
  x/uibc/events.pb.go
  x/uibc/keys.go
  x/uibc/msg.go
  x/uibc/msg_test.go
  x/uibc/params.go
  x/uibc/quota.pb.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/intest/genesis_test.go
  x/uibc/quota/keeper/intest/msg_server_test.go
  x/uibc/quota/keeper/msg_server.go
  x/uibc/quota/keeper/params.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/tx.pb.go
Due: modules

fix the golang lint
  x/uibc/quota/ibc_module.go
Due: modules

fix bug
  x/incentive/keeper/unit_test.go
  x/incentive/keeper/update.go
  x/incentive/module/abci.go
Due: modules

address second review comments
  proto/umee/uibc/v1/events.proto
  proto/umee/uibc/v1/quota.proto
  proto/umee/uibc/v1/tx.proto
  x/uibc/events.pb.go
  x/uibc/keys.go
  x/uibc/msg_test.go
  x/uibc/quota.pb.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/msg_server.go
  x/uibc/tx.pb.go
Due: modules

update app.go
  app/app.go
Due: app

feat: add ugov/MsgGovUpdateMinGasPrice String implementation
  proto/umee/ugov/v1/tx.proto
  x/ugov/msg.go
  x/ugov/msg_test.go
  x/ugov/tx.pb.go
Due: modules

Update x/ugov/msg.go
  x/ugov/msg.go
Due: modules

feat: add ugov/MsgGovUpdateMinGasPrice String implementation (#2045)
  proto/umee/ugov/v1/tx.proto
  x/ugov/msg.go
  x/ugov/msg_test.go
  x/ugov/tx.pb.go
Due: modules

tests: ugov unit tests
  tests/accs/accounts.go
  util/checkers/proposal.go
  util/checkers/proposal_test.go
  x/ugov/msg.go
  x/ugov/msg_test.go
Due: modules

linter
  tests/accs/accounts.go
  util/store/store_test.go
Due: none

chore: using latest cosmos proto builder
  Makefile
Due: none

tests
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/msgs_test.go
  x/uibc/msg_test.go
Due: modules

tests: ugov unit tests (#2046)
  tests/accs/accounts.go
  util/checkers/proposal.go
  util/checkers/proposal_test.go
  util/store/store_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/msgs_test.go
  x/ugov/msg.go
  x/ugov/msg_test.go
  x/uibc/msg_test.go
Due: modules

remove duplicate code
  Makefile
Due: none

revert unintentional change
  x/ugov/msg_test.go
Due: modules

revert
  x/ugov/msg_test.go
Due: modules

change arg order, as suggested
  x/incentive/keeper/unit_test.go
  x/incentive/keeper/update.go
  x/incentive/module/abci.go
Due: modules

fix: set default unbonding period to instant (#2033)
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unit_test.go
  x/incentive/params.go
Due: modules

separate out test case reward calculations
  x/incentive/keeper/scenario_test.go
Due: modules

test: incentive CLI tests and url simplifications (#2031)
  proto/umee/incentive/v1/query.proto
  x/incentive/client/cli/query.go
  x/incentive/client/tests/cli_test.go
  x/incentive/client/tests/suite.go
  x/incentive/client/tests/tests.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/reward.go
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
Due: modules

refactor the e2e setup suite
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_test.go
  tests/e2e/eth_abi.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/eth_abi.go
  tests/e2e/setup/ethereum.go
  tests/e2e/setup/gaia.go
  tests/e2e/setup/genesis.go
  tests/e2e/setup/io.go
  tests/e2e/setup/keys.go
  tests/e2e/setup/orchestrator.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/e2e/setup/validator.go
  tests/e2e/util.go
Due: none

fix: incentive module EndBlocker (#2040)
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unit_test.go
  x/incentive/keeper/update.go
  x/incentive/module/abci.go
Due: modules

fix the notional comswasm fork
  go.mod
  go.sum
Due: none

feat: ugov spec
  x/ugov/README.md
Due: none
