Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix: fix the e2e tests
  tests/e2e/setup/utils.go
Due: none

chore: bump ibc (#2556)
  README.md
  go.mod
  go.sum
  tests/e2e/setup/utils.go
Due: none

update e2e tests
  tests/e2e/e2e_ibc_memo_test.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
Due: none

chore: bump ibc (#2557)
  README.md
  RELEASE_NOTES.md
  go.mod
  go.sum
  tests/e2e/e2e_ibc_memo_test.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
Due: none

(test): improve IBC check in e2e tests (#2558)
  tests/e2e/e2e_ibc_memo_test.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
Due: none

update releaser
  .github/workflows/release-umee.yml
  .goreleaser.yml
Due: none

depreceate goreleaser version
  .github/workflows/release-umee.yml
Due: none

revert owner in goreleaser
  .goreleaser.yml
Due: none

remove the ibc-transfer recv addr and memo length check
  tests/e2e/e2e_ibc_test.go
  util/ibc/ibc.go
  util/ibc/ibc_test.go
Due: none

fix: fix the tests
  util/ibc/ibc_test.go
Due: none

improve the inspect query for front-end
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/inspector.go
  x/leverage/types/query.pb.go
Due: modules

update the changelog
  CHANGELOG.md
Due: none

address the coderabbitai suggestions
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/keeper/grpc_query_test.go
  x/leverage/types/query.pb.go
Due: modules

fix the lint
  x/leverage/keeper/inspector.go
Due: modules

chore: removing the ibc-transfer recv addr and memo length check (#2561)
  tests/e2e/e2e_ibc_test.go
  util/ibc/ibc.go
  util/ibc/ibc_test.go
Due: none

add tests for sort the borrowers
  CHANGELOG.md
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/inspector.go
Due: modules

++
  app/app.go
  app/wasm/msg/plugin.go
  go.mod
  go.sum
  proto/umee/leverage/v1/leverage.proto
  proto/umee/oracle/v1/events.proto
  swagger/swagger.yaml
  tests/e2e/e2e_ibc_test.go
  util/store/iter.go
  x/auction/keeper/init_test.go
  x/auction/keeper/keeper.go
  x/auction/module/module.go
  x/auction/msgs.go
  x/incentive/incentive.pb.go
  x/incentive/query.pb.go
  x/leverage/fixtures/params.go
  x/leverage/keeper/accounts_summary.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/oracle.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/query.pb.go
  x/metoken/metoken.pb.go
  x/oracle/keeper/keeper.go
  x/oracle/types/events.pb.go
  x/uibc/ics20.go
  x/uibc/quota.pb.go
  x/uibc/tx.pb.go
  x/uibc/uibc.pb.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/ibc_module_mocks_test.go
  x/uibc/uics20/ibc_module_test.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: app, modules

adding query for all auctions with rewards
  proto/umee/auction/v1/query.proto
  x/auction/client/cli/query.go
  x/auction/keeper/grpc_query.go
  x/auction/query.pb.go
  x/auction/query.pb.gw.go
Due: modules

chore: improve the inspect query for front-end (#2562)
  CHANGELOG.md
  proto/umee/leverage/v1/query.proto
  swagger/swagger.yaml
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/inspector.go
  x/leverage/types/query.pb.go
Due: modules

fix: fix the results on query
  x/auction/keeper/grpc_query.go
Due: modules

chore: adding query for all auctions with rewards (#2564)
  proto/umee/auction/v1/query.proto
  x/auction/client/cli/query.go
  x/auction/keeper/grpc_query.go
  x/auction/query.pb.go
  x/auction/query.pb.gw.go
Due: modules

fix: fix the build issue
  app/app.go
  app/modules.go
  app/upgrades.go
  go.mod
  go.sum
  x/auction/expected_keepers.go
  x/auction/keeper/grpc_query.go
  x/auction/module/module.go
  x/leverage/keeper/accounts_summary.go
  x/leverage/keeper/inspector.go
  x/metoken/expected_keepers.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/slash.go
  x/oracle/types/expected_keeper.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: app, modules

fix: fix the tests for app
  app/app.go
  app/wasm/test/umee_cw_test.go
  sdkclient/query/client.go
  tests/e2e/e2e_ibc_test.go
  util/checkers/number_test.go
  util/store/store_test.go
  x/auction/codec.go
  x/auction/expected_keepers.go
  x/auction/msgs_test.go
  x/metoken/keeper/mocks_test.go
  x/oracle/types/utils_test.go
  x/uibc/gmp/gmp_middleware_test.go
  x/uibc/uics20/memo_handler_test.go
Due: app, modules

update tx.proto files and packet-forward-middleware to v8.0.2
  app/app.go
  app/encoding.go
  cmd/umeed/cmd/root.go
  go.mod
  go.sum
  proto/umee/auction/v1/tx.proto
  proto/umee/incentive/v1/tx.proto
  proto/umee/leverage/v1/tx.proto
  proto/umee/metoken/v1/tx.proto
  proto/umee/oracle/v1/tx.proto
  proto/umee/ugov/v1/tx.proto
  proto/umee/uibc/v1/tx.proto
  tests/tsdk/codec.go
  x/auction/tx.pb.go
  x/incentive/tx.pb.go
  x/leverage/types/tx.pb.go
  x/metoken/tx.pb.go
  x/oracle/types/tx.pb.go
  x/ugov/tx.pb.go
  x/uibc/tx.pb.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: app, modules

fix: fix the e2e tests setup
  app/app.go
  app/encoding.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/validator.go
Due: app

fix: fix the auction rewards params query
  proto/umee/auction/v1/query.proto
  x/auction/query.pb.go
  x/auction/query.pb.gw.go
Due: none

fix: fix the auction rewards params query (#2569)
  proto/umee/auction/v1/query.proto
  x/auction/query.pb.go
  x/auction/query.pb.gw.go
Due: none

add config cmd for app
  cmd/umeed/cmd/root.go
  go.mod
  go.sum
Due: none

adding events to msg bid txn
  proto/umee/auction/v1/events.proto
  x/auction/events.pb.go
  x/auction/keeper/msg_server.go
Due: modules

proto lint
  proto/umee/auction/v1/events.proto
  x/auction/events.pb.go
Due: none

fix the grammer
  proto/umee/auction/v1/events.proto
  x/auction/events.pb.go
Due: none

chore: adding events to msg bid txn (#2570)
  proto/umee/auction/v1/events.proto
  x/auction/events.pb.go
  x/auction/keeper/msg_server.go
Due: modules

chore: fix some comments
  app/inflation/inflation_test.go
  app/wasm/query/types.go
  tests/e2e/e2e_ibc_test.go
  tests/qa/cw/cw_test.go
  util/ibc/ibc.go
Due: app

adding upgrade v6.6-rc1 for canon network
  app/upgrades.go
  x/auction/genesis.go
  x/auction/msgs.go
Due: app, modules

change the bid duration to 4 hours for canon network
  x/auction/genesis.go
Due: modules

fix:fix the lint
  app/upgrades.go
Due: app

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
