Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

lint
  tests/e2e/e2e_oracle_test.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: none

lint
  tests/simulation/sim_test.go
  x/ugov/module/module.go
  x/uibc/module/module.go
Due: modules

lint
  x/uibc/quota/keeper/quota.go
Due: modules

adding inflow quota check
  .golangci.yml
  x/oracle/simulations/operations.go
  x/uibc/genesis.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
Due: modules

trying to fix ibc tests
  tests/e2e/e2e_ibc_test.go
  x/uibc/quota/keeper/quota.go
Due: modules

remove failing test
  tests/e2e/e2e_leverage_test.go
Due: none

helper function to check logs
  tests/grpc/gov.go
Due: none

gogoproto
  app/wasm/query/handle_metoken.go
  util/sdkutil/msg.go
Due: app

run make lint-fix
  ante/ante_test.go
  app/upgradev3/min_commission_test.go
  app/wasm/query/querier.go
  app/wasm/test/cw20_base_test.go
  cmd/umeed/cmd/app_creator.go
  sdkclient/client.go
  sdkclient/tx/client.go
  tests/cli/suite.go
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/gaia.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/simulation/sim_test.go
  x/oracle/simulations/operations.go
  x/oracle/types/vote_test.go
  x/ugov/module/module.go
Due: app, modules

try cleaning cache
  .github/workflows/lint.yml
Due: none

lint fixed
  .github/workflows/lint.yml
  app/app.go
  app/inflation/inflation.go
  app/modules.go
  app/upgrades.go
  app/wasm/query/whitelist.go
  x/metoken/client/cli/query.go
  x/oracle/keeper/historic_price.go
  x/oracle/module.go
  x/oracle/simulations/operations.go
Due: app, modules

fix cosmwasm test
  app/wasm/query/whitelist.go
Due: app

feat(gov): use gov/v1 MinInitialDepositRatio and set it to 0.1
  app/upgrades.go
Due: app

Changelog
  CHANGELOG.md
Due: none

lint changelog
  CHANGELOG.md
Due: none

feat(gov): use gov/v1 MinInitialDepositRatio and set it to 0.1 (#2301)
  CHANGELOG.md
  app/upgrades.go
Due: app

update the protos
  x/uibc/genesis.pb.go
  x/uibc/quota.pb.go
Due: none

enable goconst in golang-lint
  .golangci.yml
Due: none

address the review comments
  proto/umee/uibc/v1/genesis.proto
  proto/umee/uibc/v1/quota.proto
  x/uibc/genesis.pb.go
  x/uibc/params.go
  x/uibc/quota.pb.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/keeper/genesis.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/params_test.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
Due: modules

add new params values to upgrade handler
  app/upgrades.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/unit_test.go
Due: app, modules

fix(v6.2 upgrade): MinInitialDepositRatio + docs
  README.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

fix(v6.2 upgrade): MinInitialDepositRatio + docs (#2308)
  README.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

update wasmvm from 1.3 to 1.4
  app/app.go
  app/test_helpers.go
  app/upgrades.go
  app/wasm.go
  app/wasm/custom_plugins.go
  app/wasm/test/cw20_base_test.go
  cmd/umeed/cmd/app_creator.go
  go.mod
  go.sum
  tests/simulation/sim_test.go
  tests/simulation/state.go
Due: app

fix the tests
  sdkclient/tx/wasm.go
  tests/e2e/setup/setup.go
  tests/grpc/gov.go
  tests/grpc/tx.go
  tests/qa/cw/cw_test.go
  tests/util/cw_util.go
Due: none

chore: update wasmvm from 1.3 to 1.4 (#2310)
  app/app.go
  app/test_helpers.go
  app/upgrades.go
  app/wasm.go
  app/wasm/custom_plugins.go
  app/wasm/test/cw20_base_test.go
  cmd/umeed/cmd/app_creator.go
  go.mod
  go.sum
  sdkclient/tx/wasm.go
  tests/e2e/setup/setup.go
  tests/grpc/gov.go
  tests/grpc/tx.go
  tests/qa/cw/cw_test.go
  tests/simulation/sim_test.go
  tests/simulation/state.go
  tests/util/cw_util.go
Due: app

metoken wasm queries
  app/wasm/query/handle_metoken.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/test/umee_cw_test.go
Due: app

save progress
  x/leverage/types/new_position.go
  x/leverage/types/position.go
  x/leverage/types/position_change.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
