Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

validation allows empty pairs if sets present instead
  x/leverage/types/msgs.go
Due: modules

optional arg doc
  x/leverage/client/cli/query.go
Due: modules

Add liquidation threshold to pairs
  x/leverage/keeper/token.go
  x/leverage/types/token.go
Due: modules

revert proposal.go
  x/leverage/types/proposal.go
Due: modules

change stringer
  x/leverage/types/msgs.go
Due: modules

leverage emergency checks
  x/leverage/keeper/token.go
Due: modules

readme++
  x/leverage/README.md
Due: none

added upgrade handler registration for new token emission
  app/upgrades.go
  x/ugov/inflation_params.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/migrations.go
  x/ugov/keeper/params.go
  x/ugov/keys.go
  x/ugov/migrations/v2/store.go
  x/ugov/module/module.go
Due: app, modules

fix the migrator struct issue
  x/ugov/keeper/migrations.go
Due: modules

Rearrange types
  x/leverage/keeper/position.go
  x/leverage/types/weighted_coin.go
Due: modules

add unit test cases for MigrateStore for ugov v2
  x/ugov/migrations/v2/store_test.go
Due: modules

fix the golang lint
  app/upgrades.go
  x/ugov/keeper/migrations.go
Due: app, modules

additional cached values
  x/leverage/keeper/position.go
  x/leverage/types/weighted_coin.go
Due: modules

move position struct to types and isolate for keeper, ctx
  x/leverage/keeper/position.go
  x/leverage/types/position.go
Due: modules

sorting of position into special pairs
  x/leverage/types/position.go
Due: modules

use position struct for AssertBorrowerHealth
  x/leverage/keeper/borrows.go
  x/leverage/types/position.go
  x/leverage/types/weighted_coin.go
Due: modules

lint
  x/leverage/keeper/borrows.go
  x/leverage/keeper/position.go
Due: modules

fix
  x/leverage/keeper/position.go
Due: modules

use position borrow limit for account summary query
  x/leverage/keeper/borrows.go
  x/leverage/keeper/grpc_query.go
Due: modules

comments++
  x/leverage/types/weighted_coin.go
Due: modules

feat: add special asset pairs (#2150)
  CHANGELOG.md
  proto/umee/leverage/v1/genesis.proto
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/query.proto
  proto/umee/leverage/v1/tx.proto
  swagger/swagger.yaml
  x/leverage/client/cli/query.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/genesis.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/token.go
  x/leverage/simulation/genesis.go
  x/leverage/types/errors.go
  x/leverage/types/genesis.go
  x/leverage/types/genesis.pb.go
  x/leverage/types/genesis_test.go
  x/leverage/types/keys.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/query.pb.go
  x/leverage/types/query.pb.gw.go
  x/leverage/types/token.go
  x/leverage/types/tx.pb.go
Due: modules

change liquidation threshold logic
  x/leverage/keeper/borrows.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/position.go
  x/leverage/simulation/operations.go
  x/leverage/types/position.go
  x/leverage/types/weighted_coin.go
Due: modules

create empty position.MaxBorrow and position.MaxWithdraw - break tests
  util/coin/coin.go
  util/coin/fixtures.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/limits.go
  x/leverage/types/position.go
Due: modules

comment++
  x/leverage/types/position.go
Due: modules

Add metoken queries to cosmwasm and stargate queries
  app/app.go
  app/wasm/custom_plugins.go
  app/wasm/query/handle_metoken.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/query/whitelist.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/umee_cw_test.go
Due: app

comment the new token emission upgrade handler
  app/upgrades.go
Due: app

chore: added upgrade handler for new token emission (#2176)
  app/upgrades.go
  x/ugov/inflation_params.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/migrations.go
  x/ugov/keeper/params.go
  x/ugov/keys.go
  x/ugov/migrations/v2/store.go
  x/ugov/migrations/v2/store_test.go
  x/ugov/module/module.go
Due: app, modules

fix sorting
  x/leverage/types/position.go
  x/leverage/types/weighted_coin.go
Due: modules

move asset pairing to initialization, away from limit function
  x/leverage/types/position.go
Due: modules

move soon-to-be-removed functions to todo file
  x/leverage/keeper/limits.go
  x/leverage/keeper/todo.go
Due: modules

lint
  x/leverage/types/position.go
Due: modules

Export fields
  x/leverage/keeper/borrows.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/liquidate.go
  x/leverage/types/position.go
Due: modules

Revert "Export fields"
  x/leverage/keeper/borrows.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/liquidate.go
  x/leverage/types/position.go
Due: modules

export GetAccountPosition
  x/leverage/keeper/borrows.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/iter.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/position.go
Due: modules

typo
  x/leverage/keeper/borrows.go
Due: modules

isolate AccountPosition from #2164
  x/leverage/keeper/iter.go
  x/leverage/keeper/position.go
  x/leverage/types/position.go
  x/leverage/types/weighted_coin.go
Due: modules

start test file
  x/leverage/types/position_test.go
Due: modules

refactore(uibc): clean up ibc middleware organization
  app/app.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/keeper.go
Due: app, modules

lint
  app/app.go
  x/uibc/quota/ics4_wrapper.go
Due: app, modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
