Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

fix: fix the unit tests
  x/uibc/quota/keeper/intest/suite_test.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

refactore(uibc): clean up ibc middleware organization (#2179)
  app/app.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/ics4_wrapper.go
  x/uibc/quota/keeper/intest/suite_test.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/unit_test.go
Due: app, modules

create wide range of position testing assets, special pairs
  x/leverage/types/position_test.go
Due: modules

package change
  x/leverage/types/position_test.go
Due: modules

added tests for stargate and cosmwasm metoken queries
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/umee_cw_test.go
  tests/artifacts/umee_cosmwasm-aarch64.wasm
Due: app

fix the lint
  app/wasm/query/whitelist.go
Due: app

address the pr comments
  app/wasm/query/handle_metoken.go
Due: app

feat: added metoken queries to cosmwasm and stargate queries (#2177)
  app/app.go
  app/wasm/custom_plugins.go
  app/wasm/query/handle_metoken.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/query/whitelist.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/umee_cw_test.go
  tests/artifacts/umee_cosmwasm-aarch64.wasm
Due: app

refactore(leverage): rename ExchangeToken
  x/incentive/expected_keepers.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/mock_test.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/incentive.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/supply.go
  x/metoken/expected_keepers.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/redeem.go
  x/metoken/mocks/keepers.go
  x/uibc/expected_keepers.go
  x/uibc/mocks/keepers.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/quota.go
Due: modules

mockgen
  x/metoken/mocks/keepers.go
  x/uibc/mocks/keepers.go
Due: modules

changelog
  CHANGELOG.md
Due: none

rename based on review
  CHANGELOG.md
  x/incentive/expected_keepers.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/mock_test.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/incentive.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/supply.go
  x/metoken/expected_keepers.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/redeem.go
  x/metoken/mocks/keepers.go
  x/uibc/expected_keepers.go
  x/uibc/mocks/keepers.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/quota.go
Due: modules

Apply suggestions from code review
  CHANGELOG.md
  x/leverage/keeper/exchange_rate.go
Due: modules

mockgen
  x/metoken/mocks/keepers.go
Due: modules

fix integration tests in metoken
  app/inflation/inflation_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
Due: app, modules

fix quota integration tests
  x/uibc/quota/keeper/intest/quota_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

rename to ToTokens
  x/leverage/keeper/collateral.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/supply.go
Due: modules

fix: intest package name
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/uibc/quota/keeper/intest/genesis_test.go
  x/uibc/quota/keeper/intest/grpc_query_test.go
  x/uibc/quota/keeper/intest/msg_server_test.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/intest/suite_test.go
Due: modules

name matches comment
  x/leverage/keeper/exchange_rate.go
Due: modules

refactore(leverage): rename ExchangeToken (#2180)
  CHANGELOG.md
  app/inflation/inflation_test.go
  x/incentive/expected_keepers.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/mock_test.go
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/incentive.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/supply.go
  x/metoken/expected_keepers.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/redeem.go
  x/metoken/mocks/keepers.go
  x/uibc/expected_keepers.go
  x/uibc/mocks/keepers.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/quota.go
Due: app, modules

fix: intest package name (#2181)
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/uibc/quota/keeper/intest/genesis_test.go
  x/uibc/quota/keeper/intest/grpc_query_test.go
  x/uibc/quota/keeper/intest/msg_server_test.go
  x/uibc/quota/keeper/intest/quota_test.go
  x/uibc/quota/keeper/intest/suite_test.go
Due: modules

swap tests
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/swap_test.go
Due: modules

++
  x/leverage/types/position_test.go
Due: modules

fix
  x/leverage/keeper/token.go
  x/leverage/types/genesis.go
Due: modules

integrating ugov
  app/app.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server.go
  x/leverage/types/expected_types.go
Due: app, modules

chore(inflation): remove Get prefix
  app/inflation/inflation.go
  app/inflation/inflation_test.go
  app/inflation/mocks/keepers.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/keeper_interfaces.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
Due: app, modules

regenerate
  app/inflation/mocks/keepers.go
Due: app

chore: remove get prefix in inflation interface (#2182)
  app/inflation/inflation.go
  app/inflation/inflation_test.go
  app/inflation/mocks/keepers.go
  x/ugov/keeper/genesis.go
  x/ugov/keeper/keeper_interfaces.go
  x/ugov/keeper/params.go
  x/ugov/keeper/params_test.go
  x/ugov/keeper/query_server.go
Due: app, modules

refactore(leverage): move ToUTokenDenom to coin package
  util/coin/fixtures.go
  x/incentive/genesis.go
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/program.go
  x/incentive/keeper/reward.go
  x/incentive/keeper/scenario_test.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/migrations.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/reserves.go
  x/leverage/keeper/supply.go
  x/leverage/keeper/token.go
  x/leverage/keeper/validate.go
  x/leverage/simulation/operations.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
  x/uibc/quota/keeper/quota.go
Due: modules

add missing files
  util/coin/utoken.go
  util/coin/utoken_test.go
Due: none

update
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/program.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/reserves.go
Due: modules

++fix
  x/leverage/types/position.go
  x/leverage/types/position_test.go
  x/leverage/types/weighted_coin.go
Due: modules

refactore(leverage): move ToUTokenDenom to coin package (#2183)
  CHANGELOG.md
  util/coin/fixtures.go
  util/coin/utoken.go
  util/coin/utoken_test.go
  x/incentive/genesis.go
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/program.go
  x/incentive/keeper/reward.go
  x/incentive/keeper/scenario_test.go
  x/leverage/client/tests/tests.go
  x/leverage/keeper/borrows_test.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/collateral_test.go
  x/leverage/keeper/exchange_rate.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/inspector.go
  x/leverage/keeper/invariants_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/liquidate.go
  x/leverage/keeper/migrations.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/oracle.go
  x/leverage/keeper/reserves.go
  x/leverage/keeper/supply.go
  x/leverage/keeper/token.go
  x/leverage/keeper/validate.go
  x/leverage/simulation/operations.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
  x/uibc/quota/keeper/quota.go
Due: modules

adding more tests to uibc
  x/uibc/quota/ics4_wrapper_test.go
  x/uibc/quota/keeper/intest/grpc_query_test.go
Due: modules

oracle end_blocker fix
  x/oracle/abci.go
Due: modules

order imports
  x/oracle/abci.go
Due: modules
