Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

leverage execute fxns
  tests/e2e/e2e_leverage_test.go
Due: none

remove prefix from cli/ ref tests
  x/incentive/client/cli/query.go
  x/incentive/client/cli/tx.go
  x/incentive/client/tests/tests.go
  x/leverage/client/cli/query.go
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/metoken/client/cli/query.go
  x/metoken/client/cli/tx.go
  x/metoken/client/tests/tests.go
  x/oracle/client/cli/query.go
  x/oracle/client/cli/tx.go
  x/oracle/client/tests/suite.go
  x/uibc/client/cli/query.go
  x/uibc/client/tests/query_test.go
Due: modules

remove prefix from cli/ ref tests (#2234)
  x/incentive/client/cli/query.go
  x/incentive/client/cli/tx.go
  x/incentive/client/tests/tests.go
  x/leverage/client/cli/query.go
  x/leverage/client/cli/tx.go
  x/leverage/client/tests/tests.go
  x/metoken/client/cli/query.go
  x/metoken/client/cli/tx.go
  x/metoken/client/tests/tests.go
  x/oracle/client/cli/query.go
  x/oracle/client/cli/tx.go
  x/oracle/client/tests/suite.go
  x/uibc/client/cli/query.go
  x/uibc/client/tests/query_test.go
Due: modules

PR refactor
  client/metoken.go
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: client

comment
  tests/grpc/gov.go
Due: none

shorten functions
  tests/e2e/e2e_leverage_test.go
Due: none

++
  tests/e2e/e2e_leverage_test.go
  tests/e2e/e2e_test.go
Due: none

const
  tests/e2e/setup/keys.go
Due: none

add initial balances
  tests/e2e/setup/keys.go
Due: none

leverage gov setup
  tests/e2e/e2e_leverage_test.go
Due: none

special assets pair gov setup
  tests/e2e/e2e_leverage_test.go
  tests/grpc/gov.go
Due: none

initial leverage supply
  tests/e2e/e2e_leverage_test.go
Due: none

lint
  tests/grpc/gov.go
Due: none

tests: inflation tests
  app/inflation/inflation.go
  app/inflation/inflation_test.go
Due: app

fix
  tests/e2e/setup/keys.go
Due: none

Revert "PR refactor"
  client/metoken.go
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: client

PR changes
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: none

fix exceed max supply
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/keys.go
Due: none

pr comments
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/metoken.go
  tests/e2e/setup/utils.go
Due: none

test: metoken e2e (#2232)
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/keys.go
  tests/e2e/setup/metoken.go
  tests/e2e/setup/utils.go
  tests/grpc/gov.go
Due: none

++
  tests/e2e/e2e_leverage_test.go
Due: none

fix
  tests/e2e/setup/keys.go
  tests/e2e/setup/metoken.go
  tests/e2e/setup/utils.go
Due: none

account tools
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/account.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/setup.go
Due: none

++
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/setup.go
Due: none

revert accunt tools
  tests/e2e/e2e_leverage_test.go
  tests/e2e/setup/account.go
  tests/e2e/setup/chain.go
  tests/e2e/setup/setup.go
Due: none

revert extra balances
  tests/e2e/setup/keys.go
Due: none

--
  tests/e2e/setup/keys.go
Due: none

--
  tests/e2e/setup/setup.go
Due: none

--
  tests/grpc/gov.go
Due: none

fix
  app/app.go
  app/encoding.go
  cmd/ibc_denom/ibc_denom.go
  cmd/ibc_denom/ibc_denom_test.go
  go.mod
  go.sum
  tests/simulation/state.go
  x/leverage/types/token.go
  x/metoken/client/tests/cli_test.go
  x/metoken/client/tests/tests.go
  x/metoken/price.go
  x/uibc/module/module.go
  x/uibc/quota/ics4_wrapper_test.go
  x/uibc/quota/keeper/intest/msg_server_test.go
  x/uibc/quota/keeper/params.go
Due: app, modules

fix
  tests/e2e/e2e_leverage_test.go
Due: none

do not require historic medians for leverage e2e
  tests/e2e/e2e_leverage_test.go
Due: none

suggestion++
  tests/e2e/e2e_test.go
Due: none

add special pairs to e2e
  tests/e2e/e2e_leverage_test.go
Due: none

fix spelling of undercollateralized
  x/leverage/keeper/borrows.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/outage_test.go
  x/leverage/types/errors.go
Due: modules

add inflation change test
  app/inflation/inflation.go
  app/inflation/inflation_test.go
Due: app

fix empty description
  tests/grpc/gov.go
Due: none

modify amounts
  tests/e2e/e2e_leverage_test.go
Due: none

finish tests
  app/inflation/inflation.go
  app/inflation/inflation_test.go
  util/checkers/number.go
Due: app

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
