Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

fix e2e test
  tests/grpc/gov.go
Due: none

feat: rework proposal messages (#2203)
  app/upgradev3x3/migrate.go
  proto/umee/leverage/v1/tx.proto
  proto/umee/uibc/v1/tx.proto
  swagger/swagger.yaml
  tests/grpc/gov.go
  util/checkers/proposal.go
  util/checkers/proposal_test.go
  x/incentive/keeper/unit_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/token.go
  x/leverage/types/codec.go
  x/leverage/types/errors.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/proposal.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
  x/leverage/types/tx.pb.go
  x/metoken/keeper/intest/interest_test.go
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/intest/reserves_test.go
  x/metoken/metoken.pb.go
  x/oracle/simulations/operations.go
  x/ugov/msg.go
  x/ugov/msg_test.go
  x/uibc/msg.go
  x/uibc/msg_test.go
  x/uibc/quota/keeper/intest/msg_server_test.go
  x/uibc/tx.pb.go
Due: app, modules

canCombine tests
  x/leverage/types/weighted_coin_test.go
Due: modules

WeightedSpecialPairs add test
  x/leverage/types/weighted_coin_test.go
Due: modules

++
  x/leverage/types/weighted_coin_test.go
Due: modules

more zero-value cases
  x/leverage/types/weighted_coin_test.go
Due: modules

migrate leverage proposals
  app/upgrades.go
Due: app

add upgradev6 module
  app/upgradev6/leverage-msgs-v5.1.pb.go
  app/upgradev6/migrate_proposals.go
  app/upgradev6/props.txt
  app/upgradev6/uibc-msgs-v5.1.pb.go
Due: app

cleanup
  app/upgrades.go
Due: app

remove props.txt
  app/upgradev6/props.txt
Due: app

update directory name
  app/upgrades.go
  app/upgradev6x0/leverage-msgs-v5.1.pb.go
  app/upgradev6x0/migrate_proposals.go
  app/upgradev6x0/uibc-msgs-v5.1.pb.go
Due: app

lint
  app/upgradev6x0/leverage-msgs-v5.1.pb.go
  app/upgradev6x0/migrate_proposals.go
  app/upgradev6x0/uibc-msgs-v5.1.pb.go
Due: app

refactor: leverage params storage
  app/app.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/params.go
  x/leverage/keeper/store.go
  x/leverage/keeper/suite_test.go
  x/leverage/types/keys.go
Due: app, modules

cl++
  CHANGELOG.md
Due: none

add leverage MsgGovSetParams
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/tx.proto
  swagger/swagger.yaml
  x/leverage/keeper/msg_server.go
  x/leverage/simulation/params.go
  x/leverage/types/codec.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/params.go
  x/leverage/types/params_test.go
  x/leverage/types/tx.pb.go
Due: modules

lint
  x/leverage/keeper/genesis.go
Due: modules

fix
  x/leverage/types/codec.go
Due: modules

fix
  x/leverage/keeper/msg_server.go
Due: modules

cleanup proto descriptor in upgrade package
  app/upgradev6x0/leverage-msgs-v5.1.pb.go
  app/upgradev6x0/migrate_proposals.go
  app/upgradev6x0/uibc-msgs-v5.1.pb.go
Due: app

fix test
  x/leverage/types/msgs_test.go
Due: modules

Update app/upgrades.go
  app/upgrades.go
Due: app

fix leverage SetParams
  app/upgrades.go
Due: app

feat: v6.0 proposal migration (#2208)
  app/upgrades.go
  app/upgradev6x0/leverage-msgs-v5.1.pb.go
  app/upgradev6x0/migrate_proposals.go
  app/upgradev6x0/uibc-msgs-v5.1.pb.go
Due: app

check err
  app/upgrades.go
Due: app

refactor: leverage params storage (#2209)
  CHANGELOG.md
  app/app.go
  app/upgrades.go
  proto/umee/leverage/v1/leverage.proto
  proto/umee/leverage/v1/tx.proto
  swagger/swagger.yaml
  x/leverage/keeper/genesis.go
  x/leverage/keeper/internal_test.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/params.go
  x/leverage/keeper/store.go
  x/leverage/keeper/suite_test.go
  x/leverage/simulation/params.go
  x/leverage/types/codec.go
  x/leverage/types/keys.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/msgs.go
  x/leverage/types/msgs_test.go
  x/leverage/types/params.go
  x/leverage/types/params_test.go
  x/leverage/types/tx.pb.go
Due: app, modules

fix: migrate gravity proposals to text proposals
  app/upgrades.go
  app/upgradev6x0/gravity.go
  app/upgradev6x0/gravity.pb.go
  app/upgradev6x0/migrate_proposals.go
Due: app

fix: migrate gravity proposals to text proposals
  app/upgradev6x0/migrate_proposals.go
Due: app

format
  app/upgradev6x0/migrate_proposals.go
Due: app

leverage: require params to be initialized
  x/leverage/keeper/store.go
Due: modules

remove unncecessary code
  app/upgradev6x0/migrate_proposals.go
Due: app

leverage: require params to be initialized (#2211)
  x/leverage/keeper/store.go
Due: modules

fix: rpc endpoint spelling
  proto/umee/oracle/v1/query.proto
Due: none

proto gen
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: none

remove some code
  app/upgradev6x0/gravity.go
  app/upgradev6x0/gravity.pb.go
Due: app

cl--
  CHANGELOG.md
Due: none

fix!: rpc endpoint spelling (#2212)
  CHANGELOG.md
  proto/umee/oracle/v1/query.proto
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: none

fix: move metoken to experimental
  app/app.go
  app/upgrades.go
Due: app

fix: move metoken to experimental (#2213)
  app/app.go
  app/upgrades.go
Due: app
