Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

remove go structs and added links to msgs
  x/uibc/gmp/README.md
Due: none

feat(auction): oracle fees (#2500)
  CHANGELOG.md
  proto/umee/leverage/v1/events.proto
  proto/umee/leverage/v1/leverage.proto
  swagger/swagger.yaml
  x/leverage/client/tests/tests.go
  x/leverage/fixtures/params.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/interest.go
  x/leverage/keeper/interest_test.go
  x/leverage/keeper/oracle.go
  x/leverage/types/events.pb.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/params.go
Due: modules

docs: adding GMP examples code (#2499)
  x/uibc/gmp/README.md
Due: none

chore: bump wasmd
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

chore: bump wasmd (#2504)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

chore: bump cosmos-sdk
  go.mod
  go.sum
Due: none

update deps
  go.mod
  go.sum
Due: none

comment
  go.mod
Due: none

chore: bump cosmos sdk (#2505)
  go.mod
  go.sum
Due: none

feat(ics20): support leverage/MsgRepay in Memo
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

lint
  CHANGELOG.md
Due: none

feat(ics20): support leverage/MsgRepay in Memo (#2506)
  CHANGELOG.md
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

docs: update validator docs
  docs/VALIDATOR.md
Due: none

added token-balances api and cli query
  app/app.go
  proto/umee/ugov/v1/query.proto
  x/ugov/client/cli/query.go
  x/ugov/keeper/keeper.go
  x/ugov/keeper/query_server.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
Due: app, modules

renamed DenomOwner to TokenBalance
  proto/umee/ugov/v1/query.proto
  x/ugov/keeper/query_server.go
  x/ugov/query.pb.go
Due: modules

fix: fix the tests
  x/ugov/keeper/intest/keeper.go
  x/ugov/keeper/keeper.go
Due: modules

renamed token-balances to denom-owners
  proto/umee/ugov/v1/query.proto
  x/ugov/client/cli/query.go
  x/ugov/keeper/query_server.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
Due: modules

added -l flags to enable denom-owners query
  app/app.go
  x/ugov/keeper/keeper.go
  x/ugov/keeper/query_server.go
Due: app, modules

fix: fix the tests
  x/ugov/keeper/intest/keeper.go
Due: modules

docs: update validator docs (#2507)
  docs/VALIDATOR.md
Due: none

move the DenomOwners to uibc module
  app/app.go
  proto/umee/ugov/v1/query.proto
  proto/umee/uibc/v1/query.proto
  x/ugov/client/cli/query.go
  x/ugov/keeper/intest/keeper.go
  x/ugov/keeper/keeper.go
  x/ugov/keeper/query_server.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/uibc/client/cli/query.go
  x/uibc/expected_keepers.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/intest/suite_test.go
  x/uibc/quota/keeper.go
  x/uibc/quota/unit_test.go
  x/uibc/uics20/ibc_module_test.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

added height to DenomOwners req
  proto/umee/uibc/v1/query.proto
  x/uibc/query.pb.go
Due: none

feat: added denom-owners grpc_web api and cli query (#2508)
  app/app.go
  proto/umee/uibc/v1/query.proto
  x/ugov/keeper/keeper.go
  x/ugov/keeper/query_server.go
  x/uibc/client/cli/query.go
  x/uibc/expected_keepers.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/intest/suite_test.go
  x/uibc/quota/keeper.go
  x/uibc/quota/unit_test.go
  x/uibc/uics20/ibc_module_test.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

adding denomOwners to v6.4.0
  app/app.go
  proto/umee/uibc/v1/query.proto
  x/uibc/client/cli/query.go
  x/uibc/expected_keepers.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/intest/suite_test.go
  x/uibc/quota/keeper.go
  x/uibc/quota/unit_test.go
  x/uibc/uics20/ibc_module_test.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

fix: fix the lint
  x/oracle/keeper/historic_price.go
Due: modules

Revert "feat: added denom-owners grpc_web api and cli query (#2508)"
  app/app.go
  proto/umee/uibc/v1/query.proto
  x/ugov/keeper/keeper.go
  x/ugov/keeper/query_server.go
  x/uibc/client/cli/query.go
  x/uibc/expected_keepers.go
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota/grpc_query.go
  x/uibc/quota/intest/suite_test.go
  x/uibc/quota/keeper.go
  x/uibc/quota/unit_test.go
  x/uibc/uics20/ibc_module_test.go
  x/uibc/uics20/ics4_wrapper_test.go
Due: app, modules

chore: update deps
  go.mod
  go.sum
  tools/tools.go
Due: none

v6.4.1 release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

feat(x/auction): metoken fees
  proto/umee/metoken/v1/metoken.proto
  x/metoken/metoken.pb.go
Due: none

feat: bp math Equal method
  util/bpmath/bp.go
  util/bpmath/bp_test.go
  util/bpmath/fixed_bp.go
  util/bpmath/fixed_bp_test.go
Due: none

metoken: swapCarry helper struct
  x/metoken/keeper/swap.go
Due: modules

metoken(proto): update docs
  proto/umee/metoken/v1/metoken.proto
  swagger/swagger.yaml
  x/metoken/metoken.pb.go
Due: none

metoken fee transfer to auction
  x/metoken/expected_keepers.go
  x/metoken/genesis.go
  x/metoken/keeper/fee.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/swap.go
Due: modules

rework events
  proto/umee/auction/v1/events.proto
  proto/umee/leverage/v1/events.proto
  x/auction/events.pb.go
  x/leverage/keeper/oracle.go
  x/leverage/types/events.pb.go
  x/metoken/keeper/swap.go
Due: modules

unit tests
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/redeem.go
  x/metoken/keeper/redeem_test.go
  x/metoken/keeper/swap.go
  x/metoken/keeper/swap_test.go
  x/metoken/keeper/unit_test.go
  x/metoken/params.go
Due: modules

add events
  x/auction/events.go
Due: modules

fix intest swap
  x/metoken/keeper/intest/msg_server_test.go
  x/metoken/keeper/swap.go
Due: modules

fix intest redeem
  x/metoken/keeper/intest/msg_server_test.go
Due: modules
