Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

gramma
  RELEASE_NOTES.md
Due: none

v6.4.0-beta1 release notes (#2455)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  docs/VALIDATOR.md
  x/uibc/uics20/memo_handler.go
Due: modules

added e2e tests for ibc memo tests
  tests/e2e/e2e_ibc_memo_test.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/utils.go
Due: none

feat(uibc): ICS20 hooks gov switch
  proto/umee/uibc/v1/tx.proto
  x/uibc/quota/msg_server.go
  x/uibc/tx.pb.go
Due: modules

MsgGovToggleICS20Hooks sdk.Msg implementation
  x/uibc/msg.go
Due: modules

tests
  x/uibc/msg_test.go
Due: modules

fix: downgrade golang.org/x/exp
  go.mod
  go.sum
Due: none

add tcheckers
  tests/tcheckers/error.go
Due: none

add Params.Ics20Hooks
  proto/umee/uibc/v1/events.proto
  proto/umee/uibc/v1/quota.proto
  proto/umee/uibc/v1/tx.proto
  x/uibc/events.pb.go
  x/uibc/msg_test.go
  x/uibc/quota.pb.go
  x/uibc/quota/msg_server.go
  x/uibc/quota/params.go
  x/uibc/tx.pb.go
Due: modules

emit event
  x/uibc/quota/msg_server.go
Due: modules

lint
  proto/umee/uibc/v1/tx.proto
  swagger/swagger.yaml
  x/uibc/tx.pb.go
Due: none

feat: v6.5 upgrade handler with uibc params migration
  app/upgrades.go
Due: app

feat(uibc): handle params.ics20_hooks switch
  x/uibc/gmp/gmp_middleware.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

Revert "feat: v6.5 upgrade handler with uibc params migration"
  app/upgrades.go
Due: app

changelog
  CHANGELOG.md
Due: none

feat(uibc): ICS20 hooks gov switch (#2459)
  proto/umee/uibc/v1/events.proto
  proto/umee/uibc/v1/quota.proto
  proto/umee/uibc/v1/tx.proto
  swagger/swagger.yaml
  tests/tcheckers/error.go
  x/uibc/events.pb.go
  x/uibc/msg.go
  x/uibc/msg_test.go
  x/uibc/quota.pb.go
  x/uibc/quota/msg_server.go
  x/uibc/quota/params.go
  x/uibc/tx.pb.go
Due: modules

Update x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler.go
Due: modules

test
  x/uibc/uics20/memo_handler_test.go
Due: modules

feat(uibc): handle params.ics20_hooks switch (#2461)
  CHANGELOG.md
  x/uibc/gmp/gmp_middleware.go
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
  x/uibc/uics20/memo_handler_test.go
Due: modules

Consider module max withdraw in max_withdraw query
  x/leverage/keeper/grpc_query.go
Due: modules

Restructure code, previously sdk.MinInt might have been called with nil int
  x/leverage/keeper/grpc_query.go
Due: modules

fix the memo tests
  tests/e2e/setup/setup.go
Due: none

fix lint issues
  x/leverage/keeper/grpc_query.go
Due: modules

Consider module max withdraw in max_withdraw query (#2462)
  x/leverage/keeper/grpc_query.go
Due: modules

address the review comments
  tests/e2e/e2e_ibc_memo_test.go
  x/uibc/uics20/ibc_module_test.go
Due: modules

address the review comments++
  x/uibc/uics20/ibc_module_test.go
Due: modules

Update x/uibc/gmp/gmp_middleware_test.go
  x/uibc/gmp/gmp_middleware_test.go
Due: modules

tests: add E2E tests for IBC-OnRecvPacket Memo Handler (#2446)
  tests/e2e/e2e_ibc_memo_test.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  x/uibc/gmp/gmp_middleware_test.go
  x/uibc/uics20/ibc_module_mocks_test.go
  x/uibc/uics20/ibc_module_test.go
Due: modules

docs: IBC hooks
  x/uibc/README.md
  x/uibc/uics20/ibc_module.go
  x/uibc/uics20/memo_handler.go
Due: modules

update
  x/uibc/README.md
Due: none

Apply suggestions from code review
  x/uibc/README.md
Due: none

fix
  x/uibc/README.md
Due: none

lint
  x/uibc/README.md
Due: none

fix: revert golang.org/x/exp
  go.mod
  go.sum
Due: none

Update x/uibc/README.md
  x/uibc/README.md
Due: none
