Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

adding last changes
  x/metoken/README.md
Due: none

lint
  x/metoken/README.md
Due: none

change maxWithdraw
  x/metoken/README.md
Due: none

claiming interest change
  x/metoken/README.md
Due: none

tests: add umee cosmwasm
  app/experimental_appconfig.go
  app/wasm/cw20_base_test.go
  tests/artifacts/umee_cosmwasm.wasm
Due: app

tests: add more custom tests for cosmwasm
  app/wasm/custom_plugins.go
  app/wasm/msg/plugin.go
  app/wasm/msg/types.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
Due: app

typo
  x/metoken/README.md
Due: none

feat: metoken proto and generated files (#3)
  proto/umee/metoken/v1/events.proto
  proto/umee/metoken/v1/genesis.proto
  proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/query.proto
  proto/umee/metoken/v1/tx.proto
  x/metoken/events.pb.go
  x/metoken/genesis.pb.go
  x/metoken/metoken.pb.go
  x/metoken/query.pb.go
  x/metoken/query.pb.gw.go
  x/metoken/tx.pb.go
Due: none

tests: add more tx tests of leverage to cosmwasm
  .vscode/launch.json
  app/wasm/msg/handler_leverage.go
  app/wasm/msg/plugin.go
  app/wasm/msg/types.go
  app/wasm/query/handle_leverage.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
  tests/artifacts/umee_cosmwasm-aarch64.wasm
Due: app

fix: incentive program rewards when zero bonded
  CHANGELOG.md
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/update.go
Due: modules

changelog
  CHANGELOG.md
Due: none

fix: fix the lint
  app/wasm/msg/plugin.go
Due: app

suggestion++
  x/incentive/keeper/scenario_test.go
Due: modules

changelog--
  CHANGELOG.md
Due: none

suggestion++ but check lint afeter
  x/incentive/keeper/scenario_test.go
Due: modules

rename uToken umee denom var to u_umee
  x/incentive/keeper/scenario_test.go
Due: modules

programStart var
  x/incentive/keeper/scenario_test.go
Due: modules

simplify comments, spacing
  x/incentive/keeper/scenario_test.go
Due: modules

fix: incentive program rewards when zero bonded (#2014)
  CHANGELOG.md
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/update.go
Due: modules

feat: ugov module proto
  ante/fee.go
  proto/umee/ugov/v1/events.proto
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
Due: none

feat: remove not used title & description fields from gov messages
  proto/umee/incentive/v1/tx.proto
  x/incentive/tx.pb.go
Due: none

proto update part2
  proto/umee/incentive/v1/tx.proto
  x/incentive/tx.pb.go
Due: none

chore: remove .vscode
  .gitignore
  .vscode/launch.json
Due: none

tests: cw20 integration test (#2007)
  .gitignore
  app/experimental_appconfig.go
  app/wasm/custom_plugins.go
  app/wasm/msg/handler_leverage.go
  app/wasm/msg/plugin.go
  app/wasm/msg/types.go
  app/wasm/query/handle_leverage.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
  tests/artifacts/cw20_base.wasm
  tests/artifacts/umee_cosmwasm-aarch64.wasm
  tests/artifacts/umee_cosmwasm.wasm
Due: app

Apply suggestions from code review
  proto/umee/ugov/v1/tx.proto
Due: none

update implementation
  util/checkers/proposal.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/msgs.go
  x/incentive/msgs_test.go
Due: modules

fix the link for the query
  proto/umee/ugov/v1/query.proto
Due: none

fix proto options and lint
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
Due: none

tests
  util/checkers/proposal_test.go
  x/incentive/keeper/unit_test.go
  x/incentive/msgs.go
  x/incentive/msgs_test.go
Due: modules

feat: remove not necessary gov messages (#2016)
  proto/umee/incentive/v1/tx.proto
  util/checkers/proposal.go
  util/checkers/proposal_test.go
  x/incentive/keeper/msg_server_test.go
  x/incentive/keeper/unit_test.go
  x/incentive/msgs.go
  x/incentive/msgs_test.go
  x/incentive/tx.pb.go
Due: modules

feat: ugov module proto (#2015)
  ante/fee.go
  proto/umee/ugov/v1/events.proto
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  x/ugov/events.pb.go
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
Due: none

fix: store helpers
  util/store/iter.go
  util/store/store.go
Due: none

use proper generics code
  util/store/iter.go
  util/store/store.go
  util/store/types.go
Due: none

remove useless comments
  util/store/store_test.go
Due: none

fix linter issues
  util/store/store.go
Due: none

fix: store generics (#2017)
  util/store/iter.go
  util/store/store.go
  util/store/store_test.go
  util/store/types.go
Due: none

fix: gov remove title from messages
  proto/umee/metoken/v1/events.proto
  proto/umee/metoken/v1/genesis.proto
  proto/umee/metoken/v1/metoken.proto
  proto/umee/metoken/v1/query.proto
  proto/umee/metoken/v1/tx.proto
  x/metoken/tx.pb.go
Due: none

chore: comment out dependabot
  .github/dependabot.yml
Due: none
