Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

test++
  x/incentive/keeper/bond_test.go
  x/incentive/keeper/grpc_query_test.go
  x/incentive/keeper/scenario_test.go
  x/incentive/keeper/unit_test.go
Due: modules

validate genesis on init
  x/incentive/keeper/genesis.go
Due: modules

comment out test due to experimental
  x/incentive/client/tests/cli_test.go
Due: modules

genesis test
  x/incentive/keeper/genesis_test.go
  x/incentive/keeper/unit_test.go
Due: modules

grpc query tests
  x/incentive/keeper/genesis_test.go
  x/incentive/keeper/grpc_query_test.go
  x/incentive/keeper/unit_test.go
Due: modules

hooks test and fix
  x/incentive/keeper/hooks_test.go
  x/incentive/keeper/unbonding.go
Due: modules

verify donate collateral in MsgEmergencyUnbond
  x/incentive/keeper/mock_test.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/msg_server_test.go
Due: modules

todo--
  x/incentive/client/tests/cli_test.go
  x/incentive/keeper/msg_server_test.go
Due: modules

fix merge
  app/app.go
Due: app

register upgrade
  app/upgrades.go
Due: app

chore: add the flood txs to cosmwasm
  Makefile
  client/auth.go
  client/client.go
  sdkclient/tx/client.go
  sdkclient/tx/wasm.go
  tests/e2e/cw_test.go
  tests/qa/cw/cw_group_types.go
  tests/qa/cw/cw_group_types_test.go
  tests/qa/cw/cw_test.go
  tests/util/cw_util.go
Due: client

fix: fix the lint
  sdkclient/tx/wasm.go
  tests/qa/cw/cw_group_types.go
  tests/util/cw_util.go
Due: none

fix: fix the e2e tests
  tests/e2e/e2e_setup_test.go
Due: none

fix: fix the cli query of ugov
  app/app.go
  x/ugov/client/cli/query.go
  x/ugov/module/module.go
Due: app, modules

upgrade handler
  app/upgrades.go
  x/ugov/client/cli/query.go
  x/ugov/module/module.go
Due: app, modules

feat: ugov wiring & cli (#2062)
  app/app.go
  app/upgrades.go
  x/ugov/client/cli/query.go
  x/ugov/module/module.go
Due: app, modules

move statik import to tools
  .gitignore
  app/app.go
  tools/tools.go
Due: app

address the intitla review comments
  Makefile
  client/auth.go
  contrib/images/umee.e2e.dockerfile
  sdkclient/tx/client.go
  sdkclient/tx/gov.go
  sdkclient/tx/wasm.go
  tests/e2e/cw_test.go
  tests/qa/cw/cw_test.go
  tests/util/cw_util.go
Due: client

chore: updating release workflow and swagger docs section in readme
  .github/workflows/release-umee.yml
  README.md
Due: none

chore: add wasm upgrade handler
  app/app.go
  app/upgrades.go
Due: app

chore: add wasm upgrade handler (#2063)
  app/app.go
  app/upgrades.go
Due: app

chore: remove types using from umee wasm queries
  app/app.go
  app/wasm/query/handle_leverage.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
  tests/artifacts/umee_cosmwasm-aarch64.wasm
  tests/artifacts/umee_cosmwasm.wasm
Due: app

use the upstream update of the exact version of wasmd that umee was using, with the patch applied (#2056)
  go.mod
  go.sum
Due: none

feat: add the custom handlers for cosmwasm (#1997)
  .gitignore
  app/app.go
  app/wasm/custom_plugins.go
  app/wasm/msg/handler_leverage.go
  app/wasm/msg/plugin.go
  app/wasm/msg/types.go
  app/wasm/query/handle_leverage.go
  app/wasm/query/handle_oracle.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/cw20_base_test.go
  app/wasm/test/umee_cw_test.go
  tests/artifacts/cw20_base.wasm
  tests/artifacts/umee_cosmwasm-aarch64.wasm
Due: app

downgrade tendermint
  go.mod
  go.sum
Due: none

chore: add update swagger docs to docker build action
  .github/workflows/release-umee-docker.yml
Due: none

chore: bump ibc-go
  go.mod
  go.sum
Due: none

chore: bump ibc-go (#2064)
  go.mod
  go.sum
Due: none

update go.mod replace cometbft
  go.mod
  go.sum
Due: none

v4.1.1 release notes
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

v4.1.1 release notes (#2065)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

chore: bump cosmwasm (#2011)
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

add test flags to cw_test file
  tests/qa/cw/cw_test.go
Due: none

WIP: add stargate queries to cosmwasm
  app/app.go
  app/wasm/custom_plugins.go
  app/wasm/stargate/stargaze_querier.go
  app/wasm/stargate/whitelist.go
Due: app

fix: fix the lint
  app/wasm/custom_plugins.go
  app/wasm/stargate/stargaze_querier.go
  app/wasm/stargate/whitelist.go
Due: app

update README
  README.md
Due: none
