Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

refactor reducing duplicated code
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/limits.go
Due: modules

fix bug in limits
  x/leverage/keeper/limits.go
Due: modules

umee docker container
  tests/e2e/e2e_setup_test.go
Due: none

suggestion++
  x/incentive/README.md
Due: none

su
  x/incentive/README.md
Due: none

adding unit tests and minor tweaks
  x/leverage/keeper/borrows.go
  x/leverage/keeper/msg_server_test.go
Due: modules

changelog and readme
  CHANGELOG.md
  x/leverage/README.md
Due: none

lint fixes
  x/leverage/README.md
  x/leverage/keeper/borrows.go
Due: modules

markdown lint fix
  CHANGELOG.md
Due: none

bring back checkCollateralLiquidity
  x/leverage/keeper/msg_server.go
Due: modules

proto comment update
  proto/umee/leverage/v1/leverage.proto
  swagger/swagger.yaml
  x/leverage/types/leverage.pb.go
Due: none

implement govtypes.Content
  x/incentive/proposal.go
Due: modules

bug todo
  x/incentive/proposal.go
Due: modules

package umee.incentive.v1
  proto/umee/incentive/v1/genesis.proto
  proto/umee/incentive/v1/incentive.proto
  proto/umee/incentive/v1/query.proto
  proto/umee/incentive/v1/tx.proto
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/proposal.go
  x/incentive/query.pb.go
  x/incentive/tx.pb.go
Due: modules

add message name option to tx.proto
  proto/umee/incentive/v1/tx.proto
  x/incentive/tx.pb.go
Due: none

fix bug
  x/incentive/keeper/store.go
  x/incentive/msgs_test.go
  x/incentive/proposal.go
Due: modules

tests: add tests for checkibcinflow
  contrib/scripts/mockgen.sh
  util/ibc/ibc_test.go
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/ibc_module_test.go
Due: modules

fix tests
  x/leverage/fixtures/token.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/iter_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/keeper/token_test.go
Due: modules

++
  x/incentive/keeper/suite_test.go
Due: modules

chore: remove status check on timeout
  x/uibc/quota/ibc_module.go
Due: modules

fix: amount reserved per block rounds up
  CHANGELOG.md
  x/leverage/keeper/interest.go
Due: modules

fix clienet tests
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
Due: modules

#1957
  CHANGELOG.md
Due: none

alter client test due to liquidation ineligibility
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
Due: modules

Update x/leverage/README.md
  x/leverage/README.md
Due: none

Update x/leverage/keeper/limits.go
  x/leverage/keeper/limits.go
Due: modules

Update x/leverage/keeper/borrows.go
  x/leverage/keeper/borrows.go
Due: modules

ciel().round()
  x/leverage/keeper/interest.go
Due: modules

pr comments
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
Due: modules

feat(leverage): liquidation threshold must be bigger than collateral_weight (#1956)
  CHANGELOG.md
  proto/umee/leverage/v1/leverage.proto
  swagger/swagger.yaml
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
  x/leverage/client/tests/suite.go
  x/leverage/client/tests/tests.go
  x/leverage/fixtures/token.go
  x/leverage/keeper/grpc_query_test.go
  x/leverage/keeper/iter_test.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/suite_test.go
  x/leverage/keeper/token_test.go
  x/leverage/types/leverage.pb.go
  x/leverage/types/token.go
  x/leverage/types/token_test.go
Due: modules

chore: fix the ibc hash generator to check reg tokens
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/ibc_module_test.go
Due: modules

fix: fix the tests
  tests/e2e/e2e_ibc_test.go
  x/uibc/ics20/ibc_module.go
Due: modules

feat: bump ibc-go to v6
  ante/ante.go
  app/app.go
  go.mod
  go.sum
  tests/simulation/sim_test.go
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/keeper/keeper.go
  x/uibc/ics20/keeper/keeper_test.go
  x/uibc/ics20/keeper/util_test.go
  x/uibc/quota/ibc_module.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/relay.go
Due: app, modules

update methods
  app/upgrades.go
  x/uibc/quota/ics4_wrapper.go
  x/uibc/quota/keeper/keeper.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/relay.go
Due: app, modules
