Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

~5800 arbitrary simulations - AND A SNEAKY BUGFIX!
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

TODOs completed
  x/leverage/types/position_test.go
Due: modules

e2e test added
  tests/e2e/e2e_metoken_test.go
Due: none

rollback mock script
  contrib/scripts/mockgen.sh
Due: none

zero cases and caught bug
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

chore: cleanup old upgrades
  app/upgrades.go
Due: app

zero weight case
  x/leverage/types/position.go
  x/leverage/types/position_test.go
Due: modules

fix e2e test
  tests/e2e/e2e_metoken_test.go
Due: none

lint
  x/metoken/keeper/mocks_test.go
Due: modules

downgrade
  Makefile
  go.mod
  go.sum
Due: none

add info comments
  go.mod
  go.sum
Due: none

comments
  go.mod
  go.sum
Due: none

chore(oracle)!: SetExchangeRateWithEvent
  x/oracle/abci.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
Due: modules

chore: fix dependencies (#2319)
  Makefile
  go.mod
  go.sum
Due: none

pr comments
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/price.go
Due: modules

chore(oracle)!: SetExchangeRateWithEvent (#2320)
  x/oracle/abci.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
Due: modules

fix unit test
  x/oracle/types/ballot_test.go
Due: modules

chore: upgrade proto compiler
  Makefile
Due: none

intest
  tests/e2e/e2e_metoken_test.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/price_test.go
Due: modules

chore: upgrade proto compiler (#2321)
  Makefile
Due: none

move the new migration of uibc params to keeper
  app/upgrades.go
  proto/umee/uibc/v1/genesis.proto
  util/store/store.go
  x/uibc/genesis.pb.go
  x/uibc/params.go
  x/uibc/quota/keeper/migrations.go
  x/uibc/quota/keeper/quota.go
Due: app, modules

fix test
  x/metoken/keeper/mocks_test.go
Due: modules

fix
  x/metoken/expected_keepers.go
  x/metoken/keeper/price.go
Due: modules

Suggestion
  x/leverage/EXAMPLES.md
Due: none

Update x/leverage/keeper/limits.go
  x/leverage/keeper/limits.go
Due: modules

Suggestion
  x/leverage/keeper/limits.go
Due: modules

Suggestion (edited)
  x/leverage/EXAMPLES.md
Due: none

make keys functions to private
  app/upgrades.go
  util/store/store.go
  x/uibc/README.md
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/quota.go
Due: app, modules

fix test2
  x/metoken/mocks/keepers.go
Due: modules

fix test3
  x/metoken/keeper/intest/keeper_test.go
Due: modules

feat: feed oracle with meTokens price every endBlock (#2316)
  tests/e2e/e2e_metoken_test.go
  x/metoken/expected_keepers.go
  x/metoken/keeper/intest/keeper_test.go
  x/metoken/keeper/intest/price_test.go
  x/metoken/keeper/mocks_test.go
  x/metoken/keeper/price.go
  x/metoken/keeper/price_test.go
  x/metoken/mocks/keepers.go
  x/metoken/module/abci.go
  x/oracle/keeper/hooks.go
Due: modules

remove unused code
  app/upgrades.go
  app/upgradev3/migrations.go
  app/upgradev3x3/gov_legacy.pb.go
  app/upgradev3x3/migrate.go
  app/upgradev3x3/proposal_legacy.go
  x/leverage/keeper/migrations.go
  x/oracle/migrations/exg_rates_migrations.go
  x/oracle/migrations/migrations.go
Due: app, modules

add tests for uibc quota inflows
  x/uibc/README.md
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/quota_test.go
  x/uibc/quota/keeper/unit_test.go
Due: modules

lint
  app/wasm.go
  x/oracle/keeper/keeper.go
Due: app, modules

lint
  app/upgrades.go
Due: app

refactored GetAllInflows and GetAllOutflows funs
  util/store/iter.go
  util/store/store.go
  x/uibc/genesis.pb.go
  x/uibc/quota/keeper/keys.go
  x/uibc/quota/keeper/migrations.go
  x/uibc/quota/keeper/mocks_test.go
  x/uibc/quota/keeper/quota.go
Due: modules
