Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
# ignore all files of these types
  - "**/*.proto"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.toml"
  - "**/*.rst"
  - "**/*.md"
# auto-generated files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
# ignore these folders and all their contents
  - "docs"
  - "tests"
  - "scripts"
  - "contrib"
  - "swagger"

feat: autofill empty denoms in MsgLeveragedLiquidate
  CHANGELOG.md
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server_test.go
Due: modules

cl++
  CHANGELOG.md
Due: none

v5.1-beta docs
  README.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

update proto comments
  proto/umee/leverage/v1/tx.proto
  x/leverage/types/tx.pb.go
Due: none

update CLI
  x/leverage/client/cli/tx.go
Due: modules

Update x/leverage/client/cli/tx.go
  x/leverage/client/cli/tx.go
Due: modules

feat: autofill empty denoms in MsgLeveragedLiquidate (#2121)
  CHANGELOG.md
  proto/umee/leverage/v1/tx.proto
  x/leverage/client/cli/tx.go
  x/leverage/keeper/keeper.go
  x/leverage/keeper/msg_server_test.go
  x/leverage/types/tx.pb.go
Due: modules

scenario test: no bonded users at program end
  x/incentive/keeper/scenario_test.go
Due: modules

additional scenario tests
  x/incentive/keeper/scenario_test.go
Due: modules

move historic avg counter params into oracle genesis
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  x/oracle/genesis.go
  x/oracle/genesis_test.go
  x/oracle/keeper/genesis.go
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/migrations.go
  x/oracle/keeper/params.go
  x/oracle/simulations/genesis.go
  x/oracle/types/genesis.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/genesis_test.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/params.go
  x/oracle/types/params_test.go
Due: modules

update planName
  app/upgrades.go
Due: app

update release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

v5.1-beta docs (#2122)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  app/upgrades.go
Due: app

fix the upgrade issue of v5.1.0-rc1
  app/upgrades.go
Due: app

fix the upgrade issue of v5.1.0-rc1 (#2125)
  app/upgrades.go
Due: app

test: improve times
  Makefile
  sdkclient/tx/gov.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
  tests/grpc/historical.go
Due: none

undo test
  Makefile
Due: none

increase time for ibc transfers
  tests/e2e/setup/utils.go
Due: none

Xds testnet
  xds testnet json
Due: none

WIP: adding incentive cw handlers
  app/app.go
  app/wasm/custom_plugins.go
  app/wasm/query/handle_incentive.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/query/whitelist.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/umee_cw_test.go
Due: app

increase ibc delay even more
  tests/e2e/setup/utils.go
Due: none

another test
  Makefile
  sdkclient/tx/gov.go
  tests/e2e/e2e_ibc_test.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/e2e/setup/setup.go
  tests/e2e/setup/utils.go
Due: none

fix
  Makefile
Due: none

test the incentive cw handlers with umee contract
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/test/umee_cw_test.go
  tests/artifacts/umee_cosmwasm-aarch64.wasm
Due: app

chore: set and get the avg counter params by store util
  x/oracle/genesis.go
  x/oracle/keeper/genesis.go
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/keeper.go
Due: modules

refactor: moving avg period and shift to oracle genesis (#2117)
  proto/umee/oracle/v1/genesis.proto
  proto/umee/oracle/v1/oracle.proto
  x/oracle/genesis.go
  x/oracle/genesis_test.go
  x/oracle/keeper/genesis.go
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/migrations.go
  x/oracle/simulations/genesis.go
  x/oracle/types/genesis.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/genesis_test.go
  x/oracle/types/oracle.pb.go
  x/oracle/types/params.go
Due: modules

add test flow 3
  x/incentive/keeper/scenario_test.go
Due: modules

remove inctypes from imports
  app/wasm/query/handle_incentive.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/query/whitelist.go
  app/wasm/test/umee_cw_test.go
Due: app

feat: incentive cw query handlers (#2128)
  app/app.go
  app/wasm/custom_plugins.go
  app/wasm/query/handle_incentive.go
  app/wasm/query/plugin.go
  app/wasm/query/types.go
  app/wasm/query/whitelist.go
  app/wasm/test/cosmwasm_test.go
  app/wasm/test/umee_cw_test.go
  tests/artifacts/umee_cosmwasm-aarch64.wasm
Due: app

feat: emergency group ugov proto
  proto/umee/ugov/v1/genesis.proto
  proto/umee/ugov/v1/query.proto
  proto/umee/ugov/v1/tx.proto
  x/ugov/genesis.pb.go
  x/ugov/query.pb.go
  x/ugov/query.pb.gw.go
  x/ugov/tx.pb.go
Due: none

proto: add stringer
  proto/umee/ugov/v1/tx.proto
Due: none

tests: add MkAccount helper method
  tests/accs/accounts.go
Due: none

implement Msg interface
  x/ugov/codec.go
  x/ugov/msg.go
  x/ugov/msg_test.go
  x/ugov/tx.pb.go
Due: modules

dummy rpc implementation
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
Due: modules

lint
  x/ugov/keeper/msg_server.go
  x/ugov/keeper/query_server.go
Due: modules

add TestPartialWithdraw and TestUserSupplyBeforeAndDuring test scenarios
  x/incentive/keeper/scenario_test.go
Due: modules

lint
  x/ugov/keeper/query_server.go
Due: modules

suggestion for TestZeroBondedAtProgramEnd
  x/incentive/keeper/scenario_test.go
Due: modules

Update x/incentive/keeper/scenario_test.go
  x/incentive/keeper/scenario_test.go
Due: modules
