Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

refactore(ugov): don't expose store internals
  x/ugov/keeper/intest/keeper.go
  x/ugov/keeper/keys.go
  x/ugov/keeper/migrations.go
  x/ugov/keeper/params.go
  x/ugov/keeper/unit_test.go
  x/ugov/keys.go
  x/ugov/migrations/v2/store.go
  x/ugov/migrations/v2/store_test.go
Due: modules

fix: v6.0 migration
  app/upgrades.go
  app/upgradev6x0/migrate_proposals.go
Due: app

CI: build umee-network/umeed-e2e in test-unit-cover GH Action
  .github/workflows/tests.yml
Due: none

CI: run e2e after test-unit-cover
  .github/workflows/tests.yml
Due: none

set correct cycle end date
  x/ugov/migrations/v2/store.go
  x/ugov/migrations/v2/store_test.go
Due: modules

cli test cases
  app/test_helpers.go
  x/metoken/client/tests/cli_test.go
  x/metoken/client/tests/suite.go
  x/metoken/client/tests/tests.go
Due: app, modules

lint
  x/ugov/keeper/migrations.go
  x/ugov/migrations/v2/store.go
  x/ugov/migrations/v2/store_test.go
Due: modules

lint
  x/ugov/keeper/migrations.go
Due: modules

added todos
  app/test_helpers.go
Due: app

proto query fixed
  proto/umee/metoken/v1/query.proto
  x/metoken/client/cli/query.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/query.pb.go
Due: modules

make proto-all
  swagger/swagger.yaml
Due: none

fix: proto query fixed (#2215)
  proto/umee/metoken/v1/query.proto
  swagger/swagger.yaml
  x/metoken/client/cli/query.go
  x/metoken/keeper/grpc_query.go
  x/metoken/keeper/intest/grpc_query_test.go
  x/metoken/query.pb.go
Due: modules

remove todo: set inflation params
  app/upgrades.go
Due: app

query cli tests fixed
  app/stable_appconfig.go
  app/test_helpers.go
  x/metoken/client/tests/tests.go
  x/metoken/mocks/metoken.go
Due: app, modules

fix: minor 5.2 message fixes (#2148)
  CHANGELOG.md
  x/incentive/keeper/msg_server.go
  x/leverage/types/tx.go
  x/leverage/types/tx_test.go
Due: modules

fix the amino-json sign on MsgLeveragedLiquidate (#2196)
  x/leverage/types/codec.go
Due: modules

fix: allow the duplicate symbols on leverage token registry (#2197)
  CHANGELOG.md
  x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/token.go
  x/oracle/abci.go
Due: modules

fix!: rpc endpoint spelling (#2212)
  CHANGELOG.md
  proto/umee/oracle/v1/query.proto
  swagger/swagger.yaml
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: none

feat: v5.2 gov proposals migration
  app/upgrades.go
  app/upgradev5x2/migrate_proposals.go
Due: app

docs: v5.2 release notes
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

remove proposal migration
  README.md
  app/upgrades.go
  app/upgradev6x0/leverage-msgs-v5.1.pb.go
  app/upgradev6x0/migrate_proposals.go
  app/upgradev6x0/uibc-msgs-v5.1.pb.go
Due: app

docs: remove canon-2
  networks/canon-2/README.md
  networks/canon-2/genesis.json
  networks/canon-2/peers/node101.txt
  networks/umee-1/README.md
Due: none

docs: remove canon-2 (#2219)
  networks/canon-2/README.md
  networks/canon-2/genesis.json
  networks/canon-2/peers/node101.txt
  networks/umee-1/README.md
Due: none

fix: v6.0 migration (#2218)
  README.md
  app/upgrades.go
  app/upgradev6x0/leverage-msgs-v5.1.pb.go
  app/upgradev6x0/migrate_proposals.go
  app/upgradev6x0/uibc-msgs-v5.1.pb.go
Due: app

fix: migrate Gravity proposals to TextProposal
  app/upgrades.go
  app/upgradev5x2/migrate_proposals.go
Due: app

lint
  app/upgradev5x2/migrate_proposals.go
Due: app

lint
  app/upgrades.go
  app/upgradev5x2/migrate_proposals.go
Due: app

lint
  x/leverage/keeper/token.go
  x/oracle/simulations/operations.go
Due: modules

lint
  x/leverage/keeper/msg_server.go
Due: modules

fix: migrate Gravity proposals to TextProposal (#2220)
  app/upgrades.go
  app/upgradev5x2/migrate_proposals.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/token.go
  x/oracle/simulations/operations.go
Due: app, modules

comment
  x/ugov/keeper/intest/keeper.go
Due: modules

changelog update
  CHANGELOG.md
Due: none

docs: v5.2 release notes (#2216)
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Due: none

cli tests added
  app/stable_appconfig.go
  x/metoken/client/tests/cli_test.go
  x/metoken/client/tests/tests.go
Due: app, modules

added util func for meToken rest
  tests/e2e/e2e_metoken_test.go
  tests/e2e/setup/utils.go
Due: none

test: adding meToken cli tests (#2221)
  app/test_helpers.go
  x/metoken/client/tests/cli_test.go
  x/metoken/client/tests/suite.go
  x/metoken/client/tests/tests.go
  x/metoken/mocks/metoken.go
Due: app, modules

metoken and leverage setup with initial tests
  app/stable_appconfig.go
  tests/e2e/e2e_metoken_test.go
  tests/grpc/gov.go
Due: app

Update x/leverage/types/string.go
  x/leverage/types/string.go
Due: modules

fix suggestion
  x/leverage/types/string.go
Due: modules

improve wdc Sub per suggestion
  x/leverage/types/weighted_coin.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
