Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

lint: fix and improve lint setup (#1923)
  Makefile
  price-feeder/go.mod
  price-feeder/go.sum
  price-feeder/tools/tools.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/keys.go
Due: none

tests: improve make test-e2e (#1936)
  .github/workflows/tests.yml
  Makefile
  contrib/images/umee.e2e.dockerfile
  x/oracle/abci.go
Due: modules

feat: incentive module non-gov messages (#1894)
  proto/umee/incentive/v1/genesis.proto
  proto/umee/incentive/v1/incentive.proto
  proto/umee/incentive/v1/query.proto
  x/incentive/errors.go
  x/incentive/expected_keepers.go
  x/incentive/genesis.go
  x/incentive/genesis.pb.go
  x/incentive/incentive.pb.go
  x/incentive/keeper/bond.go
  x/incentive/keeper/grpc_query.go
  x/incentive/keeper/iter.go
  x/incentive/keeper/keys.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/params.go
  x/incentive/keeper/program.go
  x/incentive/keeper/reward.go
  x/incentive/keeper/store.go
  x/incentive/keeper/unbonding.go
  x/incentive/keeper/update.go
  x/incentive/module/abci.go
  x/incentive/msgs.go
  x/incentive/msgs_test.go
  x/incentive/params.go
  x/incentive/params_test.go
  x/incentive/program.go
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
Due: modules

typo
  x/leverage/keeper/msg_server.go
Due: modules

lint fixes, changelog and readme additions
  CHANGELOG.md
  x/leverage/README.md
  x/leverage/keeper/collateral.go
  x/leverage/keeper/msg_server.go
Due: modules

docs line breaks fix
  CHANGELOG.md
  x/leverage/README.md
Due: none

fix readme line break
  x/leverage/README.md
Due: none

markdown lint fixes
  x/leverage/README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update x/leverage/README.md
  x/leverage/README.md
Due: none

Update x/leverage/keeper/collateral.go
  x/leverage/keeper/collateral.go
Due: modules

Update x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server.go
Due: modules

Update x/leverage/keeper/msg_server_test.go
  x/leverage/keeper/msg_server_test.go
Due: modules

remove print
  x/leverage/keeper/msg_server.go
Due: modules

addressing pr comments and adding another unit test
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
Due: modules

docs: adding more instructions about price feeder config (#1945)
  price-feeder/README.md
Due: none

add new returning value to userMaxWithdraw
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
Due: modules

test: helper Context and KVStore functions + sample usage (#1946)
  tests/tsdk/doc.go
  tests/tsdk/store.go
  util/store/iter_test.go
  x/uibc/quota/keeper/keeper_test.go
  x/uibc/quota/keeper/quota_test.go
Due: modules

signing commit
  x/leverage/keeper/msg_server_test.go
Due: modules

chore: set codecov targets (#1947)
  codecov.yml
  util/bytes.go
Due: none

release compatibility matrix
  README.md
Due: none

release note
  README.md
Due: none

rename field
  proto/umee/incentive/v1/genesis.proto
  x/incentive/genesis.go
  x/incentive/genesis.pb.go
Due: modules

docs: incentive module spec
  x/incentive/README.md
Due: none

fix: take into account the Total Available Liquidity and Collateral when MaxWithdraw (#1929)
  .gitignore
  CHANGELOG.md
  x/leverage/README.md
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
  x/leverage/keeper/msg_server_test.go
Due: modules

change back to experimental e2e
  .github/workflows/tests.yml
  contrib/images/umee.e2e.dockerfile
Due: none

initial app wiring
  app/app.go
  x/incentive/expected_keepers.go
  x/incentive/genesis.go
  x/incentive/keeper/genesis.go
  x/incentive/keeper/invariants.go
  x/incentive/keeper/leverage_test.go
  x/incentive/keeper/msg_server.go
  x/incentive/keeper/store.go
  x/incentive/keeper/suite_test.go
  x/incentive/module/genesis.go
  x/incentive/module/module.go
Due: app, modules

feat: ibc inflow only for registered tokens
  app/app.go
  util/ibc/ibc.go
  x/uibc/ics20/ibc_module.go
  x/uibc/ics20/keeper/expected_keepers.go
  x/uibc/quota/keeper/quota.go
  x/uibc/quota/keeper/relay.go
Due: app, modules

fix: fix the tests and lint
  x/uibc/ics20/ibc_module.go
  x/uibc/quota/keeper/quota_test.go
Due: modules

make go-mod-tidy
  price-feeder/go.mod
  price-feeder/go.sum
Due: none

comment out incomplete invariant
  x/incentive/keeper/invariants.go
Due: modules

fix MaxBorrow
  x/leverage/keeper/borrows.go
  x/leverage/keeper/collateral.go
  x/leverage/keeper/grpc_query.go
  x/leverage/keeper/limits.go
  x/leverage/keeper/msg_server.go
Due: modules

fix imports
  x/leverage/keeper/borrows.go
Due: modules

tests(levelrage)!; liquidation_threshold must be bigger than collateral_weight
  proto/umee/leverage/v1/leverage.proto
  x/leverage/types/token.go
  x/leverage/types/token_test.go
Due: modules

proto update
  swagger/swagger.yaml
  x/incentive/query.pb.go
  x/incentive/query.pb.gw.go
  x/leverage/types/leverage.pb.go
Due: none

changelog
  CHANGELOG.md
Due: none

Use umee pf docker container
  tests/e2e/e2e_setup_test.go
Due: none

Back to ojo pf container
  tests/e2e/e2e_setup_test.go
Due: none

remove checkCollateralLiquidity from Collaterize
  x/leverage/keeper/msg_server.go
Due: modules

Path conditions:
  app: any of: app/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  modules: any of: x/, but not: x/**/client/, **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
  client: any of: client/, x/**/client/, but not: **/*.proto, **/*.yml, **/*.json, **/*.toml, **/*.rst, **/*.md, **/*.pb.go, **/*.pb.gw.go, docs, tests, scripts, contrib, swagger
