Repository umee-network/umee: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

disable threshold
  codecov.yml
Due: none

add flags to github ci
  .github/workflows/tests.yml
  codecov.yml
Due: none

fix: fix the exchange price for ibc tsx
  x/uibc/expected_keepers.go
  x/uibc/quota/keeper/quota.go
Due: modules

fix: fix the exchange rate issue on ibc quota
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
Due: none

Fix whitespace for Make 4.3 (#1882)
  Makefile
Due: none

fix: fix the quota duration reset
  x/uibc/module/abci.go
  x/uibc/quota/keeper/quota.go
Due: modules

chore: remove fmt print
  x/uibc/module/abci.go
Due: modules

tests: more avg keeper tests
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
Due: modules

remove unused fmt
  x/oracle/keeper/historic_avg.go
Due: modules

mv const to var AvgPeriod and AvgShift
  x/oracle/keeper/params.go
Due: modules

tests: avg keeper shift and cycle tests (#1884)
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
Due: modules

Update root.go
  cmd/umeed/cmd/root.go
Due: none

removed flags from codecov
  .github/workflows/tests.yml
  codecov.yml
Due: none

tests: avg keeper halt check
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
Due: modules

update codecov to required changes in tests
  codecov.yml
Due: none

tests: avg keeper halt check (#1885)
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
Due: modules

disable threshold in codecov
  codecov.yml
  x/oracle/keeper/historic_avg_test.go
Due: modules

fix: fix the lint
  x/oracle/keeper/params.go
Due: modules

testing++
  codecov.yml
  util/store/store_test.go
Due: none

fix the relayer health check in e2e test
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
Due: none

increase the time for to check the status of relayer in e2e
  tests/e2e/e2e_setup_test.go
Due: none

add more tests 1. reset the hermes relayer back 2. check the outflow with exchange rate 3. check the supply of denoms after ibc tx
  tests/e2e/docker/hermes.Dockerfile
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
Due: none

feat(historacle): avg price query
  proto/umee/oracle/v1/query.proto
  swagger/swagger.yaml
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: modules

query implementation
  proto/umee/oracle/v1/query.proto
  swagger/swagger.yaml
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: modules

adding tests
  x/oracle/keeper/grpc_query_test.go
Due: modules

test update
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
Due: modules

feat(hisoracle): move Avg Shift and Period to Keeper
  x/oracle/keeper/historic_avg.go
  x/oracle/keeper/historic_avg_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/params.go
Due: modules

feat(historacle): avg price query (#1886)
  proto/umee/oracle/v1/query.proto
  swagger/swagger.yaml
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/grpc_query_test.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Due: modules

comment
  x/oracle/keeper/keeper.go
Due: modules

added uatom ibc txs 1. fix the outflow query wth ibc denom 2. fix the uToken exchange price
  proto/umee/uibc/v1/query.proto
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/scripts/gaia_bootstrap.sh
  x/uibc/query.pb.go
  x/uibc/query.pb.gw.go
  x/uibc/quota/keeper/quota.go
Due: modules

use sdkparams.EncodingConfig
  app/app.go
  app/encoding.go
  app/params/encoding.go
  app/params/proto.go
  cmd/umeed/cmd/root.go
  price-feeder/oracle/client/client.go
  tests/e2e/chain.go
Due: app

feat: add sdk client
  sdkclient/chain_height.go
  sdkclient/client.go
  sdkclient/query/client.go
  sdkclient/query/gov.go
  sdkclient/tx/client.go
  sdkclient/tx/gov.go
  sdkclient/tx/key.go
  sdkclient/tx/sign.go
Due: none

feat: umee client
  client/client.go
  client/oracle.go
  sdkclient/client.go
  sdkclient/query/client.go
  sdkclient/query/gov.go
Due: client

add bank
  sdkclient/tx/bank.go
Due: none

clean tests package
  sdkclient/client.go
  sdkclient/tx/gov.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/grpc/client/query/bank.go
  tests/grpc/client/query/client.go
  tests/grpc/client/query/gov.go
  tests/grpc/client/query/grpc.go
  tests/grpc/client/query/oracle.go
  tests/grpc/client/tx/bank.go
  tests/grpc/client/tx/client.go
  tests/grpc/client/tx/gov.go
  tests/grpc/client/tx/key.go
  tests/grpc/client/tx/sign.go
  tests/grpc/client/umee_client.go
  tests/grpc/gov.go
  tests/grpc/historical.go
  tests/grpc/price_listener.go
Due: none

address the pr coments and add TODOS for next pr
  tests/e2e/e2e_test.go
Due: none

Update tests/e2e/e2e_test.go
  tests/e2e/e2e_test.go
Due: none

fix cmd
  cmd/umeed/cmd/app_creator.go
Due: none

changelog
  CHANGELOG.md
Due: none

lint
  sdkclient/query/client.go
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
